[2020-03-18 20:24] Drazcat opened #1 "does it work with other languaje?"
if i change the vocabulary file, will ir work with other languaje? or this code is for vietnamese only?

[2020-03-19 03:26] huylenguyen806 commented on #1
It will work with any languages having small amount of characters, like 28 in english including ' and space. Languages like korean, mandarin and japanese have too much characters (more than 10k) so they only use 2-3k common characters for asr. The larger the number of classes, the harder CTC can decode.
This code is not tested yet, so you may meet some bugs :))

[2020-03-25 14:58] #1 closed

[2020-06-10 06:54] minhnb92 opened #9 "InfoRe data is not available anymore"
Hi,

I have tried to download the InfoRe dataset with the torrent link provided in the Post shared by you. But there is no seed anymore so I cannot download it. Could you please share the dataset via Google Drive or other hosts?

Thank you in advance.

[2020-06-10 07:29] usimarit commented on #9
I don't think I'm authorized to share that data publicly (those seeds are dead, which "might" mean that they do not want to share it anymore).
Let me contact the owner to ask if I can share that datasets and I'll let you know later.
In case they say I cannot, I can share them to you PRIVATELY via email or facebook (after I turn my server into torrent server).

[2020-06-10 07:44] minhnb92 commented on #9
Hi Huy,

many thanks for your reply and efforts to help me with the dataset. My email is nguyenbaminh1992@gmail.com. I am looking forward to hearing from you.

Best regards.

[2020-06-10 07:56] usimarit commented on #9
Okay, give me some time to upload them to my server (56GB total) :D I'll share them to you tomorrow.

[2020-06-10 09:04] usimarit commented on #9
Good news, they said that I can share the InfoRe datasets. Also, they said that they are refining and extending the datasets with other companies and they'll make those data public soon :D

[2020-06-10 11:47] minhnb92 commented on #9
Yay, thank you so much for your sharing :D If it is ok with you, could you share the current dataset with me tomorrow? I am really in need of it :)

[2020-06-11 17:02] usimarit commented on #9
Sorry, I have troubles with bittorrent and internet connection, therefore I still haven't upload the datasets to my VPS. I'm planning to create a downloadable link after the datasets are uploaded but I'm only available from this Sunday.
Could you wait a bit more? I'm really busy right now :(

[2020-06-12 08:27] usimarit commented on #9
The datasets' links are updated, close issue here

[2020-06-12 08:27] #9 closed

[2020-07-14 16:25] marshonhuckleberry opened #10 "provide example"
provide example in readme for quality evaluation, original text and recognised text (speak original text with your voice)

[2020-07-15 12:21] stefan-falk opened #11 "Setup: Could not find a version that satisfies the requirement ctc-decoders"
Running `pip install .` after cloning the repository gives me:

[code]

How can I set this up correctly?

### Enrionment

[code]

[2020-07-15 12:52] usimarit commented on #11
Sorry that I didn't write README properly. The repo of `ctc-decoders` is in the file `setup.sh`, you can install it manually :D
I'm working on NAN issue in Warp RNNT Loss so Transducer models are not ready yet. :(

[2020-07-15 14:02] usimarit commented on #11
I updated README (include instructions for setting up env) and remove `ctc-decoders` from requirements so that we can install it manually if needed.

[2020-07-15 18:01] usimarit opened #12 "RNNT Loss gives Nan values"
Working on the `increasing loss values to Nan` problem

[2020-07-16 09:54] usimarit commented on #12
Fixed

[2020-07-16 09:54] #12 closed

[2020-07-16 10:06] usimarit commented on #11
The rnnt models are able to train now, and usage of the scripts to install external dependencies are specified in README. I'll close this here. Let me know if you have any other issues :D

[2020-07-16 10:06] #11 closed

[2020-07-16 10:17] usimarit commented on #10
I'll provide some evaluation examples in Vietnamese soon :smiley:. I haven't trained any models in English or other languages yet so I don't have any examples for those languages.
About speaking with my voice, I don't think my dataset covers enough voices in order for the model to perform well on my voice, but I'll include it anyway.

[2020-07-16 10:20] stefan-falk commented on #11
@usimarit Hello! Thanks for working on this! I'll give it a try as soon as I find the time. :)

[2020-07-16 10:43] stefan-falk commented on #11
@usimarit Regarding the NAN issue: I had this issue too when I was using https://github.com/noahchalifour/rnnt-speech-recognition. I was Able to fix it though after following https://github.com/noahchalifour/rnnt-speech-recognition/issues/31#issuecomment-637499806 - not sure if that will help.

[2020-07-16 11:07] usimarit commented on #11
I had it because I was giving wrong `input_lengths`. The model reduces time dimension but I didnt reduce the `input_lengths` fed to rnnt_loss, therefore the time in `acts` and the `input_lengths mismatch, so it gave Nan values (and also output mismatch likelihood). I fixed it and it works now :laughing:

[2020-07-16 11:12] stefan-falk commented on #11
Awesome! Thank you :)

[2020-07-21 13:26] stefan-falk opened #13 "Question: Transducer.recognize for streaming-decode"
I am trying to understand how the streaming-decode works. There's a few things which I am not sure whether I completely understand them so I hope it's okay if I'm asking here.

The first part concerns the memory of the prediction network. In [`TransducerPrediction`](https://github.com/usimarit/TiramisuASR/blob/dc48d39f56a849c0783d8a0302ff29e850a72fad/tiramisu_asr/models/transducer.py#L23) I see th

[2020-07-21 17:56] usimarit commented on #13
Hi @stefan-falk, you are free to ask any question :smile: Here are my answers.

=> Yes, that's correct. But we don't forward passing the last state manually because each lstm layer already does that for us, we have to keep track the **last state of EACH lstm layer** because the `call` function of PredictionNetwork doesn't know the states of the previous **batch** (`batch = 1`) since LSTM layers ar

[2020-07-22 06:34] stefan-falk commented on #13
I think you're correct. When stacking LSTMs each layer should have its own internal state based on the output sequence of the previous LSTM. What I am doing is passing forward the state of each LSTM to the next layer.  I think I was thinking of a classic encoder-decoder model like below as I wrote that.

[code]

Ah I see - I assumed it was mainly because we can just replace the encoder by some oth

[2020-07-22 06:44] stefan-falk commented on #13
I'm going to close the issue 😃 👍

[2020-07-22 06:52] usimarit commented on #13
No problem, I'm glad that you like this repo :laughing:

[2020-07-25 07:53] stefan-falk commented on #13
@usimarit Hi again! 😄

So.. I've been running a few experiments on my own implementation which is largely inspired by [rnnt-speech-recognition](https://github.com/noahchalifour/rnnt-speech-recognition) and [TiramisuASR](https://github.com/usimarit/TiramisuASR).

However, it seems that there's either something wrong with the model or the implementation of `recognize()`.

This keeps me up at night a

[2020-07-25 08:32] usimarit commented on #13
Hi @stefan-falk

In my experience, for the model to **converge**, the mean value of loss function like `ctc_loss` and `rnnt_loss` of about **200 batches** must be **smaller than 30**. The value of your loss is high so I guess the model has not converged yet. I have trained a transducer for vietnamese and the loss reduced to `11.` for val_loss and `7.` for train_loss. I haven't test yet :laughing:

[2020-07-25 09:27] usimarit commented on #13
I just tested and it seems like there is a problem with the `recognize()`. I'm trying to find it :sob:

[2020-07-25 12:47] stefan-falk commented on #13
@usimarit Oh, alright so maybe it might not be the model?

Okay, I guess in that case I'll take a closer look as soon as I have the time. Unfortunately I'm busy over the weekend but I will try to find out what the issues is a let you know if I find something!

[2020-07-25 13:27] usimarit commented on #13
@stefan-falk The **Algorithm 1** is Beam Search, which I implemented in `recognize_beam()` but unfortunately it runs really slow. We should find a faster algorithm for Transducer Beam Search.

[2020-07-25 13:37] usimarit commented on #13
@stefan-falk I just found out that using `mask_zero=True` in the `Embedding` like you did makes sense and it works, and the final step is to merge the **repeated** characters (which I haven't implemented).

[2020-07-26 16:52] usimarit commented on #13
Hi @stefan-falk

Good news, I found the issue. It is `recognize()`

The issue is I was **wrong** because at the time-step, **ONLY NON-BLANK** predicted character is accepted (if it's blank, keep the previous hyp). So after I fixed it, the model predicts quite good, here is my example in vietnamese:

![Screenshot from 2020-07-26 23-43-38](https://user-images.githubusercontent.com/28498441/88484667-

[2020-07-27 07:31] stefan-falk commented on #13
@usimarit Great work!

I wasn't 100% sure about whether or not `mask_zero` makes sense but since my model didn't work _everything_ came under suspicion of breaking things! 😆

It does seem however that there's still a problem with my own implementation. 😞 I've been using the `tf.while_loop` code and it does work as such but my model tends to predict garbage. Also, that predicted text always contain

[2020-07-27 16:16] usimarit commented on #13
@stefan-falk I'm using batch size 4, the conformer is trained using google colab for 22 hours on the dataset contains 1-10 seconds each audio.

=> What i mean is I only plot the average loss of about 200 batches (before computing batch 201, the `tf.keras.metrics.Mean` will be resetted to 0) and the **30** value is not the "first" 200 batches but it's the loss value after like 15 epochs (the loss v

[2020-07-27 20:37] stefan-falk commented on #13
Yes, I thought that you're probably plotting some average :) Thank you for those numbers - it gives me some orientation of where I should land 🤣

I have a validation dataset but I disabled it during development. I'll start another training and see what the validation loss looks like. Last time I checked it was "fine" in the sense that it converged like the training loss.

Alright, `mask_zero` it i

[2020-07-28 05:45] stefan-falk commented on #13
Small update:

This is another training I startet over night. I have increased the model size which seems to be helpful:

![image](https://user-images.githubusercontent.com/43335432/88623727-e0ec8680-d0a5-11ea-9603-80b98ab5a1d2.png)

However, the issue is still there when I evaluate the model in a separate script. So the issue might be in that script but that just does not make _any_ sense because

[2020-07-28 06:45] usimarit commented on #13
@stefan-falk I used learning rate schedule, that's why the loss decreased so fast :laughing:

I think for now, the model converged so the issue lies in either the `recognize()` or the test data doesn't match between audio and labels. I'm pretty sure you do it right for the test data. Maybe you can reuse my new `recognize()` to see if it solves the problem. Because the `recognize_beam()` I implemen

[2020-07-28 08:19] stefan-falk commented on #13
@usimarit I think I have a candidate for the issue.

So.. I've been re-using a dataset the whole time and with it comes some preprocessing logic that is responsible for computing the MFCC features from the audio. I ported that code from TF1 but I didn't think about one last step that's inside that routine: Apply convolutions to the input.

I _think_ what happens here is that I am applying the prep

[2020-07-29 04:10] stefan-falk commented on #13
@usimarit As expected: This was indeed causing the issue ^^ the model finally works and produces something useful. Just wanted to let you know and say thanks again for your support! 😄

[2020-07-29 05:42] usimarit commented on #13
@stefan-falk No problem :laughing: I'm gonna close the issue here :+1:

[2020-07-29 05:42] #13 closed

[2020-07-30 16:10] usimarit opened #14 "Re-implement SEGAN for multi-gpus"

[2020-08-26 10:50] usimarit commented on #10
I have provided some examples of `conformer` trained on librispeech 100h in this website: [huylenguyen.com/asr](https://huylenguyen.com/asr)

[2020-08-26 10:50] #10 closed

[2020-09-03 03:59] ngoanpv opened #16 "Cannot access to dataset InfoRe"
Hi,
I cannot access to dataset InfoRe. Could you please update the link?
Thank you!

[2020-09-03 05:34] usimarit commented on #16
Hi @ngoanpv,
My personal server is currently down (my laptop's charger is broken), therefore I cannot provide you the downloadable link for quite a while.
Also I don't have enough google drive storage to store the data.
I'm fixing the charger so please wait, I'll notify you when the server is up.

[2020-09-03 06:24] ngoanpv commented on #16
Thanks for your information,
I look forward to receiving your update!

[2020-09-04 10:05] usimarit commented on #16
Hi @ngoanpv, the link is updated, I'm closing this here.

[2020-09-04 10:05] #16 closed

[2020-09-04 22:08] ngoanpv commented on #16
Hi @usimarit, thanks for your update.
I cannot unzip those files because it has a password!
Could you provide the password?

[2020-09-05 00:54] usimarit commented on #16
@ngoanpv, ah I forgot, it's `BroughtToYouByInfoRe`

[2020-09-17 11:47] mapledxf opened #17 "Reshape error with tflite model"
I run the conformer model without any error.
But I got the following error when I run the tflite model with the same inputs.

[code]

Any idea why?

[2020-09-17 12:00] mapledxf commented on #17
After I update the tf-nightly to the most recent version, I got following error:
[code]

[2020-09-17 13:02] usimarit commented on #17
It's because tflite model doesn't support `tensor[index]`, so I have to use `tf.gather_nd` instead. I fixed this issue in master :D

[2020-09-18 03:13] mapledxf commented on #17
It is all good now, thx!
The inference speed is a little bit slow,
but it is an amazing project anyway!

[2020-09-18 03:13] #17 closed

[2020-09-18 03:24] usimarit commented on #17
The beam search implementation is single thread so it's slow. I'm finding a way to improve it :D

[2020-09-30 08:12] ahsanmemon opened #21 "Can't find Residual Connections"
I cant find residual connections in the conformer block. Is there something that I am missing or probably
![image](https://user-images.githubusercontent.com/28605862/94659989-8b8b5a80-031e-11eb-83f9-04362b1ec007.png)
you have missed on your end?

![image](https://user-images.githubusercontent.com/28605862/94659860-58e16200-031e-11eb-8aec-f2a99ebba779.png)

I

[2020-09-30 08:15] ahsanmemon commented on #21
found them. closing the issue
![image](https://user-images.githubusercontent.com/28605862/94660395-09e7fc80-031f-11eb-9f87-047bc6436276.png)

[2020-09-30 08:15] #21 closed

[2020-10-05 17:42] ahsanmemon opened #24 "Augmentation not working"
Augmentations giving this error (below). However, when I disable augmentation from config.yml file, the system works perfectly.
![image](https://user-images.githubusercontent.com/28605862/95113493-fa701580-075b-11eb-95ea-062417ec8bff.png)
Something that I am missing?

[2020-10-05 17:56] usimarit commented on #24
@ahsanmemon You must generate `transcripts.tsv` files from LibriSpeech and change the paths in default `config.yml`.
The error says "Nonetype is not subscriptable", which means that the data fed to augmentation is None, you have to make sure there's data.
Recommended: the default `config.yml` is the example config file, it works only on my machine, you should create your own config file.

[2020-10-05 18:00] ahsanmemon commented on #24
@usimarit , I did change the paths, and the transcripts.tsv files do exist I think. When I disabled the augmentations (shown in image below), the training started normally. (attaching image of it too)

![image](https://user-images.githubusercontent.com/28605862/95115118-62276000-075e-11eb-9447-a6aaf25488b4.png)
![image](https://user-images.githubusercontent.com/28605862/95115186-808d5b80-075e-11eb

[2020-10-05 18:01] ahsanmemon opened #25 "Receiving forward-backward warning"
I am getting this warning. Is it okay to be getting this?

![image](https://user-images.githubusercontent.com/28605862/95115301-adda0980-075e-11eb-8353-4bf1537a21d5.png)

[2020-10-05 18:07] usimarit commented on #25
No, when you get these warnings, you are doing wrong.
Did you run `conda install tensorflow-gpu`, specify `CUDA_HOME` and run `scripts/install_rnnt.sh` in the conda env?

[2020-10-05 18:37] ahsanmemon commented on #25
Thanks for pointing it out. I had actually missed out on the CUDA_HOME part. After adding CUDA_HOME, the code is now working fine and I am getting positive losses.

Thanks

[2020-10-05 18:37] #25 closed

[2020-10-05 20:04] entn-at commented on #24
Try PR #26. It addresses this issue.

[2020-10-05 21:30] entn-at opened #27 "Question about training setup"
Hi,

I'm curious to learn what training setup you are using to train the subword conformer librispeech model. I'm currently training such a model (on a different dataset) on a RTX2080Ti but noticed very low GPU utilization and generally slow training speed. I am trying to figure out how to improve training speed.

Thanks!

[2020-10-06 02:29] usimarit commented on #27
I used 4 GPUs RTX 2080Ti, I trained whole LibriSpeech in 2 days using conformer with 1031 subwords (no tfrecords)
If you use HDD, you can speed up training by using tfrecords.
I noticed the GPU util is about 30-60% in my case.
I think it's because of the LSTMs and RNNT Loss that cause GPU utilization lower than models using only CNN.

[2020-10-06 04:47] ahsanmemon commented on #24
great. thanks. downgrading nlpaug to 0.0.14 solved the problem. closing.

[2020-10-06 04:47] #24 closed

[2020-10-06 11:49] entn-at commented on #27
Thanks a lot!
I tried training with 4xRTX2080Ti, `config.yml` copied from the pretrained librispeech subword model (except minor changes to paths etc.) with 764 subwords and either with or without tfrecords (data is on SSD). Unfortunately, GPU utilization is practically zero most of the time, sometimes 1-3%. Consequently, the time per batch is quite high:
`[Train] [Epoch 1/20] |

[2020-10-06 11:49] #27 closed

[2020-10-10 09:23] alsm168 opened #28 "about mask in conformer?"
hello，
I see the multi-head-attention have mask input in your code , but I can't find any code that generate the **mask**，Is this a bug?thank you  very much.

[2020-10-10 09:28] usimarit commented on #28
I'm planning to support masking in every models, but now I haven't implemented masking so there's no code to generate **mask**. The mask in multi-head-attention will be used in the near future, for now you can ignore it.

[2020-10-10 09:28] alsm168 opened #29 "about vocabulary"
hello, when train transducer, whether the vocabulary should include **S** and **/S** as the sentence start and sentence end tag?thanks.

[2020-10-10 09:36] alsm168 commented on #28
ok, thank you.  I'm looking forward to see.

[2020-10-10 09:36] #28 closed

[2020-10-10 09:38] usimarit commented on #29
There's no need include **S** and **/S** _if in your dataset doesn't have those characters_.
For example, in librispeech, there are only characters from english alphabet (a-z), space and the '. So vocabulary (if you use characters model instead of subwords model) is (a-z) + space + ' + blank = 29 characters as in the [english.txt](https://github.com/usimarit/TiramisuASR/tree/master/vocabularies/en

[2020-10-10 09:45] alsm168 commented on #29
I got it, Thank you for your explanation.

[2020-10-12 22:22] entn-at commented on #27
Just to follow up on this: Training is working fine now, I missed an outlier with long duration in my dataset. After removing it, training is progressing with ~2 batch/s.

Thanks again for the prompt reply!

[2020-10-15 16:14] #29 closed

[2020-10-21 02:31] Honghe opened #32 "transducer_loss is negative"
Environment:
- Ubuntu 20.04
- TensorFlow 2.3
- TensorFlowASR main

Command:
[code]

Log:
[code]

[2020-10-21 02:45] usimarit commented on #32
Hi @Honghe, the cause is wrong installation of rnnt loss, remember to export CUDA_HOME before running `scripts/install_rnnt_loss.sh`

[2020-10-21 09:24] Honghe commented on #32
After rebuilt warprnnt_tensorflow with CUDA, it seems to be running correctly.
[code]
But it will consume 6 hours to train one epoch, is this normal?
Environment: i7 cpu, one 2080Ti GPU.

[2020-10-21 12:54] usimarit commented on #32
@Honghe in your case, it's the total of 6 hours for 20 epochs

[2020-10-21 15:23] Honghe opened #33 "Training loss is always above 200 on dataset LibriSpeech/train-clean-100"
Environment:
- TensorFlow GPU 2.3
- TensorFlowASR https://github.com/TensorSpeech/TensorFlowASR/commit/ade78916987b6a61642b650cc10d259aeeb1d92e

Training command:
[code]
![image](https://user-images.githubusercontent.com/1092722/96740750-b5064600-13f3-11eb-99d6-d59c5909c644.png)

[2020-10-21 15:30] Honghe commented on #32
@usimarit ` --tbs 8 --ebs 8` makes TensorFlow CUDA OOM after a few steps, is there memory leaking somewhere?
Batch size 8 is a little small, how to effectively increase batch size?
[code]

[2020-10-21 15:33] usimarit commented on #33
@Honghe Are you using the same config as in the example directory (only different dataset paths)?

[2020-10-21 15:41] usimarit commented on #33
@Honghe The model I trained on 4 RTX 2080Ti 11G with `--tbs 3` on each gpu.
Regardless the batch size, this is weird because it hadn't happened to me before, the validation loss should be under 10

[2020-10-21 15:47] Honghe commented on #33
@usimarit  config.yml, I only modify dataset paths.
[code]

[2020-10-21 15:47] usimarit commented on #32
@Honghe I'm working on gradient accumulation to increase batch size. Technically, when training ASR, batch size small is normal, there's no memory leaks because this model requires lots of memory (due to multi-head self attention), regardless its small number of parameters.

[2020-10-21 15:50] usimarit commented on #33
@Honghe another time I trained librispeech 100h, it gave the validation loss smaller than 10.
Can you try checking out the branch `r0.2.6` and retraining the model? I don't have available gpus this time.

[2020-10-21 15:54] Honghe commented on #33
@usimarit Did you use `--tbs 3 --ebs 3`? And after how many steps when reach loss < 10?

[2020-10-21 16:04] usimarit commented on #33
![Screenshot from 2020-10-21 23-00-18](https://user-images.githubusercontent.com/28498441/96746331-458f5700-13f1-11eb-85fb-23eb5e13deaf.png)
@Honghe Actually it's about 20, this is a very old wrong implementation of conformer, with batch size 4
For the results in the newest example, I used `--tbs 3 --ebs 4` with 4 gpus, so actually it's tbs 12 and ebs 16.

[2020-10-22 05:52] Honghe commented on #33
@usimarit The loss still high after changed to r0.2.6.
Environment:
- TensorFlowASR r0.2.6
[code]
![image](https://user-images.githubusercontent.com/1092722/96830104-71e8b900-146d-11eb-993f-cca60d13e5a1.png)

[2020-10-22 10:48] usimarit commented on #33
@Honghe so the newest version ans r0.2.6 is the same.
I used `warmup_steps = 40000` for batch size 12.
Try with that value, may be it will overcome local minima

[2020-10-22 15:34] Honghe commented on #33
@usimarit After changed to `warmup_steps = 40000`, the training got a better loss.

![image](https://user-images.githubusercontent.com/1092722/96895513-147d5800-14bf-11eb-8d34-0606181d1d67.png)

[2020-10-22 15:56] usimarit commented on #33
@Honghe Yeah, problem solved :laughing:

[2020-10-25 15:05] OscarVanL opened #35 "Android Example App for real-time speech-to-text"
Hi,

I'm evaluating different techniques for creating speech recognition models that are suitable for use on an Android app.

I'm looking for a way to perform speech-to-text in a real-time, streaming fashion, which is performant even on an Android phone. The full plan is for the output of the speech-to-text to enter a text-to-speech (FastSpeech2 + MB-MelGAN) model for speech synthesis with as litt

[2020-10-25 15:16] usimarit commented on #35
I don't have any examples for Android because I haven't had time for that.

In my view, the best choice for **streaming** speech recognition is the paper: [https://arxiv.org/abs/1811.06621](https://arxiv.org/abs/1811.06621). I implemented ONLY the model, other techniques in the paper are not yet supported, and I haven't trained it yet.

The reason why I choose that model over other SOTA models is

[2020-10-25 15:26] mapledxf commented on #35
@usimarit  do u have the pretrained model? maybe i can do the android demo based on the pretrain model.

[2020-10-25 15:41] OscarVanL commented on #35
@mapledxf That would be awesome, your TensorFlowTTS Android example is excellent :)

[2020-10-25 15:54] usimarit commented on #35
@mapledxf I ONLY have conformer pretrained model, which is unusable when applying for **streaming**, but it works well for **non-streaming**. It would be great if you can add Android demo for Conformer :smile:

[2020-10-26 02:05] alsm168 commented on #35
the conformer can be transformed to be  **streaming** if add mask to mask the future information in transducer encoder?

[2020-10-26 02:12] usimarit commented on #35
Maybe, but it still loses audio features information of the previous chunks because there're no states in the encoder.

[2020-10-26 02:24] mapledxf commented on #35
@usimarit  I have already tried to deploy the conformer model to the android device. The problem is it is slow and it doesnt support streaming. :(

[2020-10-26 02:40] usimarit commented on #35
I deployed the conformer on my website, and it's kinda fast. How is it slow? Like 3-4s latency?

[2020-10-26 03:22] mapledxf commented on #35
yeah, it's like 3 sec delay on my android pad.

[2020-10-26 03:26] usimarit commented on #35
@mapledxf on my website, excluding the delay of the network, it's like 1s latency.

[2020-10-26 03:48] mapledxf commented on #35
The mobile's performance is much lower than the pc or server because of the cpu architecture's differences.

[2020-10-26 12:24] OscarVanL commented on #35
Thank you for checking this for me mapledxf. Is it possible that other model types would be faster on Android?

[2020-10-26 14:03] usimarit commented on #35
I believe **streaming** models can be faster because they predict on audio chunk, which is 4-5 times smaller than the whole audio, and they predict while we're speaking, whereas **non-streaming** only predict after we speak.

[2020-10-27 04:22] mapledxf commented on #35
need a pretrained streaming model :(

[2020-10-27 06:57] mapledxf commented on #35
@usimarit I'm trying to train a streaming transducer model with LibriSpeeach dataset.
I just changed the dataset path in the config file.

bug the loss looks very odd:

<img width="336" alt="image" src="https://user-images.githubusercontent.com/3639832/97267196-b9ec4f00-1864-11eb-83e1-a6a90abb58ee.png">

Any idea why?

[2020-10-27 11:16] #33 closed

[2020-10-27 11:16] #32 closed

[2020-10-27 17:01] usimarit commented on #35
I think it's stuck at local minima, try removing augmentations.

[2020-10-28 02:32] mapledxf commented on #35
I removed the augmentation in the config.yaml, and still got the same result:
This is the config.yml:
[config.txt](https://github.com/TensorSpeech/TensorFlowASR/files/5449176/config.txt)

This is the training log:
<img width="814" alt="image" src="https://user-images.githubusercontent.com/3639832/97383525-cc1fc900-1908-11eb-8e89-284e49cb63c5.png">

[2020-10-28 07:18] usimarit commented on #35
I haven't added the learning rate to the optimizer, try use learning rate 0.0001 or change the optimizer to SGD

[2020-10-28 12:11] huangzj421 opened #37 "ValueError: The channel dimension of the inputs should be defined. Found 'None'"
I tried to test with "python examples/conformer/train_conformer.py" when I encounted the above error. It happend in line 114:"conformer._build(speech_featurier.shape)" and the shape is [None,80,1], But in the last line of error, happened in "site-packages/tensorflow/python/keras/layers/convolutional.py:361 _get_input_channel" raise ValueError("The channel dimension of the inputs is None" I wondere

[2020-10-28 13:34] usimarit commented on #37
Can you give me the whole screenshot of the error?

[2020-10-29 02:09] mapledxf commented on #35
@usimarit
I've changed the optimizer_config in config.yaml to the following, but still no luck. :(
[code]

[2020-10-29 02:43] mapledxf commented on #35
I changed
[code]
in the train_streaming_transducer.py seems to work now. :)

[2020-10-29 03:32] mapledxf commented on #35
@OscarVanL you can close this issue for now.

I will create a PR once I finished training and the Android Demo if everything works fine.

[2020-10-29 03:43] usimarit commented on #35
Yeah, the Adam Optimizer needs small learning rate or a scheduler to work well :smile:

[2020-10-29 07:04] huangzj421 commented on #37
I am sorry for my mistake.

![1](https://user-images.githubusercontent.com/73161104/97536185-bf2dd300-19f7-11eb-91f3-31eb669d26b4.jpg)

[2020-10-29 07:27] usimarit commented on #37
@huangzj421 Did you change anything? Because I've tested and I don't have that error.

[2020-10-29 08:31] OscarVanL commented on #35
Awesome. Thank you for all the effort you're putting into this. I look forward to it, if you get it working :)

[2020-10-29 08:31] #35 closed

[2020-10-30 01:16] huangzj421 commented on #37
No, I just followed your instruction to install TensorflowASR and noahchalifour/warp-transducer to install warprnnt_tensorflow. Both work well. And also I simply changed the dataset_config and running_config-outdir to my own path.
The main problem seems to happen in "speech_featurizer.shape". Is yours [None,80,1]?

[2020-10-30 02:36] usimarit commented on #37
@huangzj421 try reinstalling the newest version of TensorFlowASR and tensorflow. And yes the shape is [None, 80, 1] excluding the batch dimension.

[2020-10-30 05:47] huangzj421 commented on #37
I am sorry but I still get the same error.
I reviewed the "*/site-packages/tensorflow/python/keras/layers/convolutional.py" where the error exists and found in line 165: the data_format is channel-first. But the channel dim of your data shape is the last (1). I don't understand.

[2020-10-30 06:15] usimarit commented on #37
The data_format in my repo is None, which is the default 'channels_last'.
Try redo the environment installation:
0. `conda create -n env python=3.7 tensorflow`.
1. `conda activate env`
2. `pip install -U tensorflow`
3. `python setup.py install`
4. `./scripts/install_rnnt_loss.sh`

[2020-10-30 07:33] huangzj421 commented on #37
ok, thanks!

[2020-10-30 07:33] #37 closed

[2020-11-03 02:34] Mddct opened #39 "librosa sfft with center=True ，value is different with tensorflow tf.signal.sfft"
librosa sfft with center=True ，value is different with tensorflow tf.signal.sfft。

librosa with center=true， it will pad the feame_length to n_fft with constant zero value 。It also pad signal with reflect mode。

The feature extraction shuold cover this difference。

[2020-11-03 14:34] usimarit commented on #39
@Mddct There will be differences due to different implementation between `librosa` and `tf.signal`. But changing `center=False` helps reduce it.

[2020-11-03 14:35] usimarit commented on #39
#40

[2020-11-04 00:16] Mddct commented on #39
In my experiment，center=true and frame_length = n_fft=2^m , the result
 is same。

Nguyễn Lê Huy <notifications@github.com> 于 2020年11月3日周二 下午10:34写道：

[2020-11-04 11:02] usimarit commented on #39
@Mddct what is `m` in your experiment?

[2020-11-04 17:31] usimarit commented on #39
![Screenshot_20201105_002852](https://user-images.githubusercontent.com/28498441/98146190-f6234d80-1efd-11eb-8c3c-0cc35c7d176f.png)
@Mddct I don't know why but librosa splits frames using nfft instead of frame_length, this causes differences between librosa and tf.signal

[2020-11-05 01:23] Mddct commented on #39
thx ， the  torch.stft also splits frames using nff_t。

So I implemented a simple version of tensorflow, but it has not been tested in detail
[code]

[2020-11-05 14:03] Mddct commented on #39
I found something new。The mel matrix in  librosa and pytorch is also different from tensorflow。I will make a PR  later。

[2020-11-07 07:42] monatis opened #41 "Attempting to add a duplicate function when exporting to TF Lite"
I want to deploy Conformer Subwords model on RPi for a PoC work. When exporting the latest pretrained model with `tflite_subword_conformer.py` and `tf-nightly v2.5.0.dev20201106`, I'm getting the following exception. Anyone getting the same?

[code]

Please note that I omited the signature definition for brevity, but I can post it separately if it matters.

[2020-11-08 06:20] usimarit commented on #41
@monatis the issue is reproduced, I'm working on it.

[2020-11-08 10:43] monatis commented on #41
Hi @usimarit, thanks. I was able to export to TF Lite with `tf-nightly v2.4.0.dev20200901`, but I'm getting the following error during inference. I'm investigating this one now:
[code]

[2020-11-08 11:29] usimarit commented on #41
@monatis There's some bugs in conformer encoder in tf-nightly (it works with tf 2.3). I'm still working on this.

[2020-11-08 12:56] usimarit commented on #41
@monatis I fixed the issue: the `tf.squeeze` is not supported in  `tf-nightly` so I have to use pure `tf.reshape`. Please pull the newest commits on branch main and try again. If there still has bugs, just raise them and I'll continue to fix :smile:

[2020-11-09 09:06] monatis commented on #41
Hi @usimarit, I was able to export with `tf-nightly v2.4.0.dev20200901` but needed to upgrade to `v2.5.0.dev20201108` for inference due to a runtime error with unsupported flex ops in the former. Now that the issue is resolved, I'm closing it, but attached is the [converted TF Lite models](https://www.dropbox.com/s/0p8kspykd2mth13/conformer-tflite.zip?dl=0) --you may want to share them on Drive al

[2020-11-09 09:06] #41 closed

[2020-11-09 09:13] usimarit commented on #41
@monatis I uploaded to the drive, thank you for sharing 😄

[2020-11-10 18:04] eashan2798 commented on #24
Can you tell how to create the transcript.tsv files.Not able to get from where transcripts.tsv will generate?

[2020-11-15 14:57] masoudMZB opened #44 "New Dataset Structure"
I have created my own data as documentation said ( wave files and tsv file for them. near 300h  ) Now I can't understand what really should I do, to prepare it for training. is just the tsv and wav files enough to start training?

I mean here. should I create a new py file and implement these 2 files? how is the implementation of these 2 functions? where this new py file should be imported?
an Exa

[2020-11-15 16:15] usimarit commented on #44
The dataset I've created uses `tsv` files, if you only need to train and evaluate ASR, then `tsv` and `wav` files are enough.
If you want to create your own `tf.data.Dataset` for your own purpose, then you can inherit the `BaseDataset` class. The implementation you can find in the same directory of the `README.md` file where you read those documents.

[2020-11-16 11:22] masoudMZB commented on #44
I got it. So I just change the directory of tsv file in .yml file in deep speech 2 examples folder and start training by running train_ds2.py

2 more question :

1-) can I use a language model created by Kenlm repository as my language model? I mean should we use a special kind of language model or we can use any lm we want? and what if I don't have any? is there any default (because I'm in anothe

[2020-11-16 13:16] usimarit commented on #44
1) For CTC model, the kenlm is supported, you can run `scripts/install_ctc_decoders.sh` to install baidu's ctc beam search and add the `Scorer` to text_featurizer. I'll update the example to make everything clearer.

2) For now I dont have pretrained deepspeech2, only conformer. But for transfer learning, you can load the pretrained weights before fitting model, no need for loading any checkpoints

[2020-11-16 14:31] masoudMZB commented on #44
well, thanks for your guidance. you answered so clear.

So I'll close this issue.

If I face any new problem, I'll reopen this.
Thanks

[2020-11-16 14:31] #44 closed

[2020-11-16 23:11] danielkope opened #45 "Example of conformer"
Would it be possible to provide an example of running inference on the unconverted (non-tflite) model as well.

If I try to run the tflite if segfaults always. I think the conversation is a bit buggy.

my steps are:
In TensorFlowASR/examples/conformer:
1) train_conformer.py -> creates checkpoint and h5 file
2) tflite_conformer.py -> point to the h5 file
Then, I run TensorFlowASR/examples/demonstra

[2020-11-17 08:44] hongthana opened #46 "Error numpy version"

[2020-11-17 08:55] bill-kalog commented on #45
you can run the tf lite code if you use a cpu version of tf. For using gpu you need probably gpu delegate or something like that during extraction...

[2020-11-17 08:55] #46 closed

[2020-11-18 10:30] danielkope opened #47 "GPU Training broken on Conformer and Conformer with Gradient Accumulation"
The transducer loss runs into a NaN and starts off already negative on the GPU (cuda10.2) - works fine on CPU.

Using supplied config - with small libri dataset.

[2020-11-18 11:10] usimarit commented on #47
@danielkope Try reinstalling rnnt_loss for GPU, remember to `export CUDA_HOME=/usr/local/cuda` before running `scripts/install_rnnt_loss.sh`.

[2020-11-18 11:37] danielkope commented on #47
That seems to have worked. So a library mismatch between TF <-> Cuda somehow made its way into my environment - interesting.

[2020-11-19 06:12] monatis opened #49 "SimCLR loss for self-supervised speech representation learning"
Hi,
Self-supervised pretraining for speech representation is a promising technique for developing ASR in resource-constraint languages with little transcribed data, and SimCLR is applied with success for this purpose in recent papers. Any plan to add support for SimCLR contrastive objective to this package?

**Relevant papers**
- [Speech SIMCLR: Combining Contrastive and Reconstruction Objective f

[2020-11-19 12:30] tann9949 opened #50 "Low GPU utilization for multi-GPU training"
I have trained a Conformer model using my own custom dataset in Thai. However, GPU Utilization seems to be pretty low as the training speed is pretty slow (~2 s/batch). The GPU was utilized by around 5-10%. Are there anyways to debug this problem?

For training, I simply edited `config.yaml` in `examples/conformer/config.yaml` and run
[code]

Software Specification:
OS: Debian GNU/Linux 10 (buster

[2020-11-19 12:38] usimarit commented on #50
This is weird, try using `--mxp`, mixed precision is faster. Anyway, I've tested on rtx 2080ti and gpu usage is around 30-70%.

[2020-11-19 13:31] #47 closed

[2020-11-19 13:41] bill-kalog commented on #50
you could also try caching the dataset using the cache flag if you have enough ram. After the first epoch I had at least 2 batch/s if I remember correctly using T4 with high gpu-util

[2020-11-19 13:46] usimarit commented on #49
@monatis Feel free to contribute any new approaches to this repo 😄 I have many plans, but lack of time to implement. Therefore it would be great if anyone can help this repo grow. (Don't worry, I'm still active for quite a long time, but new methods take time to arrive if only me is the one who implements them).

[2020-11-19 14:00] tann9949 commented on #50
Sorry for the stupid question, how do I use cache flag?

[2020-11-19 14:05] bill-kalog commented on #50
@tann9949 sure just pass  `--cache` in your training call you can use tfrecords too `--tfrecords`  and specify a directory for them to be stored in the `tfrecords_dir: ` inside your `config.yml` the records will be created for you if they don't exist yet the first time you run the training script

[2020-11-19 15:08] tann9949 commented on #50
@bill-kalog Thanks for the reply!

I've tried this method and this speeds up by ~1.2 s/batch. Still, GPU utilization is still merely 5%

[code]

I'm not sure if it's about my sequence length of the audio file, my maximum sequence length is around 30 seconds. I have no idea how to debug this problem.

[2020-11-19 15:13] monatis commented on #49
@usimarit great! I'm trying to fully understand how the whole package comes together to implement the method in the simplest way. PR will come when it's ready. I believe that it'll help add support for many more languages with little transcribed data. Personally, I prepared a large audio-only speech dataset for self-supervised pretraining in Turkish which has only 20-hour transcribed data in the p

[2020-11-19 16:19] usimarit commented on #50
@tann9949 I noticed from step 2500, the speed reduces from 3.1batch/s to 2s/batch. Is the usage still around 5% within that first 2500 steps?

[2020-11-19 16:22] tann9949 commented on #50
The 2s/batch was during training, 3.1batch/s was during eval. And yes, GPU usage is around 0-5%

[2020-11-19 16:47] usimarit commented on #50
@tann9949 my bad, so the problem might lie in `optimizer.apply_gradients` for `tape.gradients`. Can you try running with `train_ga_conformer.py`? It's gradient accumulation training

[2020-11-19 17:08] tann9949 commented on #50
For some reason, this gets even worse
![IMG_1386](https://user-images.githubusercontent.com/34812325/99699393-7b912b00-2ac4-11eb-9e5e-b32b27164e7b.png)

[2020-11-19 17:41] usimarit commented on #50
@tann9949 Yeah, as expected, because it runs with larger batch size. Can you train on librispeech? So that I can see whether it is because of GPU or the code or the data.

[2020-11-20 03:40] tann9949 commented on #50
@usimarit I've run model training on librispeech with this configuration

config.yaml
[code]

Still, GPU utilization is around  0%
[code]

The training was around 2.06s/batch (without gradient accumulation)
[code]

[2020-11-20 03:52] tann9949 commented on #50
I've also tried Librispeech training with `train_ga_conformer.py`. Still have a worse performance but better GPU utilization

[code]
nvidia-smi
[code]

[2020-11-20 11:19] usimarit commented on #50
@tann9949 So the problem is not from dataset, so it might be tensorflow and this GPU V100

[2020-11-20 11:24] usimarit commented on #50
@tann9949 how is the CPU utilization? is it 100%?

[2020-11-20 12:04] tann9949 commented on #50
I've used 8 vCPUs, 30 GB memory. Each CPU core usage was around 40-50%. I'm not sure whether it's a bottleneck on feature extraction or not but from what I've tried, Using TFRecords tends to speed up the most (from ~2.5s/batch -> ~1.4s/batch). Using `--mxp` and `--cache` doesn't help that much.

[2020-11-20 12:07] tann9949 commented on #50
I think you can try to reproduce my error by training Librispeech on google's VM using image `pytorch-1-4-cu101`.

[2020-11-20 14:00] dathudeptrai commented on #50
@tann9949 please use https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras to trace what is the reason :)))

[2020-11-20 14:43] magdacisowska opened #51 "Should I use eager mode?"
I have a question about whether should I use the eager or graph mode while launching trainining scripts. The thing is that in my tf 2.4 I have it disabled by default, which results in errors in all calls to some_tensor.numpy(). However, when I enable the eager mode manually at the begining of the script, I end up getting even more errors, at even earlier stages of the training.
So far I was able t

[2020-11-21 15:16] Zepan opened #52 "OOM when execute test_conformer or test_subword_conformer"
hi, I test the example/conformer, use the pretrained or myself trained weight, both get OOM error, I'm using 1080Tix4.

command is:
[code]

log is:
[code]

here is the debug print postion:
[code]

[2020-11-21 15:41] usimarit commented on #52
can you set `beam_width = 0` and rerun?, so that we can debug only on greedy decoding.

[2020-11-21 15:54] usimarit commented on #51
@magdacisowska Can you show me the errors when you enable eager mode manually? As I see in the docs, tf2 enable eager mode by default and I haven't met any problems.
My trainer only uses .numpy() when displaying the current epoch on the progress bar, if you don't need the epoch information on the progress bar, then using only graph mode (by commenting out that line) is not a problem.

[2020-11-22 08:43] magdacisowska commented on #51
ok, so I enable (in train_streaming_transducer.py) the eager mode. So I get:

`
Traceback (most recent call last):
  File "examples/streaming_transducer/train_streaming_transducer.py", line 115, in <module>
    streaming_transducer._build(speech_featurizer.shape)
  File "/home/mcisowska/.local/lib/python3.6/site-packages/TensorFlowASR-0.3.0-py3.6.egg/tensorflow_asr/models/transducer.py", line 234,

[2020-11-22 10:58] Zepan commented on #52
hi, it is ok when I set beam_width=0, I didn't expected  it will cost so many memory using beamsearch
how many memory will it cost using beamsearch? is it normal? when I use ctc method, it cost few memory.
and default value of beam_width in google drive's pretrain model is 1, I think it is equal to greedy decoding? maybe there have some mistake in code?

[2020-11-22 11:55] usimarit commented on #52
@Zepan the transducer beam search is still a work in progress, you can see I haven't evaluated the model using beam search.

[2020-11-22 12:53] Zepan commented on #52
ok, got it.  the greedy decoding have good enough result, thank you~

[2020-11-22 18:27] jiwidi opened #54 "Issues running conformer example with RTX 3090"
Hi!

First of all, very nice repository you have. Great work, I like your work.

I've been trying to run your example for the conformer with a rtx 3090 from the new nvidia series and I was wondering if its something you have tried/tested or even support.

Im running cuda 11.1 and cudnn cudnn-11.1-v8.0.5.39 and I tried running your installation commands with conda:

[code]
Then install the rnnt_los

[2020-11-23 07:31] magdacisowska commented on #51
Ok it turned out that the eager mode should be also turned on in utils module, as it is imported before the tensorflow

[2020-11-23 07:31] #51 closed

[2020-11-24 02:27] usimarit commented on #54
Loss 0.0 means that there's something wrong with rnnt installation 😢

[2020-11-24 08:32] jiwidi commented on #54
Yeah thought so too, do you have any tips on how to check the rnnt installation? Some sample code that I can work with to debug it. Installation script runs fine tho

[2020-11-24 12:06] usimarit commented on #54
@jiwidi Unfortunately, the repo [warp-transducer](https://github.com/HawkAaron/warp-transducer) seems to be abandoned, the test script in that repo is outdated too, so we have to implement a new one to debug and test, otherwise I don't see any other options.

[2020-11-25 10:05] tann9949 opened #55 "InvalidArgumentError when converting conformer model to tflite"
I was trying to convert my conformer model to tflite using the provided python script but I've encountered this error. I've trained this model by modifying just its batch size to 8 and using my own vocabulary.

config.yml
[code]

Error message:

[code]

The error is very long and the full version is on [pastebin](https://pastebin.com/R8jnhcWK)

[2020-11-25 10:26] danielkope commented on #54
Hard to tell without seeing the CMakeList but I suspect that you are using CUDA 11. The CMakeFile probably doesn't compile for the latest architecture. I would add the appropriate SM there first before starting to debug the src itself.

[2020-11-25 10:34] danielkope opened #56 "best practices for confidence extraction"
What would be the best way to show/extract the confidence of the recognition (greedy or beam search) during inference.
The sequence/word confidence would be interesting to see.

[2020-11-25 11:50] usimarit commented on #55
@tann9949 did you pull the newest code in branch main?

[2020-11-25 15:37] tann9949 commented on #55
It seems that the newest version of `tf-nightly` is bugged. I've tried on `v2.5.0.dev20201107` and it failed, but works just fine on `2.4.0.dev20200901`. Thanks for referencing that issues! My bad for not looking well enough 😅

[2020-11-25 15:37] #55 closed

[2020-11-25 15:38] tann9949 commented on #55
Thank you again for releasing such a wonderful library!

[2020-11-25 15:59] usimarit commented on #56
@danielkope What do you mean the confidence of the recognition?

[2020-11-25 16:20] danielkope commented on #56
Confidence scores of the hypothesis

On Wed 25. Nov 2020 at 16:59, Nguyễn Lê Huy <notifications@github.com>
wrote:

[2020-11-26 02:27] tann9949 commented on #44
@usimarit How do I add `scorer` to text_featurize? I have a kenlm language model loaded using the following command

[code]

it seems like `text_featurizer.add_scorer(model)` or `text_featurizer.add_scorer(model.score)` isn't the right approach.
What is the right approach to add LM to the text featurizer?

Thanks in advance for any help

[2020-11-26 16:49] usimarit commented on #44
@tann9949 Please checkout the simplfied baidu's ctc decoders [here](https://github.com/usimarit/ctc_decoders). It has the `scorer` for kenlm, this is the one that I use in ctc model [here](https://github.com/TensorSpeech/TensorFlowASR/blob/b42d6d49a2db0979b3865fb8ef13357a9e3e4c67/tensorflow_asr/models/ctc.py#L95).

[2020-11-27 13:16] danielkope opened #57 "tflite conversation broken."
HI -

With the latest pull, it seems the TFlite is broken.
(trying to convert a conformer model with GA training)

[code]

[2020-11-27 13:17] danielkope commented on #54
did this suggestion fix the issue?

[2020-11-27 13:31] tann9949 commented on #57
Duplicate of #55 #41 , use `tf-nightly` version `2.4.0.dev20200901` to resolve the problem.

[code]

[2020-11-27 13:56] danielkope commented on #57
Thanks - are you saying this is related to the tf.squeeze not being supported in tf-nightly, therefore the tf.reshape was used. And this is a tf-nightly version issue problem?

[2020-11-27 15:09] jiwidi commented on #54
Hi! Sorry I have been out during the week and couldnt try the solution, will try it this weekend and get back to you. Thanks!

[2020-11-27 16:01] danielkope commented on #57
2.4.0.dev20200901 is no longer available anymore but 2.4.0-dev20200902 works as well.

[2020-11-27 22:08] jiwidi commented on #54
Hi again! It got fixed and it have a loss !=0, gpu usage during training is very low 5% is that normal for this model? Takes 6secs per batch on the 3090. Maybe is still not running on cpu.

The rnnt transducer loss is installed with cuda found and when running the example it outputs that is running on gpu so it shouldnt be wronly running on cpu.

[2020-11-28 01:45] usimarit commented on #54
@jiwidi no that's not normal, can you use the profiler to log the training performance?

[2020-11-28 07:14] #52 closed

[2020-11-28 07:19] Zepan opened #58 "Conformer decode speed too slow"
hi, I'm using Conformer  example, training is good, but the decode speed is very slow.
I tried another speech-transform based project: https://github.com/ZhengkunTian/OpenTransformer
use same GPU, almost same size model (~30M parm),
TensorFlowASR's Conformer   infer 3 wav/s, OpenTransformer's speech-transform infer 20 wav/s
I look at TensorFlowASR's code, it infer one wav per batch, is it the reas

[2020-11-28 12:19] jiwidi commented on #54
Yeah, will do later today, any tips using the profiler on your library?

[2020-11-28 12:43] tann9949 commented on #44
@usimarit I've tried adding `Scorer` from your example but encounter the error.

Here's my code
[code]
and here's my error message
[code]

Thanks for any help in advance!

[2020-11-28 16:57] usimarit commented on #58
@Zepan In my opinion, testing on 1 wav at a time gives in more realistic results than the whole batch, because it don't require "padding" the whole batch to match the longest wav in the batch, that's why I don't use batch size > 1 for inference

[2020-11-29 05:41] Zepan commented on #58
Ok, I see.  but I'm doing KD now, it need infer huge dataset...
and also doing standard testset testing will cost lot time.
I will add the bs>1 feature and PR it.

[2020-11-29 08:27] Zepan commented on #58
@usimarit , just test bs=2, I find the cer will increase notable (5.5% -> 9.1% in aishell)
and I check the output, there are some addition error output in the end of the sentence.
seems how long it padded, the addtion output is that long too...
It seems network don't understand how to deal with padding? how to solve it?

example:
/mnt/wd8T/dataset/kws/data_aishell/wav/test/S0904/BAC009S0904W0416.w

[2020-11-29 11:06] usimarit commented on #58
I think the network don't understand padding is because of specaugment, the augmentation masks part of spectrogram features, and the network tried to reconstruct the masked parts, and the padding is like the mask, so the network tries to reconstruct that part to, therefore 2 characters at the end appeared.

[2020-11-29 11:15] usimarit commented on #44
@tann9949 I thought you were using CTC Models, the RNN Transducer models are not supported for LM yet, due to the beam search implementation is not completed.

[2020-11-29 12:34] Zepan commented on #58
ok, at last I use multiprocess to accelerate the infer speed...

[2020-11-30 01:17] m4ster-0f-pupp3t5 opened #59 "Creating Subword Vocabulary for Custom Language"
Hi,

Thank you for your great work. How do I create the subword vocabulary for any custom language? Should I do it manually or alter the config file for auto-extraction and auto-generation of subwords?

[2020-11-30 02:13] #58 closed

[2020-11-30 14:54] usimarit commented on #59
you can alter the config file and use the flag `--subwords_corpus` in any `train_subword_*.py` files to automatically generate subwords from corpus right before training.

[2020-12-01 02:48] MachineLP opened #60 "TensorFlowASR_Chinese"
中文语音识别感兴趣的可以加:lp9628进群讨论。

[2020-12-01 03:48] tund opened #61 "Pretrained models"
Hi @usimarit , is it possible if you could share the pretrained models of Deep Speech 2, Transducer, Streaming Transducer?
I only see Conformer in the Google Drive link you shared.

Thanks!

[2020-12-01 12:06] usimarit commented on #61
@tund Currently I only have pretrained Conformer

[2020-12-03 18:50] jiwidi commented on #54
@usimarit So its being a bit hard to find exactly where to put my profiling code. I can't really debug your structure of classes. From looking at the `train_conformer.py` example I thought the train step that was running was the function here https://github.com/TensorSpeech/TensorFlowASR/blob/e08e208f90ccc82d47751a05ce22b7d0ec78f685/tensorflow_asr/runners/transducer_runners.py#L48.

But is not, I

[2020-12-03 20:10] danielkope commented on #54
Did you rebuild the package after your code changes?

[2020-12-04 02:40] guomin commented on #60
哈哈，又看到你了

[2020-12-05 15:16] mjurkus opened #62 "OOM when training with train_conformer or train_subword_conformer"
Hi, I'm trying to train conformer for the Lithuanian language.

I'm training on `NVIDIA Tesla P100`  and I keep getting OOM after some time.
Using all default values from `examples/conformer/config.yml`.

Using a custom audio dataset with wav audio files up to 10 seconds. At first tried with up to 30, then up to 15.

What could I do differently?

[code]

[2020-12-05 15:30] usimarit commented on #62
you should reduce the `batch_size` to fit the model in memory.

[2020-12-05 18:15] mjurkus commented on #62
The batch size is 4. I assume, that model the model fits in memory because it trains for 1000-3000 steps and then fails. Could there be something else?

[2020-12-06 08:30] usimarit commented on #62
@mjurkus how much is your vocabulary size?

[2020-12-06 09:57] mjurkus commented on #62
`lithuanian.characters`? 35

[2020-12-06 10:39] usimarit commented on #62
@mjurkus I didn't know if you were using `subwords` or `characters` so I must ask. Can you try using smaller batch size? And if you want to use with larger batch size, try `gradient accumulation`.

[2020-12-06 10:40] mjurkus commented on #62
Reduced BS to 2. So far so good. Since I have just a single GPU it will take forever :)

[2020-12-06 17:34] danielkope commented on #62
I think there is a memory leak in TF model.predict and in the dataloader at certain version when shuffle is on.

I think using tfrecords avoid the issue but the memory is basically constantly increasing till you get either memory violations or OOM. Same on the cpu.

[2020-12-06 17:50] usimarit commented on #62
The tfrecords is for avoiding OOM and faster loading for the dataset on CPU and RAM. But for the GPU, only the model and gradients use the memory. Therefore the model needs optimization and quantization to reduce memory usage. I evaluated the model on cpu and it worked fine.
Anyway, TF still has lots of bugs so we might have to do some workaround to get things work.

[2020-12-07 05:28] eashan2798 opened #64 "transducer_loss gives NAN values"
I am trying to run test_conformer.py file but with the default config it is showing OOM error,so i changed the model config file to avoid memory issues.Below I am attaching the config.yml file please tell what changes should i makeso that the loss gives some specific values.

Here is my config file:
speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  num_feature_bins: 80
  feature

[2020-12-07 12:39] usimarit commented on #64
Please reinstall rnnt_loss by following the instruction in README.

[2020-12-07 13:41] tund commented on #61
Thanks @usimarit

[2020-12-07 13:41] #61 closed

[2020-12-08 18:13] eashan2798 opened #65 "How many epochs are required for training purpose?"
I was trying training conformer model for testing purpose using 1 epoch by running the train_conformer.py file.The loss value is around 400 in one epoch.So what should be the optimal no of epochs for training purpose on Librispeech dataset as right now i am getting WER=100 (weird).Kindly help me out here

[2020-12-08 18:13] eashan2798 commented on #64
@usimarit yeah resolved

[2020-12-08 18:15] eashan2798 commented on #65
![Screenshot from 2020-12-08 19-07-16](https://user-images.githubusercontent.com/68741106/101523971-56028d80-39af-11eb-9258-526ce93c728d.png)

Here is the screenshot of the output of the test_conformer.py file.Can you tell why this error rate is 100

[2020-12-08 20:14] gandroz opened #66 "KeyError: 'dmodel' when trying to train conformer"
I used the new config example in which for example `dmodel` has been updated to `encoder_dmodel` and it breaks the `train_conformer.py` script

[2020-12-08 20:46] gandroz opened #67 "Unable to train conformer"
First, I used the new config example in which for example `dmodel` has been updated to `encoder_dmodel` and it breaks the `train_conformer.py` script. I updated the script with the config change and the script launches.

Second, I have then a TypeError

[code]

and I dont know where to start with this error

[2020-12-08 20:47] #66 closed

[2020-12-08 20:47] gandroz commented on #66
duplicate

[2020-12-09 09:01] JeongWoonPark opened #68 "AttributeError: 'StreamingTransducerEncoder' object has no attribute 'get_initial_states'"
Hi,
When I run `python test_streaming_transducer.py`, The below error occur
[code]
I think attribute `get_initial_states` is wrong spell

The below codes are in `tensorflow_asr/models/streaming_transducer.py`
[code]
1. You should fix `get_initial_states` to `get_initial_state` (`s` is point)
2. And remove `TensorFlowASR-0.4.0-py3.7.egg` at your env (in my case, `TensorFlowASR-0.4.0-py3.7.egg` is i

[2020-12-09 09:10] usimarit commented on #65
@eashan2798 The model is not converged, the loss must be around 0-15, you can not test the model if the model hasn't learnt anything. About how many epoch, in my example I placed 20 epochs to reach the WER 6%, I also added the image of the loss logged after each steps, you can use that to decide how many epochs you should use.

[2020-12-09 12:48] #64 closed

[2020-12-09 16:51] #68 closed

[2020-12-09 16:55] usimarit commented on #67
@gandroz Can you show me your updated config?

[2020-12-09 19:39] gandroz commented on #67
that's the one in the sources (just adapated with the paths of the dataset)

[code]

[2020-12-09 21:01] danielkope commented on #54
I have tried this on a RTX 3090 myself in the meantime. There are some issues in the warpRnnt that needs to be addressed as discussed before but then it is working. I have compiled under CUDA 11.1 with the latest TensorFlow that supports CUDA 11.1 and SM86. I'm looking at > 5 batches / second with a batch size of 6.  No GA.

[2020-12-10 02:42] JeongWoonPark opened #71 "During Variant Host->Device Copy: non-DMA-copy attempted of tensor type: string"
Hi,
First, I use **conda env**
When I run `python test_streaming_transducer.py`, I encounter the below error
[code]
I thought It's problem about tensorflow version
Because My env include the below
[code]
I focused `tensorflow 2.2.0`, So I update that using `pip install -U tensorflow`

Now, My env include
[code]
Well.. I don't know Why `tensorflow-base` uninstalled

Anyway, The same error occur aga

[2020-12-10 05:47] usimarit commented on #71
@JeongWoonPark I haven't tested on GPU so can you try wrapping `with tf.device("/CPU:0"):` before `name_scope` in this [function](https://github.com/TensorSpeech/TensorFlowASR/blob/295b132a8d6a07d7eb61ff81055b4b0ad367ead5/tensorflow_asr/models/transducer.py#L464)

[2020-12-10 15:01] gandroz opened #72 "InvalidArgumentError during test of conformer"
I encountered an `InvalidArgumentError` error during testing phase. I haven't had any issue during training, only when trying to test the resulting model.

[code]

That's the arguments passed to the TF function:

[code]

[2020-12-10 15:01] #67 closed

[2020-12-10 15:54] usimarit commented on #72
duplicated #71

[2020-12-10 16:20] gandroz commented on #71
I tried it without success. I also tried to set the option `--cpu` when testing.
The input tensor looks like :
[code]
and I was wondering about the need to add the filename of the input audio

[2020-12-10 17:37] usimarit commented on #71
@gandroz The file name is for storing to the tsv file, after testing, the .tsv file is generated and then you can read the .tsv to compare the results between groundtruth and other decoding methods and know where the corresponding audio file is stored.

[2020-12-10 17:44] usimarit commented on #71
@gandroz Can you send me the error when you use `--cpu` option?

[2020-12-10 18:15] gandroz commented on #71
That's the same error
[code]

[2020-12-11 07:36] jeonghwaYoo opened #73 "Problem of warp_rnnt tensorflow in windows environment"
OS: Windows 10 , Anaconda
CUDA_toolkit: 10.1
Python: 3.7
Framework : tensorflow-gpu (2.3.0), pytorch(1.7.0)

Hello. Thank you for your projects
I have a problem with warprnnt

When I run `./scripts/install_rnnt_loss.sh`, I got error message that `make` command could not be found. (The `cmake` command worked successfully. )

![image](https://user-images.githubusercontent.com/16534413/101877368-3ba7

[2020-12-11 16:24] usimarit commented on #73
@jeonghwaYoo I'm not familiar with windows, so currently it's best if you use linux, or you can try modify cmake and compile with x64.

[2020-12-11 18:19] gandroz commented on #71
The test runs if I explicitly tell to run on the CPU `with tf.device("/CPU:0"):` in function [_test_function](https://github.com/TensorSpeech/TensorFlowASR/blob/2a609555c4d058d2485f43f85e8d98cff0c42594/tensorflow_asr/runners/base_runners.py#L429), of course no matter the option `--cpu` or `--device` used

[2020-12-12 18:04] ahsanmemon opened #75 "tflite converter error: failed to legalize operation"
I have trained a streaming transducer for a couple of epochs. Tried converting it to a tflite function using the following code.
[train_streaming_transducer_tflite.txt](https://github.com/TensorSpeech/TensorFlowASR/files/5683545/train_streaming_transducer_tflite.txt)

I am getting the following traceback. Any ideas what the problem might be?
[train_streaming_transducer_tflite_traceback.txt](https:

[2020-12-12 18:17] ahsanmemon commented on #75
Issue resolved. Closing.
The problem was because of me not having libcudnn installed (GPU wasnt working).

[2020-12-12 18:17] #75 closed

[2020-12-12 19:06] ahsanmemon opened #76 "streaming tflite conformer giving pretty bad results"
Hi,
I tested the demonstration/streaming_tflite_conformer.py file as following
`python examples/demonstration/streaming_tflite_conformer.py "/home/ahsanmemon/Desktop/LibriSpeech/test-clean/61/70968/61-70968-0000.flac" --tflite "models/conformer-tflite/subsampling-conformer.latest.tflite"`

and
`python examples/demonstration/streaming_tflite_conformer.py "/home/ahsanmemon/Desktop/LibriSpeech/test-c

[2020-12-12 19:11] ahsanmemon commented on #76
Just FYI,
I also checked outputs of the demonstration/tflite_conformer.py and they are giving pretty decent results tbh.

Here are the results
`python examples/demonstration/tflite_conformer.py "/home/ahsanmemon/Desktop/LibriSpeech/test-clean/61/70968/61-70968-0000.flac" --tflite "models/conformer-tflite/subword-conformer.latest.tflite"`

predicted: **he began to confuse complaint against the wiza

[2020-12-12 20:55] tund commented on #71
I was also faced with this issue when using tensorflow 2.2 (doesn't have fn_output_signatures, so need to use `dtype=tf.string`), and this worked for me. Another way is to put `with tf.device('/cpu:0')` before every `tf.map_fn(...., dtype=tf.string)`. However, I guess this is not really good in terms of the running time because of switching between GPU and CPU. May I know what you think @usimarit

[2020-12-13 02:01] usimarit commented on #76
Conformer is not for streaming, I wrote that demonstration to prove it. Only models that have unidirectional rnn in the encoder are good for streaming tasks.

[2020-12-13 03:05] ahsanmemon commented on #76
Great. Thanks for the info.
Is there a streaming demo for the streaming transducer (examples/streaming_transducer) that we can probably use?

[2020-12-13 07:09] usimarit commented on #76
You can create one using the conformer demo. Just replace conformer with streaming transducer.

[2020-12-13 09:22] ahsanmemon commented on #76
great. thanks.

[2020-12-13 15:03] mjurkus commented on #62
When using `gradient accumulation` it works with bigger batch size. Thanks!

Although when testing with BS 4 and beam 5 I quickly get OOM. Reducing BS doesn't help. What helped - use a very small dataset for testing or set beam to 1.

I guess we can close this at the moment.

[2020-12-13 16:41] usimarit commented on #62
Did you use the newest version of beam search?

[2020-12-13 22:05] mjurkus commented on #62
I used `0.3.2`. I'll update to `0.4.2` and test again.

[2020-12-14 02:58] jeonghwaYoo commented on #73
@usimarit  I already tried modify cmake and compile with x64, but another error was displayed.  So I solved it using another package (https://github.com/iamjanvijay/rnnt). Thank you.

[2020-12-14 02:58] #73 closed

[2020-12-14 03:11] usimarit commented on #73
@jeonghwaYoo Can you review after using that package? Like how the loss would be, how fast is the training? I would really appreciate it.

[2020-12-14 04:53] jeonghwaYoo commented on #73
@usimarit I think this packeage is not fully utilizes the CUDA warp mechanism, so I predict it will be slower than warp_rnnt. I will tell you more about it after training is over. Thank you.

[2020-12-14 11:17] ryantang1993 opened #77 "Segmentation fault while running train_conformer.py"
Hello, everyone！ I was trying to running train_conformer.py on LibriSpeech dataset(in particular, dev-clean), and i've got this error below:
Run on 1 Physical GPUs
Model: "conformer_encoder"
________________________________________________________________________________________________________________________
**Layer (type)                                          Output Shape

[2020-12-14 11:30] ryantang1993 commented on #77
Oh, here is my running config:
 model_config:
	encoder_num_blocks: 6

 dataset_config:
    train_paths:
      - /media/huaxin/tcl1/asr/work2020/work202012/TensorFlowASR_New/TensorFlowASR/examples/conformer/data/libri_train.tsv
    eval_paths:
      - /media/huaxin/tcl1/asr/work2020/work202012/TensorFlowASR_New/TensorFlowASR/examples/conformer/data/libri_dev.tsv
    test_paths:
      - /media/huaxi

[2020-12-14 12:15] usimarit commented on #77
Try setting up using anaconda3 like instruction in readme (anaconda provides installing cuda and cudnn in the env) to see if there's still error.

[2020-12-14 14:30] Mddct opened #78 "token level timestep"
Is it possible to output token level timestep？

eg：
hello 100-600
world 712-900
.......

[2020-12-14 15:42] #72 closed

[2020-12-14 18:13] gandroz opened #79 "IndexError during testing of subword_conformer"
I got this error in TF

[code]

Any idea why ?

[2020-12-14 19:09] mjurkus opened #80 "ValueError when running test_subword_conformer.py"
**TensorFlowASR version**: 0.4.3

I used `train_ga_subword_conformer.py` to train my model.

Used same `config.yml` to run `test_subword_conformer.py` with

[code]
and I get

[code]

I checked what's happening there ant it seems, that it receives such batch:
[code]

[2020-12-14 20:35] gandroz commented on #80
@mjurkus Do you know the difference between `train_ga_subword_conformer` and `train_subword_conformer` ?

[2020-12-15 08:41] ryantang1993 commented on #77
@usimarit I've tried anaconda3 to create an virtual environment, and follow the instruction in readme, and got the same error. Could you post your experimental environment or training scripts? thanks again

[2020-12-15 11:42] ryantang1993 commented on #77
Solved! After downloading the source code for TensorFlow and compiling it using GCC5.4 and G++5.4, the problem was resolved.

[2020-12-15 13:16] usimarit commented on #78
@Mddct I don't quite understand your question and example. Currently we tokenize string (aka label) into list of characters or list of subwords.

[2020-12-15 13:34] usimarit commented on #80
Please check if you use this dataset class
![Screenshot from 2020-12-15 20-33-45](https://user-images.githubusercontent.com/28498441/102221578-e0e60980-3f14-11eb-883e-ce0288069cf1.png)

[2020-12-15 13:36] usimarit commented on #56
I haven't seen this evaluation for speech recognition yet. Do you have any documents?

[2020-12-15 13:38] #59 closed

[2020-12-15 13:43] mjurkus commented on #80
Yes, I'm using the script from the `examples/conformer/test_subwords_conformer.py`

[2020-12-15 13:53] Mddct commented on #78
Output label and its start time and end time in orign wav。

[2020-12-15 14:33] usimarit commented on #80
@mjurkus That's unusual, I just tested in my local and everything is fine.
Try pulling newest commits and redo:
[code]

[2020-12-15 14:48] usimarit commented on #78
@Mddct Oh, currently we don't support that feature yet. But I'll look into it. Anyway, if you have any idea of doing that, especially for rnn transducer, can you update here?

[2020-12-15 14:57] gandroz commented on #79
Thanks for the update, it fixed the problem, can you elaborate on the fix please ?
Although, I still got the `Invalid argument: During Variant Host->Device Copy: non-DMA-copy attempted of tensor type: string` error as in #71 but the fix I suggested solves it (running the greedy and beam search `tf.map_fn` on CPU explicitly as wrapping only the beam search is not enough)

[2020-12-15 15:28] usimarit commented on #79
Actually I didn't fix anything, I just cleaned the code a little bit and told you to try again :laughing: You can checkout the [commit](https://github.com/TensorSpeech/TensorFlowASR/commit/83d1b7058da8c6cfe603cbed80ff2d65ee0eaf3f) to see what I did.

[2020-12-15 15:44] gandroz commented on #79
well, you surely fix something more than just cleaning the code as now it works ;)

[2020-12-15 16:05] usimarit commented on #71
@gandroz Training doesn't use any recognize function, so it doesn't slow down the training.
I'll find a way to fix this problem, in the mean time, you guys can try replace `tf.map_fn` with `tf.while_loop` and remove `tf.device('/cpu:0')` at every map_fn to see how it runs. I can do that but it'll take a while since I don't own any GPU.

[2020-12-15 16:41] usimarit commented on #79
At line 523, the `tf.expand_dims(y_hat_score_index[0], axis=-1)` and `y_hat_score_index` are the same since `y_hat_score_index` is from `tf.top_k(k=1)` :laughing:
There're some mysterious things that happen some time :)
Anyway, what is this file in your error log?
[code]

[2020-12-15 17:56] gandroz commented on #79
I dont have any idea ! it looks like some temporary file generated by tf ?

[2020-12-15 17:58] gandroz commented on #71
right, but we speak about testing here.

I'll try your suggestion, thanks

[2020-12-15 18:08] mjurkus commented on #80
I've installed `TensorFlowASR` via `PyPi`. But now I see that the latest version is `0.4.5`.

[2020-12-16 01:25] Mddct commented on #78
I am trying to do this feature now on transducer 。But I could not find any
paper and article related。

Nguyễn Lê Huy <notifications@github.com> 于 2020年12月15日周二 下午10:48写道：

[2020-12-16 02:29] usimarit commented on #80
This batch as you said is the training batch, the batch generated from ASR...TestDataset is `file_paths, signals, labels = batch`
Can you provide the whole error from the command you run to the end?

[2020-12-16 02:30] usimarit commented on #78
There's [this](https://nvidia.github.io/OpenSeq2Seq/html/speech-recognition/speech-to-text-align.html) but for CTC, maybe we can apply it with some modification.

[2020-12-16 04:45] Mddct commented on #78
@usimarit It seems two steps:
1 calculate the mean_start_shift, mean_end_shift
2 apply shift on each start and end

I will evaluate the accuracy later. But for other language or own corpus, we need do force aligment  to get time information。

[2020-12-16 06:45] mjurkus commented on #80
Sure.

[code]

[2020-12-16 08:56] usimarit commented on #80
Are you sure you get the newest example script? because there's no line 108 in current `test_subword_conformer.py`

[2020-12-16 10:17] mjurkus commented on #80
Yes, I'm sure. There is line 108 because I added a couple of lines when I was debugging the issue.

[2020-12-16 10:19] mjurkus commented on #80
Maybe I could prepare a sample project that is ready to run?

[2020-12-16 11:27] usimarit commented on #80
Yeah, could you create something like a colab notebook that reproduces this issue? That would be really helpful.

[2020-12-16 19:22] mjurkus commented on #80
Tried to reproduce on colab notebook - everything ran perfectly... 🤦🏼
Now gonna go with fine-toothed comb to find the issue on my side... Sorry for the trouble. Maybe something with dependencies... I don't know. Used same configuration files as in my training machine... So weird...

[2020-12-19 11:18] usimarit commented on #57
The issue is reproduced (failed on newest stable 2.4.0). I'm working on this.

[2020-12-19 12:41] #80 closed

[2020-12-19 17:56] usimarit commented on #71
I updated the code using `tf.while_loop`, can you guys give it a try?

[2020-12-20 02:25] gandroz commented on #71
seems to be fixed. I tried to run a model test with the `tf.while_loop` and there is no more error, and the computation is fast. Thanks :+1:

[2020-12-20 07:09] usimarit commented on #71
I'll close this issue, you guys can just reopen if the issue's still present.

[2020-12-20 07:11] usimarit commented on #57
@danielkope please confirm if the issue if resolved.

[2020-12-20 14:13] mjurkus commented on #71
@usimarit I've updated to the latest version and I keep getting this error.

[2020-12-21 12:13] ahsanmemon commented on #76
I tried using tflite version of streaming transducer but it didn't work. Is it possible for you to upload a demonstration of it?

[2020-12-21 12:13] ahsanmemon commented on #76
I tried using tflite version of streaming transducer but it didn't work. Is it possible for you to upload a demonstration of it?

[2020-12-24 06:05] JeongWoonPark commented on #76
Hi, @ahsanmemon
I try to run `python streaming_tflite_conformer.py` with `subsampling-conformer.latest.tflite`
But I got the below error
[code]

Did you encounter this? if so, How solved?

Thanks

[2020-12-24 12:22] lbxcfx opened #84 "Segmentation fault"
tensorflow-gpu=2.3.0 python=3.7 cuda10.1
python examples/streaming_transducer/train_streaming_transducer.py  --config examples/streaming_transducer/config.yml
[Train] |                    | 0/285380 [00:00<?, ?batch/s]Segmentation fault

[2020-12-24 15:41] usimarit commented on #84
Duplicated #77

[2020-12-24 15:41] #45 closed

[2020-12-24 15:45] #65 closed

[2020-12-24 15:46] usimarit commented on #62
@mjurkus Please confirm if you still have this issue.

[2020-12-25 03:32] usimarit commented on #79
@gandroz I guess so, I'll close this issue here since it's resolved.

[2020-12-25 03:32] #79 closed

[2020-12-25 03:33] #77 closed

[2020-12-25 18:55] DongyaoZhu opened #85 "error when training multigpu, train_ga_subword_conformer"
Environment: google cloud instance, debian10, tf2.3, cuda11, 4x tesla t4
Model: conformer, training with train_ga_subword_conformer.py
Config: batch size=4, ga=1, others are the same as given one, training on libritts train-clean-100, dev on libritts test other

Hello, I can train with on single gpu, but if I specify devices to more gpus, then it fails and gives these traces:
[code]
It lookes like

[2020-12-26 20:40] imoldfella commented on #76
In case you didn't see it, the authors of this paper had success combining conformer with transducer: https://arxiv.org/pdf/2010.11395.pdf

[2020-12-27 03:26] usimarit commented on #76
@imoldfella Nice one, I didn't notice, I'll support this paper soon :smile:

[2020-12-27 06:06] DongyaoZhu commented on #85
OK I found the problem, I was using gru instead of lstm for transducer, apparently gru is not compatible with rnnt loss :(

[2020-12-27 06:29] usimarit commented on #85
@DongyaoZhu I forgot to rename the RNN layer so its name is always "lstm" so it's hard to debug :laughing:
I see GRU is getting deprecated, new papers always use LSTM since it's better.

[2020-12-27 07:20] usimarit commented on #57
I'll mark this resolved, if you guys still meet this error, just reopen the issue.

[2020-12-27 07:20] #57 closed

[2020-12-27 09:32] mjurkus commented on #62
Could you specify which part? Original issue?

Can't test right now because of https://github.com/TensorSpeech/TensorFlowASR/issues/71

[2020-12-27 09:49] usimarit commented on #62
I was asking about OOM while training, for testing, we should move to issue #71

[2020-12-27 10:56] Sar-Dar opened #88 "AttributeError: module 'tensorflow.python.framework.ops' has no attribute 'RegisterShape'"
my environment：
python = 3.7.9
tensorflow = 2.3.0
cuda = 10.1

I installed rnnt loss successfully, but when I trying to run your example for the conformer, following error occur:
`Traceback (most recent call last):
  File "/opt/sardar/TensorFlowASR/examples/conformer/train_conformer.py", line 63, in <module>
    from tensorflow_asr.runners.transducer_runners import TransducerTrainer
  File "/opt/s

[2020-12-27 11:58] usimarit commented on #88
How did you install rnnt loss?

[2020-12-27 12:31] Sar-Dar commented on #88
use this conmmand you provide
[code]
And got this output
[code]
and
[code]

[2020-12-27 12:52] usimarit commented on #88
Try reinstalling tensorflow and then rnnt_loss.

[2020-12-27 13:16] OmarHory commented on #32
Just to reassure, in his case above 6 hours for 20 epochs?  I haven't seen such thing like this before, usually the time is per epoch.

[2020-12-27 14:19] Sar-Dar commented on #88
same result occurred
I tried in different device,  also got same error

[2020-12-27 14:33] usimarit commented on #88
Try removing the directory `./externals/warp-transducer` and return `./scripts/install_rnnt_loss.sh`.
The message says that no `RegisterShape` but I commented out that line in `warp-transducer`.

[2020-12-27 18:10] mjurkus commented on #62
With gradient accumulation, it worked fine.

[2020-12-27 18:38] OmarHory commented on #71
same problem.

[2020-12-28 08:39] OmarHory opened #89 "Continue from last checkpoint"
Hello!
Can I continue from last checkpoint? I get OOM occasionally and I do not want to start all over again.

Thank you!

[2020-12-28 09:10] OmarHory commented on #89
closing the issue. I added it myself.
1- Add this argument in the training script.

`parser.add_argument("--saved", type=str, default=None,
                    help="Path to saved model")`

2- Then after the `_build` method add the following lines:
[code]

[2020-12-28 09:11] #89 closed

[2020-12-28 09:30] OmarHory opened #90 "KenLM Language Model for conformers"
I have my own Language model, can I use it in the decoding process? If yes, how?
I haven't seen any example of its usage.

Thanks!

[2020-12-28 11:16] usimarit commented on #89
@OmarHory This [line](https://github.com/TensorSpeech/TensorFlowASR/blob/cb084901d8995d8a0d726eb4c000bc902ee28026/tensorflow_asr/runners/base_runners.py#L311) loads the latest checkpoint

[2020-12-28 11:17] usimarit commented on #90
LM is not supported for conformer or any "Transducer" models. Only CTC models

[2020-12-28 13:22] #90 closed

[2020-12-28 13:31] Sar-Dar commented on #88
ok, I commented out that line, it works,  thanks a lot.

[2020-12-28 13:31] #88 closed

[2020-12-29 11:02] #76 closed

[2020-12-30 08:03] monatis opened #91 "Training ASR models in multiple languages"
`TensorFlowASR` makes it quite easy to train and deploy almost SOTA ASR models, but it provides a pretrained model only in English. On the other hand, FAIR has recently published an open and free [dataset](http://openslr.org/94) in 8 languages (see [the paper](https://arxiv.org/abs/2012.03411)). It is in the public domain and of a large size, and has the same quality as LibriSpeech. So, my suggest

[2020-12-30 13:19] usimarit commented on #91
This is the great idea :laughing:

[2020-12-30 14:38] monatis commented on #91
Hi @usimarit! Thanks for such a great project and your support to boost visibility of this issue 😻 So I will start by writing a helper script to automatically download MLS dataset in a given language and prepare the transcription and alphabet files and PR to add it to the repo. Then I can train a Conformer model in German by using this script as a first step 🚀

[2020-12-31 09:27] usimarit commented on #91
Hi @monatis, just for your information, we should train using `subwords` instead of `characters` for performance boost

[2020-12-31 09:58] monatis commented on #91
Hi @usimarit, yeah I know that training with subwords yields a better performance, but I'm automatically generating an alphabet file in #92 for those who want to use characters anyway.

[2021-01-01 16:46] mjurkus commented on #71
I this a problem that is not easily reproducible?

[2021-01-01 16:55] usimarit commented on #71
@mjurkus This is a problem that I need a gpu for testing, but I currently don't have one and I'm planning not to use `tf.string` in beam search.

[2021-01-02 17:27] usimarit commented on #71
Hi, you guys can checkout the branch `dev/beamsearch` (the diffs are [here](https://github.com/TensorSpeech/TensorFlowASR/pull/94)) to try newest beam search implementation :laughing:

[2021-01-03 11:05] mjurkus commented on #71
@usimarit I've checked it - the error is gone 🎉

Although it is quite slow? Not sure.
[code]
where `config.yml` is

[code]

and test size is 3011 records.

[2021-01-03 11:17] usimarit commented on #71
@mjurkus Yeah the default beam search is slow, I'll find a way to optimize it more in the future releases, and support [n-constraints beam search](http://arxiv.org/abs/2002.03577).
I've found that there's no much difference between using greedy and beam search for conformer, except the beam search is extremely slow.

[2021-01-04 03:06] usimarit commented on #71
Since the problem is solved, I'll close this issue here.

[2021-01-04 03:06] #71 closed

[2021-01-04 21:55] tund opened #96 "Increase buffer size when shuffling TF data"
Hi @usimarit , we probably need to increase the shuffle buffer size to 1000 for example, in ASRDatasets here:
https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/datasets/asr_dataset.py#L108
https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/datasets/asr_dataset.py#L340
because `TFRECORD_SHARDS = 16` is too small.
This would help to feed better random data to

[2021-01-05 02:22] usimarit commented on #96
I'll make it an init parameter :smile:

[2021-01-05 07:32] JeongWoonPark opened #97 "Function call stack: _test_function -> _test_function"
Hi,

my env:
[code]

I try to run `test_streaming_transducer.py --saved model` at `TensorASR-0.6.3`. And encounter error
[code]
At first, I encounter `ValueError: Dimension 0 in both shapes must be equal, but are 2 and 1. Shapes are [2,1024] and [1,1024].`
So I fix `runing_config.batch_size: 1` in `config.yml`.

Then It work until `2% (21/1310)` (`libri/test-clean.tsv`). After that, The error occu

[2021-01-05 10:03] monatis commented on #96
Number of shards can also be configurable because shard file size may be huge based on the dataset with a fixed number of shards. Recommended shard file size is usually 100-200mb.

[2021-01-05 16:07] #96 closed

[2021-01-06 00:31] JeongWoonPark commented on #97
Hi @usimarit

It solved!

I used `latest.h5`, `config.yml` files made by `0.4.1 version` and test at `0.6.3 version`. It occur upper error

So I test `latest.h5`, `config.yml` files made by `0.6.2 ver (officitial release at this time)` at `0.6.3 version`
It work!

Thanks

[2021-01-06 00:31] #97 closed

[2021-01-06 00:38] trillionmonster opened #100 "TPU not work"
hello , I found two problems when use TPU

1.     /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/tensor_util.py:445 make_tensor_proto
        raise ValueError("None values not supported.")

    ValueError: None values not supported.

seem like dynamic graph not support on TPU,

2. tfrecord file created by  [create_tfrecords](https://github.com/TensorSpeech/TensorFlowASR/blob/ma

[2021-01-06 02:56] usimarit commented on #100
@trillionmonster
1. TPU is not supported yet.
2. I'll check it later :smile:

[2021-01-06 05:53] monatis commented on #100
@trillionmonster @usimarit I'm working on the TPU support [on this branch: (monatis/tpu)](https://github.com/monatis/TensorFlowASR/tree/tpu). Much of the work has already been completed and I hope to make a pull request with a Colab within a few days.

On the second issue, you don't need to create tfrecords beforehand with the newest code. When you run `train_*.py` script, it will check if tfrecor

[2021-01-06 19:47] bornTalented opened #102 "Fine-tuning"
How do I finetune subword conformer?

[2021-01-07 02:21] usimarit commented on #102
You can change the `config.yml` file to whatever you want the model to be.

[2021-01-07 05:23] bornTalented commented on #102
Thanks for your reply. But I am unable to find the configuration in the `config.yml` file that will load the pretrained model for finetuning.
Could you please help me by providing an example.

[2021-01-07 06:31] trillionmonster commented on #100
clone and install but not work:

2021-01-07 06:24:42.559152: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2021-01-07 06:24:45.764710: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2021-01-07 06:24:45.765828: I tensorflow/stream_executor/platform/default/dso_loader.

[2021-01-07 07:17] monatis commented on #100
@trillionmonster Forward and backward passes are actually working, but it throws an error in `_check_*` methods in `BaseRunner` class. There is a possibility that conditionals or other statements in these methods may not be supported on TPU. If this is the case, we may also need to refactor this class with pure TF ops. I'll deal with it later on this week, probably at the weekend.

[2021-01-07 08:38] trillionmonster commented on #100
@monatis I'm trying to fix it ,too 😄

[2021-01-07 09:03] mjurkus opened #103 "Allow CheckpointManager to best model only"
Currently, CheckpointManager saves all checkpoints. I would like to have an option to save only when the model improved. Basically same as [tf.keras.callbacks.ModelCheckpoint](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint)

[2021-01-07 10:55] ashishBT opened #104 "How to use custom vocabulary in conformer"
I want to use my custom vocabulary for transcription. I have found that there is an option in `config.yml` under `decoder_config:
  vocabulary: null` to achieve this.
  I want to know the file format of vocabulary that I should use and how to use this vocabulary argument?

[2021-01-07 15:54] usimarit commented on #104
Example vocabularies are in [vocabularies](https://github.com/TensorSpeech/TensorFlowASR/tree/main/vocabularies)
There're 3 types of supported vocabularies: Characters, Subwords and Sentencepiece. They can be found in [text_featurizer.py](https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/featurizers/text_featurizers.py).
Set `decoder_config: vocabulary: path_to_vocab_file` to

[2021-01-07 16:10] usimarit commented on #102
You can create a script like [train_subword_conformer.py](https://github.com/TensorSpeech/TensorFlowASR/blob/main/examples/conformer/train_subword_conformer.py) to load the pretrained model.
If you need deeper fine-tuning like freezing layers, then just copy the [conformer.py](https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/models/conformer.py) to a separate file (`my_confor

[2021-01-07 16:46] usimarit commented on #100
@monatis You can try commenting out the `_check*` lines and copy their contents to [the end of each epoch](https://github.com/TensorSpeech/TensorFlowASR/blob/8b9383c5959bd2755535680daa748959ecb9b6ef/tensorflow_asr/runners/base_runners.py#L235) so that the `log_interval`, `save_interval` and `eval_interval` will be ignored and we save and validate model after each epoch.
If it runs smoothly after f

[2021-01-07 18:36] ashishBT commented on #104
Thanks for your quick reply :)

[2021-01-07 18:36] #104 closed

[2021-01-07 19:09] mjurkus opened #105 "Bad evaluation results of the trained model?"
I've trained a conformer model for a while... (epoch 1/15 just because I started another training session)

[code]

and trying to test it, but metrics are unexpectedly horrible.

config.yml
[code]

[code]

here is the output of the test

[code]

what might be wrong here?

[2021-01-08 05:28] trillionmonster commented on #100
@monatis maybe the dataset is too large or GPU on colab is too slow ,it takes 220 hours on GPU . I think TPU train it's necessary to use tpu 😄

[Train]:   0% 0/103240 [00:00<?, ?batch/s]2021-01-08 05:13:19.107514: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2021-01-08 05:13:19.107919: I tensorflow/core/platform/pro

[2021-01-08 08:12] trillionmonster commented on #100
@usimarit @monatis  I change the code in base_runner.py

`
    def _end_epoch(self):

      self.save_checkpoint()
      self.save_model_weights()

      self._write_to_tensorboard(self.train_metrics, self.steps, stage="train")

      for metric in self.train_metrics.keys():
        self.train_metrics[metric].reset_states()

      self._eval_epoch()
 def _train_epoch(self):
        """Train model

[2021-01-08 11:19] abhigarg-iitk opened #106 "State of the Art for conformer and beam decoding"
Hi, Thanks for developing this great tool kit. I had 2 questions about the conformer model :-

1. For the conformer model in ```examples/conformer```,  I think almost all the parameter are similar to conformer(S) of https://arxiv.org/pdf/2005.08100.pdf . However, the performance gap between the paper and conformer model in ```examples/conformer``` seems to be quite big (2.7 v/s 6.44 for test-clean

[2021-01-08 11:56] monatis commented on #100
@trillionmonster  Can you try to catch `tf.errors.CancelledError` also and break from the while loop there?

@usimarit  I'll have a look at it at the weekend and implement a `TPUBaseRunner` if necessary. TPU training yields a significant speedup until it stops with the error @trillionmonster posted in the last comment, so it can contribute a lot to the research when fully debugged.

[2021-01-08 16:44] usimarit commented on #106
Hi @abhigarg-iitk
1. I tried using beam search but it was still around 6%. I only think of one reason is that the model is not fully converged, since it was trained for like 25 epochs. You can see in the transducer loss image in the example, the gap between val loss and train loss was still big and it seems that the losses could reduce more if I trained it longer. Unfortunately, at this time I don

[2021-01-08 17:03] usimarit commented on #105
@mjurkus Can you run this [file](https://github.com/TensorSpeech/TensorFlowASR/blob/main/examples/demonstration/conformer.py) with an audio file of yours to see if it can decode?

[2021-01-08 18:56] mjurkus commented on #105
I've checked on a couple of the audio file - works fine 🥳

[code]

[code]

[code]

I didn't check this - moveed from `train` straight to `test`. I'll try to debug during the weekend, maybe I'll find something.

[2021-01-09 06:53] usimarit commented on #100
@monatis Yeah you can do either:

1. create a class `TPUBaseTrainer` inherit directly from `BaseTrainer`
2. just modify the `BaseTrainer` to support both GPU and TPU.

The **second** way is recommended since in the **first** way we will have to create other classes `TPUTransducerTrainer` and `TPUTransducerTrainerGA` inherit from `TPUBaseTRainer` to use TPU for Transducer models.

[2021-01-11 04:13] tumusudheer opened #107 "Contextual Biasing"

[2021-01-11 04:50] tumusudheer opened #108 "Contextual Biasing | Adding hints at runtime for Streaming transducers"
Hi,

It is really great work. Thank you very much for the streaming transducers.  Is it possible to add hints at runtime (In streaming transducers)(Section: 4) (Say I have some names which are not available at the time of training but at the inference time, I've some knowledge on what I'm looking for), How can I use a set/list of phrases as hints at inference (testing) time ?

Thank you

[2021-01-11 04:50] #107 closed

[2021-01-11 05:27] usimarit commented on #108
The contextual biasing is not supported yet :smile:
May be after I figure out how to add LM to decoder

[2021-01-11 07:23] tumusudheer commented on #108
Thanks @usimarit

The streaming demonstration example uses conformer. Do you have a sample code for streaming audio using streaming transducers ?

Also, I want to train streaming transducers. Seems only conformer pre-trained models are available #61.  It would be great if you can provide streaming transducers pre-trained model to finetune from ?

Thank you

[2021-01-11 13:36] gandroz opened #109 "Infinite training loop"
Hi
Have you experienced such an issue ? I got a model training for several days now and it is looping even after when it seems to be finished.
![image](https://user-images.githubusercontent.com/38106881/104188852-dde11a80-53e7-11eb-8b5a-e9bea089faae.png)
I dont know why the transducer loss keeps updating neither why the evaluation step is performed infinitly ?

[2021-01-11 13:48] usimarit commented on #109
@gandroz that's weird, I calculate the total train steps every epoch [here](https://github.com/TensorSpeech/TensorFlowASR/blob/8b9383c5959bd2755535680daa748959ecb9b6ef/tensorflow_asr/runners/base_runners.py#L236) so it must be able to get the total steps [here](https://github.com/TensorSpeech/TensorFlowASR/blob/8b9383c5959bd2755535680daa748959ecb9b6ef/tensorflow_asr/runners/base_runners.py#L88) an

[2021-01-11 13:51] gandroz commented on #109
That's weird for sure :) In fact, only the eval steps are performed, there is no training

[2021-01-11 13:52] usimarit commented on #109
I see in your picture that it evaluates after each step, did you set the `eval_interval_steps=1`?

[2021-01-11 13:53] gandroz commented on #109
no it is set to 500
![image](https://user-images.githubusercontent.com/38106881/104190671-6e205f00-53ea-11eb-8739-c3c5157528d6.png)

[2021-01-11 13:56] gandroz commented on #109
it seems that the total number of steps is corrupted for some reason (see le "?" on the training line)...

[2021-01-11 13:58] usimarit commented on #109
@gandroz I found an error 😆 this [while loop](https://github.com/TensorSpeech/TensorFlowASR/blob/8b9383c5959bd2755535680daa748959ecb9b6ef/tensorflow_asr/runners/base_runners.py#L205) breaks only it iterates through the whole training data, then in the last epoch, this [line](https://github.com/TensorSpeech/TensorFlowASR/blob/8b9383c5959bd2755535680daa748959ecb9b6ef/tensorflow_asr/runners/base_runn

[2021-01-11 13:58] gandroz commented on #109
Maybe the issue comes from [here](https://github.com/TensorSpeech/TensorFlowASR/blob/8b9383c5959bd2755535680daa748959ecb9b6ef/tensorflow_asr/runners/base_runners.py#L175). When the `train_steps_per_epoch` is `None` (I dont know why but...), the finished condition is never met.

[2021-01-11 14:01] usimarit commented on #109
So comment out the line `(self.total_train_steps and self.steps >= self.total_train_steps)` to fix this 😆

[2021-01-11 14:03] gandroz commented on #109
Oh good catch, it loops indefinitly :)
But do you know why the transducer loss keeps changing (on the training line) ?

[2021-01-11 14:03] usimarit commented on #109
Anyway, I see the loss still can reduce, I think you can backup the current `lastest.h5` to like `model-41.h5` and continue training model to epoch 45 or 50 😆

[2021-01-11 14:05] usimarit commented on #109
It keeps changing because of the mean metrics, may be the next batch results in better loss so it displays smaller, then the next results in worse loss to it displays higher.

[2021-01-11 14:06] gandroz commented on #109
hmmm ok...
![image](https://user-images.githubusercontent.com/38106881/104191991-3a463900-53ec-11eb-8deb-3fdacd566696.png)
I'll stop and relaunch training

[2021-01-11 15:00] #109 closed

[2021-01-11 17:39] usimarit commented on #108
@tumusudheer No currently I haven't trained streaming transducer so I don't have sample code for streaming audio and pretrained model.

[2021-01-11 18:48] mjurkus commented on #105
Tests work ok. The latest test results were appended to the previous experimental tests.
It's a weird behavior that it allows appending to the previous test run.

[2021-01-11 18:48] #105 closed

[2021-01-11 18:49] #62 closed

[2021-01-12 03:32] trillionmonster commented on #100
I have a try on tpudev branch ,but not work again .

still this error:

"""(0) Cancelled:  Iterator was cancelled"""

[2021-01-12 03:37] usimarit commented on #100
@monatis @trillionmonster I've been testing on TPU, it seems like the TPU on colab can not use `tf.train.Checkpoint` and have some other problems.

[2021-01-12 04:08] trillionmonster commented on #100
tf.train.Checkpoint seem works ，but  dataset Iterator would randomly cancelled ，no idea

[2021-01-12 13:50] abhigarg-iitk commented on #106
1. Thanks I will look into that

2. Actually I tested on GPU as well as CPU and yes you are right for both it takes about 60s per batch with ```batch_size=1```. Also however using a batch size greater than 1 is not helping as it still loops through each batch one by one. I agree with your comment in #58 , But I think we can sort the test data based on length to minimize the padding. Also anyways I

[2021-01-12 13:56] abhigarg-iitk opened #110 "Bug related to batch beam decoding"
Hi I think the following line should be changed after the commit 3d5c7f3

https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/models/transducer.py#L541

to

<pre>paddings=[[0, <b>2</b> *  (total_time - encoded_length[batch])]],</pre>

otherwise, the decoded.stack might throw an error

[2021-01-13 03:04] JeongWoonPark opened #112 "streaming_transducer can't convert h5 to tflite"
Hi,

I try to convert transducer `.h5` to `tflite` using `tflite_streaming_transducer.py`. But It's not work...

First, I fix `concrete_func = streaming_transducer.make_tflite_function().get_concrete_function()`
(remove `greedy=True` argument of `make_tflite_function()` because error, `tflite_streaming_transducer.py`'s 60 line)

The below is the end of error result
[code]

I give `timestamp` argum

[2021-01-13 15:24] usimarit commented on #112
which tensorflow version are you using?

[2021-01-13 17:40] usimarit commented on #100
@monatis @trillionmonster I'm planning to make custom training loop deprecated and support `tf.keras.Model.fit` with some custom callbacks :smile: May be it support TPU better without needing bunch of customization, therefore we can focus more on sota models. Have you guys tried `tf.keras.Model.fit` on TPU yet?

[2021-01-13 19:50] monatis commented on #100
@usimarit  Never thought of doing so :D It may be easier to convert RNNT loss to a plain old Keras `.fit()`-compatible API than to struggle with all the caveats of custom training loop on TPUs. Definitely worth giving a try 🚀

[2021-01-14 01:03] JeongWoonPark commented on #112
I'm using `tensorflow=2.3` and make model at `TensorflowASR=0.6.3`

[2021-01-14 02:16] usimarit commented on #112
@JeongWoonPark try using `tf-nightly` to convert to tflite.

[2021-01-14 04:38] JeongWoonPark commented on #112
@usimarit
Hi, I convert that with `tf-nightly-cpu`
It work, Thanks.

[2021-01-14 05:38] JeongWoonPark commented on #112
Hi, @usimarit Thank you for your reply always.

I encounter another issue about `tflite`. Specifically, loading `tflite` model problem
1. I make `h5` model with `tensorflow=2.3`, `TensorASR=0.6.3`
2. Can't convert `h5` to `tflite` at the same env. So, using `tf-nightly` instead of `tensorflow=2.3`. It works. I get the `tflite` model
3. After that, I test below code and encounter error
[code]
at `t

[2021-01-14 08:01] bornTalented commented on #102
As mentioned I have changed in the train_subword_conformer.py file to load weights from pretrained model. But after finetuning model is producing short outputs in prediction.

[code]
could you help me by explaining the reason behind that?

[2021-01-14 08:20] trillionmonster commented on #100
@monatis @usimarit I'm trying to use Huggingface‘s code to train a transformer-based model, with a mask layer . A lot of change .

[2021-01-14 15:33] #110 closed

[2021-01-14 18:40] monatis commented on #100
@usimarit @trillionmonster
I finally managed to train  it for 20 epochs with [the custom training loop on this Colab](https://colab.research.google.com/drive/1ZArVhoStNL552pUWEW1PPk-pGLSqbN5D?usp=sharing). But I still need to implement TensorBoard logging and evaluation at the end of each epoch.

Implementation considerations are as follows:

- Explicit creation of iterator with `iter(train_data_l

[2021-01-15 01:28] trillionmonster commented on #100
@monatis
GREAT WORK!! I'm running this code

I find Another trick :

I find that  the max len  of audio is related to duration in transcript ,and I rewrited the code to get max length ,much faster .

`    def _max_len(self, duration, transcript):
        with tf.device("/CPU:0"):
            duration = int(float(duration)*100//1)+1
            duration = tf.cast(duration, tf.int32)
            lab

[2021-01-15 05:59] monatis commented on #100
Nice tip. Mine was a naive implementation and quite slow, thus planning to parallelize it. This will provide a speedup.

[2021-01-15 06:00] monatis commented on #100
@trillionmonster

[2021-01-15 09:12] usimarit commented on #112
@JeongWoonPark The issue is reproduced, I'm working on this.

[2021-01-15 17:26] usimarit commented on #112
@JeongWoonPark Please pull the newest code (aka `v0.6.4`) and try again :smile:

[2021-01-16 14:43] kkiyani opened #116 "Training Jasper on Arabic"
Hello,
can anybody please list down the changes I need to make in the library in order to train the model successfully.
For instance, I have already made changes to the file (english.characters) by adding Arabic characters.
What else do I need to change?

[2021-01-16 15:36] usimarit commented on #116
@kkiyani you need to change the paths in the `config.yml` file, creates the `transcripts.tsv` files for your dataset by following the installation and setup training and testing instruction. Then use the scripts in the `examples/jasper` to train or test the model.
Note: This is the unofficial implementation and hasn't been tested properly due to the lack of resources (and no NovoGrad). So I have n

[2021-01-16 15:44] usimarit commented on #106
@abhigarg-iitk I'm also planning to use batch dimension directly in the decoding, I'll find a way to do that ASAP.

[2021-01-18 01:29] JeongWoonPark commented on #112
@usimarit
Hi, It work!
I success to convert and inference `streaming_transducer` model.
In my case, The Model is made in `TensorFlowASR=0.6.3` And is converted `TensorFlowASR=0.6.4`. Both of them use `Tensorflow-gpu=2.3`
Thanks

Also I have 2 questions.
Q 1.
I think `concrete_func = streaming_transducer.make_tflite_function(greedy=True).get_concrete_function()` should be fixed to `concrete_func =

[2021-01-18 03:59] caohongnga opened #117 "import rnnt_loss issue"
Hi,
The "from warprnnt_tensorflow import rnnt_loss as warp_rnnt_loss" command raise an error:
...warprnnt_tensorflow/__init__.py", line 6, in <module>
    _warprnnt = tf.load_op_library(lib_file)
.../load_library.py", line 57, in load_op_library
    lib_handle = py_tf.TF_LoadLibrary(library_filename)
tensorflow.python.framework.errors_impl.NotFoundError: libwarprnnt.so: failed to map segment from

[2021-01-18 04:12] usimarit commented on #117
Did you run `./scripts/install_rnnt_loss.sh` with `CUDA_HOME` if you have cuda and without if you don't?

[2021-01-18 08:30] JeongWoonPark opened #119 "RuntimeError: Internal psf_fseek() failed"
`python=3.8`, `tensorflow=2.3 (not gpu)`, `TensorFlowASR=0.6.4`

Hi,
I try to run `streaming_tflite_**transducer**.py` (reference: `examples/demonstration/streaming_tflite_**conformer**.py`)
The below is a part of code which modified by me. `config.yml` is default for transducer
[code]

When I run this code, The below error occur.
[code]
I can't find solution or information about `RuntimeError: In

[2021-01-18 11:51] caohongnga commented on #117
Thank you for you replying,
I already install ./scripts/install_rnnt_loss.sh and finish installing with:

warprnnt-tensorflow 0.1 is already the active version in easy-install.pth

Installed /home/nga/anaconda3/envs/tf-gpu/lib/python3.7/site-packages/warprnnt_tensorflow-0.1-py3.7-linux-x86_64.egg
Processing dependencies for warprnnt-tensorflow==0.1
Finished processing dependencies for warprnnt-ten

[2021-01-18 13:21] usimarit commented on #119
@JeongWoonPark can you make a colab example that reproduces this issue? It would really help.

[2021-01-18 13:34] usimarit commented on #117
Could you provide the whole output after running `./scripts/install_rnnt_loss.sh`?

[2021-01-18 13:48] usimarit commented on #112
@JeongWoonPark
Q1: Okay I'll update the scripts :smile:
Q2: From  [this doc](https://www.tensorflow.org/lite/performance/gpu_advanced) the tflite does support gpu with some limited ops. Let me see if we can make the model support this :smile:

[2021-01-18 14:42] caohongnga commented on #117
Full output of the command:
Cloning into 'warp-transducer'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 917 (delta 4), reused 12 (delta 3), pack-reused 894
Receiving objects: 100% (917/917), 253.00 KiB | 361.00 KiB/s, done.
Resolving deltas: 100% (465/465), done.
Checking connectivity... done.

[2021-01-18 18:12] usimarit commented on #117
The message says there's no `CUDA_HOME` env, try to delete the folder `externals/warp-transducer`, specify CUDA_HOME like in the instruction in `README.md` and rerun `scripts/install_rnnt_loss.sh`

[2021-01-19 00:12] JeongWoonPark commented on #112
@usimarit
Thank you! It's very helpful

[2021-01-19 01:21] JeongWoonPark commented on #119
@usimarit
Sorry for my question method. Here is [colab example](https://drive.google.com/drive/folders/1_xXyKJPIFNIFqv-YP-xB2bNJk3QQ6g6y?usp=sharing). I try to run this code at colab But Well.. It's not easy to me...

[2021-01-19 01:29] nangongmujd opened #120 "learning"

[2021-01-19 01:31] #120 closed

[2021-01-19 01:39] lfgogogo opened #121 "question about vocabulary"
Hi,i have some doubts about TensorFlowASR/vocabularies/english.characters,there seems to be 24 base characters only,what will happen if i put thousands of words in it?

[2021-01-20 05:30] jinggaizi opened #122 "Conformer result"
why the Conformer result on librispeech is worse than the paper

[2021-01-20 08:01] #122 closed

[2021-01-20 08:04] jinggaizi commented on #122
i found a reploy in https://github.com/TensorSpeech/TensorFlowASR/issues/106

[2021-01-20 16:32] usimarit commented on #121
I define the file to store only **characters**, you can not treat them as *words* since it will convert **each character** to **its class** defined by the order of characters in the file.
If you want to use thousands of words, consider the **subwords** approach.

[2021-01-21 01:56] #119 closed

[2021-01-21 12:29] YoPatapon opened #123 "Question about transducer decoding"
According to the theory of RNN-T, multiple tokens can be generated at each timestep. For example, "cat<blank><blank><blank><blank><blank><blank>" is also a valid decoding path for RNN-T in the case below. It seems like the current implementation of the decoding process can generate only one token at most at each time. Do I understand it wrong?

![image](https://user-images.githubusercontent.com/17

[2021-01-21 17:55] usimarit commented on #123
Each time step is the array of probabilities of classes. The greedy decoding takes the class having the largest probability (that's why they call it "greedy"). So the question is: According to what perspective that you want to decode "multiple classes in single time step"?

[2021-01-21 17:58] usimarit commented on #119
@JeongWoonPark sorry I haven't had time to look at your example. Is the problem solved? I see you close the issue.

[2021-01-22 03:13] YoPatapon commented on #123
Refer to the picture below, \phi should be taken as the signal for the input of the next frame. If a new token generated, the current frame should be used again for the next step decoding, while the state of prediction network moves forward one step until a \phi is generated. In this case, 'c-a-t' is generated orderly in the first step, and the left frames all generate \phi which is also a valid p

[2021-01-22 03:20] caohongnga commented on #117
Thank you very much.
Problem is sold. It is version conflict, missing libcurand.so.10

[2021-01-22 03:20] #117 closed

[2021-01-22 13:40] gandroz opened #124 "WER for conformer update"
Hi,
I've just ended a training of a conformer using the sentencepiece featurizer on LibriSpeech over 50 epochs.
Here are the results if you want to update your readme:

[code]

Test results:
G_WER = 5.22291565
G_CER = 1.9693377
B_WER = 5.19438553
B_CER = 1.95449066
BLM_WER = 100
BLM_CER = 100

The only drawback is....it is SOOOOOO long to test. I took me one full week to compute the test metrics !

[2021-01-23 15:58] usimarit commented on #124
@gandroz Wow cool, if you got the same result for `test-other` then you should check the transcript file to see if it points to test-other files. And you should check the `test-clean` transcripts file too.
Anyway, I'm thinking that maybe the authors have some tricks that reduce the result to `2.7%` that we didn't see.

[2021-01-23 16:01] usimarit commented on #124
And one more thing is that there's a little small difference between `greedy` and `beam search` at this kind of WER percent, so we can ignore the difference and test only on `greedy` to see if it reduces to near `2.7-3%`

[2021-01-23 16:08] usimarit commented on #123
@YoPatapon I see your point. I haven't met this theory but it looks reasonable. We should implement this, call it like `greedy_v2` to see if it really improves the results.
Anyway, could you give me some documents about this? I wanna know why they "reuse" the current frame.

[2021-01-23 17:32] gandroz commented on #124
I'll try to continue training for several epochs, training seems not to have ended. I'll read the paper again to look for any clue on how to reduce WER even more.
But I dont have anything special in my transcripts, both `test-clean` and `test-other` are well segregated.

[2021-01-23 18:03] usimarit commented on #124
@gandroz You should check or generate the transcript file again, may be when creating `test-other` transcript file, you point to the `test-clean` directory.
If everything is right, then it's so weird haha :laughing:

[2021-01-23 18:05] usimarit commented on #103
@mjurkus Updated to support training with keras built-in `fit`, which means it supports keras callbacks like ModelCheckpoint. Checkout the #118 for more detail :smile:

[2021-01-23 18:07] #84 closed

[2021-01-23 18:09] usimarit commented on #100
@monatis @trillionmonster I added support for training with built-in keras `fit`. Please checkout the PR #118. Let's see if we can run it on TPU :smile:

[2021-01-23 18:55] monatis commented on #100
@usimarit good work, I'll definitely give it a try, but probably it won't help with TPU because I localized the root cause of problem with TPU training in `ASRDataset`. Simply creating an iterator over an instance of it and calling `next(iterator)` throws an exception even without calling any training step function at all. And, my guess is that it is related to the `tf.numpy_function()` call for p

[2021-01-23 19:03] gandroz commented on #124
I checked both files, my config file too and got the same results. So
weird. I'll try to debug to find any mistake

Le sam. 23 janv. 2021 13:03, Nguyễn Lê Huy <notifications@github.com> a
écrit :

[2021-01-25 01:44] YoPatapon commented on #123
Sorry, I found these figures showing the valid paths of RNN-T decoding on the web and the related blogs are in Chinese. I believe there are some English articles talking about this, I will send it to you when I find it. Here is a [video on youtube](https://www.youtube.com/watch?app=desktop&v=L519dCHUCog) demonstrating the greedy decoding process of RNN-T which you could refer to.

[2021-01-25 06:45] kkiyani commented on #116
[
![error_tfasr](https://user-images.githubusercontent.com/67789395/105669927-04cc4000-5f02-11eb-8b23-dd24d38ecfd8.PNG)
](url)

facing error while training jasper, even after making the suggested changes

[2021-01-25 06:47] mjurkus commented on #103
Yes, I saw the release :) Great news and thank you!

[2021-01-25 11:48] YoPatapon commented on #123
Maybe you could refer to the paper [EXPLORING ARCHITECTURES, DATA AND UNITS FOR STREAMING END-TO-END
SPEECH RECOGNITION WITH RNN-TRANSDUCER](https://arxiv.org/pdf/1801.00841.pdf). Section 2 introduces the decoding process of RNN-T.

![image](https://user-images.githubusercontent.com/17683649/105702027-20f1d080-5f46-11eb-9c6c-92cfc1955b47.png)

[2021-01-25 15:37] usimarit commented on #123
Thanks @YoPatapon, I'll look into them :smile:

[2021-01-25 16:21] usimarit commented on #100
@monatis Yeah we can do that way. And also find a way to overcome that limitation, may be we can read the audio files to arrays, transcripts to arrays of classes, store them to tfrecords and change the specaugment to use pure tf (the `TFSpeechFeaturizer` already in pure tf so we don't need to change). Then we can do augmentation on the fly.

[2021-01-25 16:43] monatis commented on #100
@usimarit  Sounds like a good plan. And it will accelerate data pipeline for GPUs as well. There's an implementation of SpecAugment [here](https://github.com/DemisEom/SpecAugment/blob/master/SpecAugment/spec_augment_tensorflow.py). Plus, we can decode audio with `tf.audio.decode_wav`, thus removing librosa dependency as well.

[2021-01-26 12:47] usimarit commented on #91
Hi everyone, if you guys want to share your pretrained models, just upload the `.h5` or `.pb` files along with `config.yml` to any drive (google, dropbox, etc.), then write a section, add the link, add your contact to a subsection in that section, in the `README.md` in the example directory that belongs to each model like in image (the one I made):
![Screenshot from 2021-01-26 19-42-51](https://us

[2021-01-26 13:35] monatis commented on #91
@usimarit Grat. I've been quite busy for some time, but I'll be more active in this repo on following days and contribute pretrained models in other languages. Thanks

[2021-01-26 13:37] gandroz commented on #124
I found why I always got the same test metrics.... I tested on the `test-clean` dataset and it saved a `test.tsv` file, but each time I performed another test, as there was already an existing file, only the metrics were computed and no inference was done. I've cleaned this file and have launched another test with the `test-other` dataset to continue the update.

[2021-01-26 13:52] gandroz commented on #106
Hi @abhigarg-iitk
I agree with you, I did not suceed to reach the same WER either even after more than 50 epochs (maybe still not fully converged). However, the difference between the beam search and greedy search results is not that much telling me two things:
* at such WER, the model is so efficient that a beam search does not improve the predictions
* or there is an issue in the beam search imp

[2021-01-26 14:06] gandroz opened #125 "Support multi-GPU training"
It could be fun to support training over multi-GPU. The goal is not to increase the batch size but to increase the model size, so the model would have to be splitted over the GPUs rather than been duplicated.

[2021-01-27 06:52] mjurkus opened #126 "Create new results file for each test"
Me and other users https://github.com/TensorSpeech/TensorFlowASR/issues/124#issuecomment-767545714 ran into the issue, that tests file is reused and it's not immediately obvious.

I would suggest to have just a separate folder for `test.tsv` files and make it so each test has a separate file.

[2021-01-27 09:18] abhigarg-iitk commented on #106
Hi @gandroz ,

In my opinion
[code]

I think the first statement might be true. Unless we have a shallow fusion with an LM the beam search might not be that effective. For reference see table 3 in this [work](https://arxiv.org/abs/1707.07413). Although #123 has good point. maybe we can have a look at some of the standard beam searches of [espnet](https://github.com/espnet/espnet/blob/master/espnet

[2021-01-27 13:07] gandroz commented on #106
Hi @abhigarg-iitk

I contacted the first author of the paper and here is his answer:

[2021-01-27 13:27] abhigarg-iitk commented on #106
Hi @gandroz ,

Thanks for this answer. I had looked earlier into the Lingvo implementation of conformer. And one strange contrast was the use of ff in the convolution module instead of pointwise conv used in the original paper. Also the class name says "Lightweight conv layer" which also has a mention in the paper.

Infact I also trying replacing pointwise conv with ff layers but the results were

[2021-01-27 13:58] usimarit commented on #126
@mjurkus You can use the argument to change file name:[https://github.com/TensorSpeech/TensorFlowASR/blob/3a4d4eef8815e71ebc2df618ba9a4634e410ccc0/examples/conformer/test_subword_conformer.py#L51](https://github.com/TensorSpeech/TensorFlowASR/blob/3a4d4eef8815e71ebc2df618ba9a4634e410ccc0/examples/conformer/test_subword_conformer.py#L51)
You have to put a different file name when you want to test o

[2021-01-27 14:10] usimarit commented on #125
@gandroz I want this too, but according to the [docs](https://www.tensorflow.org/api_docs/python/tf/distribute)
![Screenshot from 2021-01-27 21-09-28](https://user-images.githubusercontent.com/28498441/106002648-f63d7e80-60e3-11eb-9e15-cc020c6e9a29.png)
Spanning the model across devices is not supported yet.

[2021-01-27 14:17] usimarit commented on #106
@abhigarg-iitk @gandroz Before changing the beam search, I already inherited the beam search code from ESPNet [here](https://github.com/TensorSpeech/TensorFlowASR/blob/b7cb5d3593b9705abe10a8cf1f35056473169661/tensorflow_asr/models/transducer.py#L478) and tested, the WER was lower but not much different from greedy.

[2021-01-27 15:20] gandroz commented on #106
I made a quick review of the model code and did not find any great difference with the ESPNet implementation. Maybe in the decoder...

[2021-01-27 20:06] gandroz commented on #106
Also in [ESPNet](https://arxiv.org/pdf/2010.13956.pdf):

from an input sequence X of 80 dimensional log-mel filterbank features with/without 3-dimensional pitch features. X is first sub-sampled in a convolutional layer by a factor of 4, as in [4], and then fed into the encoder and decoder to compute the cross-entropy (CE) loss. The encoder output is also used to compute a connectionist temporal cl

[2021-01-28 07:19] mjurkus commented on #126
`parser.add_argument("--output_name", type=str, default="test", help="Result filename name prefix")`

Ok. I didn't go into implementation for it but maybe it should be documented, that it will do that?

I too stepped on the same landmine in my experimentations.

[2021-01-28 07:58] wenjingyang opened #128 "A question on the language model"
Hi, I also have a problem related to this ticket.  I generated a CTC models with deepspeech2.  I used a language model and voc download from http://www.openslr.org/11/. (3-gram.arpa is converted to binary) I run the testing and there is no beam_lm output likes below.
PATH    GROUNDTRUTH GREEDY  BEAMSEARCH  BEAMSEARCHLM
LibriSpeech/test-clean/6930/75918/6930-75918-0000.flac concord returned to its

[2021-01-28 19:04] gandroz opened #129 "Negative RNNT loss with TF 2.4 and CUDA 11.0"
Am I the only person to have some negative losses with TF2.4 and CUDA11.0 ? I just upated TF from 2.3 to 2.4, recompile warprnnt and always got negative losses (even with the tests of the library).
I tried the warprnnt library test (multibatch-gpu) with the RNNT loss implemented in TF and it seems good, so I'll try with this implementation. Maybe it could be the default one or maybe could we have

[2021-01-29 11:58] pourfard commented on #129
I have the same issue. When I use TF2.4 or TF2.4.1 and CUDA 11.0 or CUDA 11.1 RNNT loss is negative and training is very slow.

I'm now trying TF2.3.0 and TF2.3.1 with CUDA 10.1 but i get another error:

[code]

I'm really disappointed. Please somebody tell us which version of Tensorflow and CUDA are you using to run RNNT loss correctly.

[2021-01-29 12:55] pourfard commented on #129
I installed python 3.8 (it was 3.6) and created a completely new virtual environment and installed Tensorflow 2.3.2 with CUDA 10.1 and changed line 26 in contextnet.py from `if activation in ["silu", "swish"]: return tf.nn.silu` to `if activation in ["silu", "swish"]: return tf.nn.swish` because `silu` is not defined in `tf.nn` and now RNNT loss is **positive** and **1s/batch** (it was 4s/batch).

[2021-01-29 13:28] gandroz commented on #129
There is definitely an issue with CUDA11 (and maybe TF2.4) but I'm not an expert with CUDA and could not tell you :(
By the way, the RNNT loss implemented directly in TF works very well. Juste uninstall warprnnt and it should use the TF version. I verified that the results are the same (I just launched the same test as done with warprnnt and it gives me the same results)

[2021-01-29 17:02] zhangguanqun opened #132 "Multi-Head Attention layer's implementation is not complete"
In paper of Conformer, MHSA layer is called Multi-Head Attention with Relative Positional Embedding, but in your great project, the implementation in class MultiHeadAttention do not have LayerNorm and Position-wise Feed Forward in call_attention function.
Beside that, class PointWiseFFN is not used by any model.

[2021-01-29 17:38] ncilfone commented on #124
@gandroz Can you post your full config file you are using to generate the ~5% WER results?

Thanks!!!

[2021-01-29 18:03] gandroz commented on #124
@ncilfone sure !

[code]

I used a sentencepiece (unigram) model as vocab, currently trying with the BPE version

[2021-01-29 18:07] ncilfone commented on #124
Thanks @gandroz!

Is that the vocab here: vocabularies/librispeech_train_4_1030.subwords

Also is this just single GPU training?

[2021-01-29 18:10] gandroz commented on #124
no it's not that vocab. However, you can train yours with `script\generate_vocab_sentencepiece.py` giving your config file.
And I'm training on two GTX 1080Ti. It took soooo long to train, I'm looking for a way to pre-compute the fbanks as they are computed on the fly which might take some time.

[2021-01-29 18:16] ncilfone commented on #124
Yeah just realized that you generate it based on the config options. Thanks for letting me know!

I'm assuming you are doing the featurization of the WAV files in TF as the stft etc. should be a bit faster on the GPU. [DALI](https://docs.nvidia.com/deeplearning/dali/user-guide/docs/) might be another place to look too although I've never used it...

[2021-01-29 18:19] usimarit commented on #132
@zhangguanqun MultiHeadAttention is a layer only, in Transformer paper, they combined it with LayerNorm and Position-wise Feed Forward. However, in Conformer paper, they only used the MHSA layer, beside Dropout, there's no LayerNorm or FFN right behind it, the figures of the modules in Conformer paper show us to every layers of the model.
![Screenshot from 2021-01-30 01-18-51](https://user-images.

[2021-01-29 18:19] ncilfone commented on #124
Final question I promise... It looks like you are using <sos> and <eos> tokens in SentencePiece but I'm guessing the text featurizer for the LibriSpeech transcripts doesn't have those? Or do you pad them onto each one?

[2021-01-29 18:28] gandroz commented on #124
I think the best way to accelerate processing is to pre-process fbank just as it done on [fairseq](https://github.com/pytorch/fairseq).
For your information, featurization is done by the class `tensorflow_asr\featurizers\speech_featurizers.py::TFSpeechFeaturizer`.

I'm not sure to understand well your question. Sentencepiece is an unsupervised text tokenizer and detokenizer so you have to train a

[2021-01-29 18:30] ncilfone commented on #124
Ugh forgot that markdown will remove the notation I used... This is what I meant...

It looks like you are using `<sos>` and `<eos>` tokens in SentencePiece but I'm guessing the text featurizer for the LibriSpeech transcripts doesn't have those? Or do you pad them onto each one?

[2021-01-29 18:31] usimarit commented on #129
We should move to **rnnt loss in pure tf** (by not installing warp-transducer), since it was implemented based on warp-transducer, the warp-transducer depends greatly on CUDA and tensorflow versions and I don't work (not a maintainer) on errors from warp-transducer.
I'll update the instruction on README later :smile:

[2021-01-29 18:56] gandroz commented on #124
Oh I see. You are right, transcripts does not have those tokens and they are useless as far as I understand it. However, you can add them when encoding some text. You could find more details on the [repo](https://github.com/google/sentencepiece), and I've just realized that there is a tensorflow binding.... I think I'll try it instead of the python implementation I used.

[2021-01-29 19:00] gandroz commented on #129
I agree with you. I modified the warp-transducer tensorflow binding and CMakeList files and also some test files to be able to compile it with TF2.3. It worked great but it broke with TF2.4 and CUDA11.0. I don't know much about cuda programming so moving to the TF implementation is mandatory.

[2021-01-29 19:07] usimarit commented on #106
There're 2 things I'm not sure in the paper: variational noise and the structure of prediction and joint networks. I don't know if they have dense layers right after the encoder and prediction net or only dense after adding 2 inputs, layernorm or projection in the prediction net.
The contextnet paper says the structure is from [this paper](http://arxiv.org/abs/1811.06621) which says the vocabulary

[2021-01-29 20:22] gandroz commented on #106
@usimarit I'm waiting for an answer about the joint network and the choices made by the conformer team. I'll let you know when I have further details

[2021-01-30 03:51] zhangguanqun commented on #132
Ah, maybe I mixed MultiHeadAttention layer in conformer and transformer-xl, thanks again for your great project.

[2021-01-30 12:08] usimarit commented on #100
Hey guys, checkout the newest PR #130 to see if it can run on TPU :smile:

[2021-01-30 15:17] tund commented on #124
Hi @gandroz ,
Have you tested on `test-other` set, and what is the result?
Thanks!

[2021-01-30 16:04] gandroz commented on #124
@tund not yet, it took me a week to test on `test-clean` and I did not have time yet

[2021-01-30 23:04] tund commented on #124
Thanks for your reply @gandroz .
Since the performance using beam-search is quite close to the greedy-search, I think only running greedy-search will be much faster.
Another question: do you use Gradient Accumulation for trainng? I saw: "accumulation_steps: 4" in the config file, but not sure what your training command exactly is.

[2021-01-31 00:16] gandroz commented on #124
Indeed, I could just perform greedy search for this test. In a near future perhaps...
And yes, I used gradient accumulation.

[2021-01-31 09:44] pourfard commented on #106
Hi,
After 10 epochs the transducer_loss is about 3.5 for my training data (300 hours). But the test results are not promising. What is the transducer_loss after 20 or 30 epochs for your training data (LibriSpeech)? does it gets under 1.0 after 20-30 epochs? should I still wait for 20 more epochs? because every 5 epochs takes 1 day on my 1080Ti.

@gandroz @usimarit @abhigarg-iitk

[2021-01-31 10:22] usimarit commented on #123
@YoPatapon I added Transducer Greedy V2 that behaves like you said, the result somehow got worse. (test on my pretrained Conformer describe in the readme of conformer directory example)
![Screenshot from 2021-01-31 17-15-27](https://user-images.githubusercontent.com/28498441/106381004-8b908980-63e8-11eb-9e3a-1853a01ac498.png)
Checkout [_perform_greedy_v2](https://github.com/TensorSpeech/TensorFlow

[2021-01-31 10:28] #132 closed

[2021-01-31 10:30] #103 closed

[2021-01-31 13:19] tund commented on #129
TF 2.4 and CUDA 11 works fine for me. At the beginning, I got trouble with installing warp-transducer, but fixed it by removing compute_86 in CMakeLists.txt file, after cloning `git clone https://github.com/usimarit/warp-transducer.git`.
I use python 3.6 and install packages in Anaconda whenever possible. Here is my conda env file:
[code]

[2021-01-31 15:31] gandroz commented on #106
@pourfard I could not say... I'm using the whole training dataset (960h) and after 50 epochs, the losses were 22.16 ont the training datasets and 6.3 on the dev ones. And yes, it is very long to train...

![image](https://user-images.githubusercontent.com/38106881/106389053-5a479780-63af-11eb-9b1b-f34b659afb23.png)

[2021-01-31 15:51] gandroz commented on #129
@tund thanks for pointing me out to this repo, I got mine (which is relatively similar). The main difference was in the CMakeList.txt file where I declare arch for CUDA11. I missed the arch=sm_80 flag.... seems to be my mistake. However, I found in a doc that

But there seems to be an issue with that.

[2021-02-01 03:21] YoPatapon commented on #123
I implemented batch greedy decode v1 and v2 myself, trained and tested on a Chinese speech recognition dataset. The results on the test set also got worse when using v2 but I found v2 helps improve the WER when decoding the train set. The v2 implementation introduces more paths in decoding compared to v1, maybe these paths are not practical in real scenarios which increase the difficulty of decodi

[2021-02-01 07:58] mjurkus commented on #50
I'm also suffering from log GPU utilization, but even with a single GPU. See graph below.
Detals:

- TensorFlowASR v0.7.1
- `train_ga_conformer`
- config - see below.

If I try to increase batch size - it fails with OOM instantly so it's the best I could get.

Config:
[code]

![image](https://user-images.githubusercontent.com/427661/106426900-1320db80-646f-11eb-8115-c9251e9e072b.png)

[2021-02-01 09:44] pourfard opened #133 "What does "ga" stands for?"
I see there exists a "ga" model in each example directory. What does it mean?

[2021-02-01 09:45] #133 closed

[2021-02-01 09:45] pourfard commented on #133
I found the solution: it stands for Gradients Accumulation

[2021-02-01 09:48] mjurkus opened #134 "Question: Conformer or Subword Conformer"
Could someone share some insights on which approach should I choose?
I can't find detailed information or comparison.

[2021-02-01 13:43] pourfard opened #135 "Memory leakage problem"
Hi,

I've just pulled the last source code from the repository. The speed of training has changed from 2s/batch to 1s/batch but memory goes up to 5GB and freezes my pc with only 8GB of RAM.

I changed buffer_size in config file from 100 to 10 but nothing changed.

I'm trying to train contextnet.

[2021-02-01 13:48] usimarit commented on #135
Did you use ASRSliceDataset or ASRTFRecordDataset?
Try setting `cache: False` in the train and eval dataset configs

[2021-02-01 13:50] usimarit commented on #134
@mjurkus You should use `Subword Conformer` (the approach in the paper) because Subwords is proved to give better performance than Characters.

[2021-02-01 14:01] pourfard commented on #135
Thanks

I set cache: False and memory usage is fixed on 4.5GB. I did not used ASRTFRecordDataset.

Sorry if I ask this question here, Jasper parameters is about 90M and Contextnet is about 10M, does it mean Jasper inference time is partially 9 times more than Contextnet? I'm trying to train a model to run it on Raspberry Pi or Android for real time ASR, have you any suggestion?

After training con

[2021-02-01 14:01] pourfard commented on #135
Thanks

I set cache: False and memory usage is fixed on 4.5GB. I did not used ASRTFRecordDataset.

Sorry if I ask this question here, Jasper parameters is about 90M and Contextnet is about 10M, does it mean Jasper inference time is partially 9 times more than Contextnet? I'm trying to train a model to run it on Raspberry Pi or Android for real time ASR, have you any suggestion?

After training con

[2021-02-01 14:15] mjurkus commented on #134
What is the best approach then when having multiple datasets?

For example, I have 3 datasets.

2 generic datasets, that I would like to train my base model.
1 problem-specific dataset, that I would like to use for fine-tuning.

1. When training `base` model I would use subwords generated from "generic datasets" and when finetuning - only from "problem-specific"?
2. Can these subwords change in ti

[2021-02-01 16:16] usimarit commented on #135
It's true that more parameters will take more time for inference, but I don't think it would be like 9 times because it depends on the structure and the decoder from probabilities to text.
Jasper cannot be used for streaming too, only models that use unidirectional RNN layers or some technique can be used for streaming because it keeps the states of the previous frames.

[2021-02-01 16:20] pourfard commented on #135
Thanks,

Can I use streaming_transducer? I read the paper and the authors had said it is for a streaming fashion.

Have you any suggestion?

[2021-02-01 19:15] usimarit commented on #135
Until now, I see they often use `streaming_transducer` for streaming apps, but they're moving to Streaming Conformer by applying some methods that I'm currently doing research on, hope that we can apply it in the near future.

[2021-02-01 19:19] pourfard commented on #135
Thanks again.

[2021-02-01 19:19] #135 closed

[2021-02-01 22:00] gandroz opened #136 "Memory leak ?"
With the new config, I got a memory leak which ends by a killed process

![image](https://user-images.githubusercontent.com/38106881/106523317-eee4ef00-64ae-11eb-8ce4-3b315570d8dc.png)

[code]

The RAM starts at 28GB then increases to 30GB plus 30GB of swap

As fare as I understand it, when the training dataset is created, all files of all provided datasets (`train-clean-100`, `train-clean-360` ..

[2021-02-01 22:13] ncilfone commented on #124
@gandroz any chance you can post your loss curves?

[2021-02-02 00:26] gandroz commented on #124
sure
![image](https://user-images.githubusercontent.com/38106881/106534982-35dcdf80-64c3-11eb-81bf-f49c9e3eb2df.png)

![image](https://user-images.githubusercontent.com/38106881/106535004-455c2880-64c3-11eb-821b-f4dc455445c1.png)

The glitches at the end are due to infinite loop bug corrected afterwards (evaluation occured endlessly after training ended). I trained the model for 40 epochs first an

[2021-02-02 00:27] #129 closed

[2021-02-02 14:33] harrypotter90 opened #137 "Trained model checkpoint"
Hello, First of all, thank you for sharing this repo.

I have been trying out this repo and couldn't able to get the same benchmarks as mentioned in the paper.

Is there a trained checkpoint that has the same benchmark as in Paper or close to it?

Thank you in advance!

[2021-02-02 18:50] gandroz commented on #137
@harrypotter90 see #106 and #124

[2021-02-02 23:54] tund commented on #106
Hi @gandroz : have you got something back from the conformer's authors?

[2021-02-03 00:05] gandroz commented on #106
@tund not yet, I'll try to poke him again tomorrow

[2021-02-03 03:21] usimarit commented on #136
@gandroz As far as I understand, caching the whole dataset will load the whole dataset in memory, if the memory is not large enough it will cause OOM.
Did you use ASRSliceDataset or ASRTFRecordDataset?

[2021-02-03 04:43] tund commented on #106
Thanks @gandroz

[2021-02-03 05:58] usimarit commented on #134
1. I think training the base model use the subwords generated from generic datasets, then combine them with subwords from the problem specific to train the later model
2. Subwords are estimated from dataset using statistics, so yes it could change in time and with what datasets you combine or use.

[2021-02-03 10:59] monatis commented on #100
Hi @usimarit I need to cherrypick some of the commits in my fork and then I can give it a try.

[2021-02-03 13:17] gandroz commented on #136
Oh ok, the whole dataset is loaded... with more than 600GB that's not surprising it does not fit in RAM lol
And I use ASRTFRecordDataset, I hoped training speed would increase, but not sadly no

[2021-02-03 13:17] #136 closed

[2021-02-04 05:34] wenjingyang opened #138 "Question: Predict network in RNNT model"
Hi, I have a question on the predict network in the code.
For example: Input training label is such as below. Now we got 261 vocabularies . (subwords maybe : accept, call, reject ,phone)
1. "accept call"
2. "reject phone"

The testing cases is :  "reject call"
For the current RNNT transducer model. I can't get "reject call". My understanding is that such case isn't in the predict network.  Is it r

[2021-02-04 21:27] n0tMaster opened #139 "Question: Dataset"
Hey
i just wanted to ask if this idea is just garbage or if its something that could work.
im trying to create a model for the norwegian language but i cant find any good datasets for our language,
the only one i can find makes a shitty model that dosent understand half of what im saying.
So i was thinking about creating a crawler to run on sites with norwegian videos that have subtitles and use
y

[2021-02-04 22:40] JStumpp commented on #91
@monatis, did you already train a Conformer model in German?

[2021-02-04 22:50] tund commented on #139
Hi @n0tMaster , after downloading the videos and subtitles, you would need to segment them into smaller chunks, for example, sentences. I dont think it's easy to do properly.
You also might want to look at wav2vec 2.0 model. It's semi-supervised framework, so you dont need a lot of labeled data (transcripted audio).

[2021-02-04 23:23] n0tMaster commented on #139
yeah thats why i take the subtitle file and use every entry from this to create smaler audio files with ffmpeg, the files i get after this has a length from 2-9 seconds and all the transcriptions ive checked manualy only contains one sentence.
is this to long audio files or can this be used?

I just finished a test run where it downloaded 500GB of tv shows with subtitles and created audio files an

[2021-02-05 06:16] monatis commented on #91
Hi  @JStumpp  I started to train it and hope to release it next week.

[2021-02-05 14:33] mjurkus commented on #139
Might want to contribute to https://commonvoice.mozilla.org/en/languages to enable crowdsourcing for your language. That's what I did at least. And then promote the hell out of that thing to get ppl to contribute.

Using videos or audiobooks or something like that might be an issue - licensing, GDPR, and so on.

[2021-02-05 15:11] n0tMaster commented on #139
Yeah i know licensing can be a problem so i sendt an email to the provider im grabbing the videos from and got the permission to use there data for training, but i am not allowed to share the dataset, only the finished product.

but i dont know if this is any good to use, im half way on epoch 2 now and the ctc loss with deepspeech2 is still at86.69503 so its 1 better on the loss after 15 hours of

[2021-02-08 07:02] mjurkus commented on #139
I haven't used this implementation of DeepSepeech2 and can't comment on it.
How much data do you have? In hours? With different implementations (on PyTorch) I had about 150 hours of data (and I got feedback, that it's really not enough) and trained for at least 5 days to get something reasonable, but it still sucked :D

The loss metric should not your main indicator. It's useful when training, but

[2021-02-09 03:04] MadhuAtBerkeley opened #141 "Invalid argument: PartialTensorShape: Incompatible shapes during merge: [212] vs. [275]"
Hi,
  Thanks for putting together this repo. I could train the conformer (train_subword_conformer) however see the Invalid argument error with test_subword_conformer.py).  The issue is similar to #71 and #79.  I use Tensorflow-gpu version 2.4.1 on Titan RTX.
I am using the default config.yml and shorter version of LibriSpeech (few folders in train-clean-100/dev-clean/test-clean) are used to verify

[2021-02-09 03:49] MadhuAtBerkeley opened #142 "Invalid argument to rsqrt() in train_keras_subwords_conformer"
Hi,
  I see below error with train_keras_subwords_conformer and it is traced to missing tensor type casting in schedules.py.  Adding step = tf.cast(step, tf.float32) before calling rsqrt() resolved the issue.

Cheers,
Madhu

`def __call__(self, step):
        # lr = (d_model^-0.5) * min(step^-0.5, step*(warm_up^-1.5))
        arg1 = tf.math.rsqrt(step)`

Traceback (most recent call last):
  File "

[2021-02-09 17:57] usimarit commented on #142
Thanks @MadhuAtBerkeley, I updated in the [commit](https://github.com/TensorSpeech/TensorFlowASR/commit/a228193ad789e432f508d8ea3952ca03f2944b12)

[2021-02-09 18:16] usimarit commented on #138
Actually, they said the Transducer structure behaves like an LM, but anyway LM can be used in beam search. However, we haven't supported the LM in beamsearch (and the rnnt beam search itself is not really optimized).
I think the transducer able to recognize unseen data, well in your case is "reject all". Because the "reject all" signal is fed into the encoder, then it will predict the "reject" the

[2021-02-09 18:37] MadhuAtBerkeley commented on #142
Thanks!!

[2021-02-09 18:37] #142 closed

[2021-02-10 16:37] mukurgupta opened #143 "[Error while testing the pretrained model]: PartialTensorShape: Incompatible shapes during merge: [375] vs. [434]"
Hello,
Thanks a lot for sharing this repo.
I am trying to test the pre-trained confirmer model with test_subword_conformer.py but getting the following error. I have updated the latest commits and using ASRSliceDataset on CPU. Any help would be appreciated.

Thanks.

![issue](https://user-images.githubusercontent.com/38879291/107540475-1729c780-6bec-11eb-8f9d-da9ac8c56cd5.jpg)

[2021-02-10 18:43] usimarit commented on #143
Duplicated #141
I'm working on this, meanwhile, please set beam_width to 0 to use only greedy decoding.

[2021-02-10 19:15] mukurgupta commented on #143
Hi @usimarit
Thanks for the response. The beam_width was already 0 when this error occurred.

[2021-02-10 19:24] usimarit commented on #143
@mukurgupta Could you give me the full error messages?

[2021-02-10 19:25] mjurkus commented on #143
same here, trained `keras_subword_conformer`, beam width is 0

[code]

[2021-02-10 19:29] mukurgupta commented on #143
@usimarit I have included a full error screenshot in the first comment. That's where it ends😅
Also, I saw that it works in the exact same setting when batch_size is changed to 1.

[2021-02-10 19:31] usimarit commented on #143
@mukurgupta @mjurkus Yeah meanwhile please use batch size 1, I'll fix for larger batch size ASAP

[2021-02-12 07:21] #134 closed

[2021-02-12 09:33] usimarit commented on #141
Fixed in the [commit](https://github.com/TensorSpeech/TensorFlowASR/commit/98e13e235cd8d76bfaab279dd1d0585d724e9078).

[2021-02-12 09:33] usimarit commented on #143
@mukurgupta @mjurkus Fixed in the [commit](https://github.com/TensorSpeech/TensorFlowASR/commit/98e13e235cd8d76bfaab279dd1d0585d724e9078)

[2021-02-12 22:44] mukurgupta commented on #143
Thanks a lot @usimarit
Really helps.

[2021-02-12 22:44] #143 closed

[2021-02-12 22:54] mukurgupta opened #144 "[Error with rnnt_loss while training subword_conformer] ValueError: Input tensor 'rnnt_loss/add_4:0' enters the loop with shape (1, None), but has shape (None, None) after one iteration"
Hello
I am trying to train subword_conformer with rnnt loss in TF without installing warp-transducer as instructed in the readme but getting the following error. Any help would be appreciated.

Thanks
![issue0](https://user-images.githubusercontent.com/38879291/107831026-24dd7980-6db3-11eb-9986-fb6c66b69e2e.jpg)

![issue](https://user-images.githubusercontent.com/38879291/107830964-f6f83500-6db2-1

[2021-02-13 08:15] #141 closed

[2021-02-13 08:21] usimarit commented on #144
The issue is reproduced. It happens for `batch_size=1`

[2021-02-13 09:12] usimarit commented on #144
@mukurgupta Fixed in the [commit](https://github.com/TensorSpeech/TensorFlowASR/commit/dce43995548c9b0ba58ffa5c361e6aa9cfabf8b3)

[2021-02-13 10:20] mukurgupta commented on #144
Yes, it's working fine now.
Thanks a lot, @usimarit for your prompt response and help.

[2021-02-13 10:20] #144 closed

[2021-02-13 10:32] mjurkus commented on #124
How you are able to achieve such good results with your models? I've trained conformed subword model, but it stops improving after ~20 epochs.

I've updated Keras trainer to use EarlyStopping and stops the training process after 5 epochs without improvement to validation loss.

Train data: 50hrs
Eval data: 7hrs
Using TF RNN Loss

Audio lengths. Not sure :
[code]

The test results are complete rubb

[2021-02-13 15:54] MadhuAtBerkeley commented on #141
Thanks!!

[2021-02-13 16:03] usimarit commented on #124
@mjurkus Could you show the loss curves?

[2021-02-13 16:05] gandroz commented on #124
@mjurkus my training was performed over the LibriSpeech data, 960h of data for training. ASR needs lots of data to converge, so maybe you need more. Furthermore, maybe LibriSpeech data is cleaner than yours ? I also have some proprietary data but they are way worse than LibriSpeech (not even the same sampling rate). But perhaps you could share the training curves ?

[2021-02-13 18:40] usimarit commented on #50
I've been testing some models and I see that models which does not have RNN will take like 90-100% GPU utilization and models have at least 1 RNN will take like from 25-70% GPU utilization.
Do you guys have any idea to improve GPU utilization for RNN?

[2021-02-13 18:49] usimarit commented on #54
I'll close this issue here since I think the rnnt loss implementation in tf can drop our dependency in gpu devices and cuda versions and leave it to tensorflow. Therefore this problem is solved.
Feel free to reopen or open new issue if this problem occurs again (for rnnt loss in tf only, wrap rnnt loss is deprecated)

[2021-02-13 18:49] #54 closed

[2021-02-13 19:43] mjurkus commented on #124
Yeah, the amount of data is the answer... That's what I thought.

Here's couple:
Very clean, 16k data, 50hrs:
![train_rnnt_loss,val_val_rnnt_loss](https://user-images.githubusercontent.com/427661/107859692-cf04e200-6e43-11eb-9463-cdac560b99fb.jpeg)

Mixed data: clean and noisy, 16k, 100hrs:
![train_rnnt_loss,val_val_rnnt_loss (1)](https://user-images.githubusercontent.com/427661/107859723-1be8b880

[2021-02-13 20:10] gandroz commented on #124
Your model does not seem to learn anything.... Try to reduce your LR, explore some data augmentation as it could help.

[2021-02-14 08:58] mjurkus commented on #124
Using conformer with characters worked way better, than using subwords. Managed to get decent results (WER ~15%) do not have the graphs for those, though.

Regarding augmentation - I figured, that this config enables augmentation.
[code]

[2021-02-15 11:17] roboticsai opened #145 "Any example for colab or notebook"
Hello, isn't their any colab or notebook examples just like in TensorFlowTTS repo? Or file which shows how should i use this in my own module?

[2021-02-15 11:50] usimarit commented on #145
I'll add some colab examples.
You can use this package like in some scripts in the [examples folder](https://github.com/TensorSpeech/TensorFlowASR/tree/main/examples) or make subclasses to modify the classes, functions for your purposes.

[2021-02-16 12:07] ulucsahin opened #147 "OOM after a while"
Hello, first of all, thank you for clear implementation.

I have an issue where I get OOM with the following error message:
`tensorflow.python.framework.errors_impl.ResourceExhaustedError:  OOM when allocating tensor with shape[2,1751,906,640]`

I tried different settings using both train_ga_subword_conformer.py and train_ga_conformer.py.
- Created subwords with 4000 subword limit, batch size 2 an

[2021-02-16 12:18] usimarit commented on #147
I do notice this issue when training with GA.
But I have to make sure: Do you have this issue when training "without" GA?

[2021-02-16 12:39] ulucsahin commented on #147
I tried running train_conformer.py and set accumulation_steps: 0. With batch_size 2, it trained 500 steps and started evaluation. So far it works without problems.

[2021-02-16 13:49] ulucsahin commented on #147
Update: batch_size=2 caused same problem after around 30 minutes.

[2021-02-16 13:52] usimarit commented on #147
@ulucsahin Can you try with smaller `joint_dim`, like 320, or even 144

[2021-02-16 14:40] usimarit commented on #100
Hi @monatis, @trillionmonster
I added support for TPU training in PR #146
Tested with keras builtin `fit`. You guys can try it :smile:

[2021-02-17 08:06] ulucsahin commented on #147
Sorry for the late reply.

I tried with joint_dim 144. batch_size=2, with no GA. I get the same error at step 18661/1531000. My longest audio is around 16 seconds. Maybe memory requirements explode on those files (still seems too high).

`[Train] [Epoch 1/20] |▏                   | 18661/1531000 [2:12:02<171:10:14,  2.45batch/s, transducer_loss=119.66762]2021-02-17 07:46:44.014171: W tensorflow/co

[2021-02-17 08:31] roboticsai opened #148 "Error running training and testing examples ds2"
When trying to run the train_ds2.py i'm getting below error:
`NotFoundError: /home/ubuntu/mnt/Miscellanea/Datasets/Speech/LibriSpeech/train-clean-100/transcripts.tsv; No such file or directory`
From where should i download this dataset?
Also it would be helpful for begineer on ASR to test the demos if their was a documentation or tutorial to run the examples.

[2021-02-17 08:40] usimarit commented on #147
@ulucsahin Yeah, for librispeech which max duration is 10s, it took 11G for batch size 2, it not only depends on duration but also the length of the transcript (I see your output dim[2] is 1086 which is huge, mine is maximum 207 using vocabulary size 1030). So I think you should use subwords, with batch_size=1 and GA :smile:
The conformer takes lots of memory due to self attention mechanism, which

[2021-02-17 08:46] ulucsahin commented on #147
I understand. So it is possibly running into long sentences during training and couldn't fit into memory, which makes sense. I will try to adjust configuration and my dataset so I can train.

Thank you for your help, I am closing the issue.

[2021-02-17 08:46] #147 closed

[2021-02-17 08:53] usimarit commented on #148
@roboticsai that's just an example, you have to download the dataset (LibriSpeech or any dataset that you want) and setup the `transcripts.tsv` files as in the [readme](https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/datasets/README.md)

[2021-02-17 08:55] roboticsai commented on #148
Yes, i understood t hat. But i couldn't find the link from where i can download those dataset. Can you show me the link to the example dataset.

[2021-02-17 09:17] roboticsai commented on #148
Ok, i think i got the model and dataset `https://modelzoo.co/model/deepspeech`. So i'll close this link.

[2021-02-17 09:17] #148 closed

[2021-02-18 02:23] MadhuAtBerkeley opened #150 "New error (when I tried to verify #141)"
Hi,  I see below error with default config.yml file with tensorflow-GPU 4.2.  Please see if this can be fixed.

Thanks Madhu

[Train] |                    | 0/23700 [00:00<?, ?batch/s]2021-02-18 02:18:34.939029: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2021-02-18 02:18:34.959171: I tensorflow/core/platform/profi

[2021-02-18 05:23] MadhuAtBerkeley commented on #150
The train_data_loader is empty and not sure what changed.  I do not see the issue with older revision using same config file

[2021-02-18 06:31] usimarit commented on #150
@MadhuAtBerkeley Could you check the train_data to see if it's empty?

[2021-02-18 06:55] MadhuAtBerkeley commented on #150
@usimarit, Thanks for looking into it. There is correction -  train_data_loader is not empty and even train_data is not empty.  I see the issue only with tensorflow-gpu 2.4.1.  The CPU version works fine.  I see the error thrown in _train_epoch(below).    Thanks
"
while True:
            try:
                self._train_function(train_iterator)  # Run train step
"

[2021-02-18 07:13] MadhuAtBerkeley commented on #150
v0.7.3/v0.7.4 are fine and I see the issue in v0.7.5.  I used the same config file except for the path to subwords file. Please check the delta between v0.7.4 and v0.7.5.

[2021-02-18 07:19] JeongWoonPark commented on #112
Hi, @usimarit

I try to convert **streaming_transducer** `.h5` to `.tflite`

tfasr src version that I tried: `0.6.4`, `0.7.2`, `0.7.5`
tensorflow version: `2.3.0`, `2.4.1`
trained model version: `0.6.3`

**It works only at `tfasr 0.6.4` with `tensorflow 2.3.0`**

when I use `tensorflow 2.4.1` at all(upper) `tfasr version`. The below error occurs (error msg is so long)
[code]

I think that It seems

[2021-02-18 08:23] usimarit commented on #150
@MadhuAtBerkeley Could you try setting `use_tf: False` in the `train_data_config` and `eval_data_config`?

[2021-02-18 08:37] usimarit commented on #112
@JeongWoonPark I remember tflite is not working with tf 2.4.x, could you try with tf-nightly?

[2021-02-18 09:07] jinggaizi commented on #124
I've just ended the training with espnet, except join_dim=640, the result of wer is **test_clean:4.9, test_other:11.9**, How can i get the results in the Conformer paper. @gandroz have you received any reply from conformer's authors?

[2021-02-18 09:44] usimarit commented on #112
@JeongWoonPark tensorflow-io 0.16.0 has bugs in tf 2.3.0, please install tf 2.3.2

[2021-02-18 10:30] usimarit commented on #124
@jinggaizi What vocabulary size did you use, 1k or 4k or english characters (around 28)?

[2021-02-18 11:06] jinggaizi commented on #124
1k

[2021-02-18 11:30] #100 closed

[2021-02-18 12:56] gandroz commented on #124
@jinggaizi no, I have no news from the author. I could try to email him again, he's smart. However, I am surprise by the WER you achieved with ESPNET. They say they had much better results (however I suspect it was not with the small model, but anyway). Have you use the RNNT or a transformer as a decoder ? When ESPNET announced they had same or better results than the paper, it was with a transfor

[2021-02-18 13:58] jinggaizi commented on #124
@usimarit thank for your reply, my result used RNNT as decoder, encoder is small size conformer, decoder is 1 lstm layer(dim=320) and dimension of join network is 640. espnet （https://github.com/espnet/espnet/tree/master/egs2/librispeech/asr1）have no RNNT result and i suspect that it's better because speed augmentation

[2021-02-19 08:16] usimarit commented on #116
@kkiyani Your dataset contains unknown characters (see in the KeyError), please normalize the dataset's transcripts so that they contain only "lowercase" Arabic characters and some additional characters that you want to add (for example: ' or ")

[2021-02-19 21:02] slesinger commented on #150
I get the same error in spite I set use_tf: False in the train_data***set***_config and eval_data***set***_config.

[2021-02-20 03:00] MadhuAtBerkeley commented on #150
yes. I see the error even with use_tf: False.  v0.7.4 works for now.

[2021-02-20 18:15] usimarit commented on #150
@slesinger @MadhuAtBerkeley Could you guys try again with the new commits on main branch? I've updated the prediction network

[2021-02-20 20:09] MadhuAtBerkeley commented on #150
I meant v07.4 works and it is broken in v0.75 and beyond.

[2021-02-21 16:34] usimarit commented on #150
I'll try to reproduce the issue, meanwhile, you guys can train models using keras builtin functions (because I'm getting custom training loop deprecated).

[2021-02-21 18:01] slesinger commented on #150
I have tried ```python3 train_keras_subword_conformer.py --devices 0 1 --tfrecords --tbs 1```. It ends up with the same error with slightly different stack trace.

[2021-02-21 18:05] usimarit commented on #150
@slesinger Could you show me the stack trace? And make sure you use v0.7.7

[2021-02-21 18:09] slesinger commented on #50
I also suffered by GPU utilized only low and occasionaly. Switching to Keras helped.

[2021-02-22 05:38] JeongWoonPark commented on #112
Hi @usimarit
In my case, Both `tf 2.3.0` and `tf 2.3.2` have same env: `tensorflow-io 0.17.0`.
Therefore `tf 2.3.2` also occurs same error related with `tensorflow-io`

I will inform you result after test `tf-nightly`

Thanks.

[2021-02-22 11:05] usimarit commented on #112
@JeongWoonPark tensorflow-io 0.17.0 is only for tf 2.4.x, please install tensorflow-io 0.16.0 for tf 2.3.x

[2021-02-23 01:24] JeongWoonPark commented on #112
Hi, @usimarit
I try `tensorflow-io 0.16.0` with `tensorflow 2.3.2` at `tfasr 0.7.5`
And I got the below error
[code]

So I install `tensorflow-text 2.3.0` instead of `tensorflow-text 2.4.3`

And then It works finally!

I want to remain this issue 'open' Becuase `tensorflow 2.4`, `tensorflow_io 0.17.0`, `tensorflow-text 2.4.3` are installed automatically at `pip install .` now
How about @usimarit ?

[2021-02-23 01:30] usimarit commented on #112
@JeongWoonPark I'll add the dependencies to readme, the pip will install the latest versions but the requirements still accept tf2.3.2
We can close this issue.

[2021-02-23 02:36] jinggaizi commented on #124
@gandroz hi, have you any news from the author, do you train the model on GPU or TPU? Have you ever tried a larger batch size, i assume google always use a larger batch size. i only worked on titan xp with small batch size, maybe larger batch size can improve the result of transducer

[2021-02-23 05:27] #112 closed

[2021-02-23 14:01] ncilfone commented on #124
@jinggaizi I've run it with a batch size of 2048 (which is what I think they used in the original paper taken from this ref here [http://arxiv.org/abs/2011.06110](http://arxiv.org/abs/2011.06110)) via batch accumulation on 8 GPUs (with a joint dim of 320) for days and I can barely get below 5.9% on dev-clean.

[2021-02-23 14:14] jinggaizi commented on #124
It's seem like larger batch size doesn't work, i have no new idea发自我的华为手机-------- 原始邮件 --------发件人： Nicholas Cilfone <notifications@github.com>日期： 2021年2月23日周二 晚上10:02收件人： TensorSpeech/TensorFlowASR <TensorFlowASR@noreply.github.com>抄送： jinggaizi <jingbojun@126.com>, Mention <mention@noreply.github.com>主    题： Re: [TensorSpeech/TensorFlowASR] WER for conformer update (#124)
@jinggaizi I've run it

[2021-02-23 16:33] usimarit commented on #124
@ncilfone batch accumulation is just to mimic the large batch size, I believe they use actual large batch size, which is way more efficient.

[2021-02-23 19:25] MadhuAtBerkeley opened #152 "Question"
Hi @usimarit,
  I trained the conformer (default config) only for train-clean-100 (Librispeech) files for 20 epochs and wanted to check if everything is working as expected.  The loss curve is attached below.   I see that decoded out is wrong - it is same text "and the other of the others were"

Please let me know how to resolve this issue. It looks like a decoder issue and I am using default conf

[2021-02-23 19:29] MadhuAtBerkeley commented on #152
Also, I would like to verify the conformer model with a small set of train/dev/test data.   Is it possible to use 10-15 hours of clean train data and verify small test data?   Thanks

[2021-02-24 01:19] jinggaizi commented on #124
@ncilfone what' version of GPU with 2048 batch size. did you improve the RNNT training refer to https://arxiv.org/pdf/1909.12415.pdf

[2021-02-24 03:43] thanatl opened #153 "Double log_softmax on logit in rnnt_loss_tf function"
In rnnt_loss_tf function, you take the tf.nn.log_softmax(logits) on line 238, and you take the tf.nn.log_softmax(logits) again in the compute_rnnt_loss_and_grad_helper on line 159

is this intentional or an error?

reference file:
https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/losses/rnnt_losses.py#L150

[2021-02-24 04:34] usimarit commented on #153
@thanatl Oh, I didn't notice, let me dive deeper to that code.

[2021-02-24 09:46] MadhuAtBerkeley commented on #150
I do not see this issue with v0.7.7 anymore.  I moved to python 3.8.8 from 3.6.9 and do not know if it contributed to the resolution.  Thanks

[2021-02-24 12:21] usimarit commented on #152
The loss is too high, the model doesn't learn anything yet.
And it might be because of the issue #153 too

[2021-02-24 12:34] mjurkus commented on #153
Sorry, for the ignorance, but what is the effect of double `log_softmax`?

[2021-02-24 13:34] thanatl commented on #153
@mjurkus well, I just recheck, compute `log_softmax` multiple time output the same result as compute `log_softmax` once.

[2021-02-24 13:44] usimarit commented on #153
@thanatl what case did you compute, mine doesn't equal
![Screenshot from 2021-02-24 20-42-40](https://user-images.githubusercontent.com/28498441/109009432-1fe8c600-76e1-11eb-8e1f-c19a21d93a26.png)

[2021-02-24 13:46] usimarit commented on #153
@thanatl Cool, then we should only use 1 time :smile:

[2021-02-24 18:33] slesinger commented on #150
I stayed with default python in container image (3.6.9) and it works for me, too. Thank you.

[2021-02-25 00:16] #150 closed

[2021-02-25 00:17] MadhuAtBerkeley commented on #150
Thanks @slesinger and @usimarit

[2021-02-25 00:20] MadhuAtBerkeley commented on #152
Okay. I will use entire Librispeech data (100,360 and 500 hours) for training then.  i see keras training version is bit faster.  However, the train module does not seem to save the model (latest.h5) with default config file. Anything extra needed?  Thanks

[2021-02-25 02:19] usimarit commented on #152
@MadhuAtBerkeley please see the config and keras training script in the example, you will see the details

[2021-02-25 04:25] MadhuAtBerkeley commented on #152
@usimarit I do not see any h5 files - checkpoints/{epoch:02d}.h5.  I suspect some interaction between ModelCheckpoint and BackupAndRestore callbacks in TF 2.4.1.

[2021-02-25 05:53] MadhuAtBerkeley commented on #152
@usimarit I found the reason - the default monitor is monitor='val_accuracy' for ModelCheckpoint() and need to pass monitor='val_val_rnnt_loss' for conformer.  Also, good to change {"val_rnnt_loss": loss} in transducer to 'rnnt_loss'  so that loss becomes 'val_rnnt_loss' (currently printed as val_val_rnnt_loss).

Let me know if I should generate a pull request (I might end up making more changes)

[2021-02-25 06:03] usimarit commented on #152
@MadhuAtBerkeley I already changed (config.yml not updated), it's available in v0.7.7 and above

[2021-02-25 06:32] #152 closed

[2021-02-26 03:12] gandroz commented on #124
Just a follow up with the author of the paper. I asked him some clues to try to find how we can achieve the same results. I asked a question about the dataset and whether the model was pre-trained or not, and asked for details on the hyperparameters not always mentionned in the paper.
He was kind enough to answer me, but not that much details to help us a lot.
Here it is

So maybe a major differen

[2021-02-26 03:51] jinggaizi commented on #124
@gandroz thanks, is experiments on a batch size of 2048 and trained till 90-100k steps means ~700 epoch, i never train so much epoch in my works!

[2021-02-26 07:15] usimarit commented on #124
Thanks @gandroz, they have their HUGE TPUs, that's why they're able to get SOTA results. I'll try to implement gradient accumulation in keras builtin function and test on colab TPUs, hope it will get nearer to their result.

[2021-02-26 22:52] MadhuAtBerkeley commented on #124
Hi, I see high bias issue - rnnt_loss in 240s and does not go down further using keras conformer trainer.  I am using learning rate in the default config file and  960 hours librispeech.  Please let me know if I need to modify anything in the config file to train a model that matches the WER performance of reference latest.h5 (WER of 6.5 in my testing).  Thanks

[2021-02-28 05:43] usimarit commented on #124
@MadhuAtBerkeley I trained with that config on google drive, except that I used `use_tf: False` (the config on drive is not updated to latest version but it still has the same meaning)

[2021-02-28 07:22] usimarit commented on #153
@thanatl @mjurkus I just found out that if we use 2 `log_softmax` as before, we can use larger batch size (I tested on TPUs, using 2 `log_softmax` allows me to use batch size 2 where single `log_softmax` only 1).
@monatis Can you tell us why you use 2 `log_softmax` at the first place :smile: ?

[2021-02-28 08:26] monatis commented on #153
@usimarit Well, this line originally comes from the borrowed code, so I don't know the exact intention of the original author, but it may be related to an issue of numerical stability imo, as they don't give the same result always --see [this quick test](https://colab.research.google.com/drive/10q3YVHc34xT6_NV9s0wezr9ewcjmlWex?usp=sharing).

[2021-02-28 08:32] usimarit commented on #153
@monatis I just checked out the author's repo, I only see 1 `log_softmax`.

[2021-02-28 08:44] monatis commented on #153
Oh then it must be my mistake when copying some lines around to fix the broken code, but I don't remember exactly how it happened. Sorry for the inconvenience.

[2021-03-01 16:20] MadhuAtBerkeley commented on #124
@usimarit Thanks!  I confirm that use_tf:False does help and now I see loss curve going below 100.

[2021-03-02 11:04] lukaszsus opened #156 "Question: how to create .h5 weights file"
Hello @usimarit,
I have trained ConformerNet. During the training some pairs of checkpoint files were created. Their names have following format:
```ckpt-{number}.index```
```ckpt-{number}.data-00000-of-00001```
But unfortunately, no .h5 weights files were created. Is there any possibility to create .h5 weights file based on that checkpoints?

Thanks in advance for your help. :-)

[2021-03-02 12:42] usimarit commented on #156
@lukaszsus The checkpoint is defined in the example yaml `running_config`. You will see the .h5

[2021-03-02 12:44] usimarit commented on #156
@lukaszsus And you can create a script to load the weights in tf format (your curreny checkpoints) and then save weights using .h5 format

[2021-03-03 03:34] thanatl commented on #124
Why set use_tf to False help the training as both tf version and numpy version perform similar method?

[2021-03-03 08:31] lukaszsus commented on #156
Thank you for your fast response.
I have defined checkpoint in my config.yml file in the same format as it is in example config:
```filepath: /(...)/checkpoints/{epoch:02d}.h5```
but no .h5 file was saved inside checkpoints directory during the training.
There is only `latest.h5` saved in running config outdir.

[2021-03-03 09:23] usimarit commented on #156
@lukaszsus .h5 checkpoints only available in `train_keras_*` scripts

[2021-03-03 09:39] lukaszsus commented on #156
Thank you for explanation.

[2021-03-06 07:35] roboticsai opened #157 "AttributeError: 'Namespace' object has no attribute 'export'"
While trying to run test_ds2.py i'm getting this error.

[2021-03-07 08:10] roboticsai opened #158 "suitable microphone to test automatic speech recognition"
Hello can you provide the information of which microphone did you used to test and validate this ASR package which gave the corresponding less word error rate? We are trying to use the speech recognition and conversational bot feature in owr robot.
How much important is the noise cancelation feature for the microphone being used to do the ASR task.

[2021-03-08 23:52] MadhuAtBerkeley opened #159 "WER Computation"
@usimarit, I was looking into WER computation and have a feeling you could be overestimating the WER.
Here is one example (from conformer model I trained):

decode = "gentlemen he said in a hoarse voice give me your word of honor that this horrible secret shall forever remain buried amongst ourselves the two men drew back"

target = "gentlemen he sat in a horse voice give me your word of honour th

[2021-03-09 03:21] usimarit commented on #159
@MadhuAtBerkeley I use the same wer function used in DeepSpeech Baidu repo :smile:

[2021-03-09 06:18] MadhuAtBerkeley commented on #159
Hi @usimarit, can you run this Baidu wer function on the decode/target pair I provided and check the WER?

[2021-03-09 12:01] usimarit commented on #159
@MadhuAtBerkeley The Baidu WER function is the one used in `base_runner.py` :smile:

[2021-03-11 03:44] MadhuAtBerkeley commented on #159
okay. Please let me know where (links/papers) I can find details on the decoder (TransducerJoint and TransducerPrediction).  Thanks

[2021-03-11 07:04] BuaaAlban commented on #124
Hi, could you please post your config in espnet?

[2021-03-11 15:36] usimarit commented on #124
The only difference is the numpy version uses `nlpaug` which randomly chooses time masking and freq masking to do augmentation where the tf version applies both time and freq masking.
The tf version works fine for me on TPUs.

[2021-03-12 04:03] jinggaizi commented on #124
# minibatch related
batch-size: 6
maxlen-in: 800
maxlen-out: 150

# optimization related
criterion: loss
early-stop-criterion: "validation/main/loss"
sortagrad: 0
opt: noam
epochs: 50
patience: 0
accum-grad: 4
grad-clip: 5.0

# network architecture
## encoder related
etype: transformer
#transformer-enc-input-layer: vgg2l
enc-block-arch:
        - type: conformer
          d_hidden: 144
          d

[2021-03-12 15:10] masoudMZB opened #160 "Tensorflow or CUDA BUG"
my OS : Ubuntu 18.04
my env : conda
did I customized the code : No

I did everything such as README file says.

conda activate tfasr
pip install -U tensorflow-gpu # upgrade to latest version of tensorflow
git clone https://github.com/TensorSpeech/TensorFlowASR.git
cd TensorFlowASR
pip install .

everything was fine but when I try to use tensorflow( or start training )  I see this error :

` python

[2021-03-13 18:11] usimarit commented on #160
@masoudMZB I think tensorflow 2.4 requires cuda 11 to be installed, if you have cuda < 11 such as 10, you should use tf 2.3.x (latest 2.3.2). And yes this code works with tensorflow >= 2.3.2

[2021-03-14 08:06] masoudMZB commented on #160
thanks, the problem solved. For those who use conda you can install Cuda 11 by this command
`conda install -c anaconda cudatoolkit`

You may see other errors as I see now. but cuda problem is solved now

[2021-03-14 08:52] usimarit commented on #158
@roboticsai the clearer the speech, the better the recognition. I didn't use any microphone to calculate wer, wer and cer are calculated from test dataset, if you want to know what microphone they used to create the dataset, please search for librispeech's description and may be you can find it ... or not if they didn't add to the description. The model I deployed on my website uses microphone fro

[2021-03-14 08:54] usimarit commented on #157
@roboticsai Could you give me the full error?

[2021-03-14 08:54] #156 closed

[2021-03-15 08:09] masoudMZB commented on #160
I have installed cudatoolkit (the version is 11 in current conda documentation ).  But now I face this error

2021-03-14 13:04:28.928865: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1757] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for

[2021-03-17 02:17] usimarit commented on #160
@masoudMZB Could you show me the full error?

[2021-03-17 07:33] masoudMZB commented on #160
@usimarit  that was the full error.  I couldn't solve the problem yet.

[2021-03-17 13:46] usimarit commented on #160
@masoudMZB Could you show me the content of the `config.yml` you're using? If you are using characters, make sure you specify the path of the `decoder_config.vocabulary` to point to the `.characters' file (or just set `null` if you want to use english characters)

Sorry I don't have GPU machine right now, the previous one is preinstalled cuda driver and I only do `conda install tensorflow-gpu` whi

[2021-03-17 17:55] gdoras opened #161 "Question: is the conformer positional encoding correct ?"
Hello, thanks for sharing your code.

I understand that the Conformer is using the same positional encoding as the Transformer XL (Z.Dai et al. “Transformer-xl: Attentive language models beyond a fixed-length context,” [1]). In the paper query has length L and key has length M. The positional matrix is computed with relative shifts of the  Lx(L+M) matrix.

The positional encoding comes from [here]

[2021-03-17 18:30] usimarit commented on #161
@gdoras I haven't read carefully about the paper but the code is cherry picked from [https://github.com/kimiyoung/transformer-xl/blob/master/tf/model.py](https://github.com/kimiyoung/transformer-xl/blob/master/tf/model.py) to fit to our repo (I replaced their `tf.slice` and `tf.reshape` after that with only "same result" `tf.reshape`).

I deleted the test code recently but here it is, you can copy

[2021-03-17 18:34] usimarit commented on #159
@MadhuAtBerkeley I follow the architecture here [http://arxiv.org/abs/1811.06621](http://arxiv.org/abs/1811.06621)

[2021-03-17 18:37] usimarit commented on #159
I'll check the different between Baidu version and jiwer version to see which one of them is right.

[2021-03-17 21:49] MadhuAtBerkeley commented on #159
Hi @usimarit I did try jiwer version and the WER for test-other were similar to your Baidu implementation. It is possible that  Baidu WER was off for some corner cases,
 I find the decoding is bit slow (as other's mentioned)  and exploring how to improve the speed.  In the past, I had used LSTMCell() instead of masked LSTM() for prediction as CuDNNLSTM implementation was not available for masked i

[2021-03-18 11:12] gdoras commented on #161
I agree that the positional encoding computation and `relative_shift` are correct. My question was more related to the length used to compute it. If we let `L` denote  the query length and `M` the key length as in the original paper, there are `L+M-1` possible relative distances between each position in key/query. My understanding is that when the positional encoding is computed with `M` values on

[2021-03-18 12:13] masoudMZB commented on #160
@usimarit  Ok I'll share it now.

But for more clarification, I write my steps :

1. create conda env `conda create -y -n tfasr python=3.8`
2. activate conda env `conda activate tfasr`
3. install proper cudnn for tensorflow2.3.2  `conda install -c anaconda cudnn`  ( this will handle cuda 10 )
4. install tensorflow 2.3.2 with pip `pip install tensorflow==2.3.2`
5. clone repo `git clone https://gith

[2021-03-18 13:49] usimarit commented on #160
@masoudMZB
The error says that your dataset has a character 'f' but your `.characters` file doesn't have. Please make sure your vocabulary file (aka `.characters`) includes all of characters in your dataset.

[2021-03-18 16:53] usimarit commented on #161
@gdoras So your point is that the `pos` should have the length `2*L` (we assume `L=M`), then the `logits_with_v` will have the shape `[..., H, L, 2L]`, then we slice the shift of it to shape `[..., H, L, :L]` to add with `logits_with_u`?

[2021-03-19 05:54] manmay-nakhashi opened #162 "does anyone have more pretrained model with good general wer ?,( want to try out for benchmarking on my dataset)"

[2021-03-19 08:44] gdoras commented on #161
Yes, exactly, a length of `2*L-1` to account for all possible relative shifts between key and query. Otherwise, the encodings for a key position that are "after" the corresponding query positions will be erroneous.

I don't know if this will change something in the performances in practice (I haven't used the conformer for ASR yet), but that's might be worth trying. What do you think ?

[2021-03-19 11:23] usimarit commented on #161
@gdoras I see some good points here, I'll make an option to use this and we can train the model to test :smile: Or you can do that yourselves in your fork if you don't want to wait for my commit :smile:

[2021-03-21 08:37] nixon-voxell opened #163 "conformer tflite model unusable in tensorflow c api"
I managed to run tflite model via python but can't do it using the C API.

for more info refer to this issue: https://github.com/asus4/tf-lite-unity-sample/issues/110

[2021-03-21 09:44] ahmedalbahnasawy commented on #160
Hi @usimarit , I'm getting
`path_trie.h:10:10:` fatal error: fst/fstlib.h: No such file or directory
` while installing CTC decoder.

[2021-03-21 11:11] usimarit commented on #160
@ahmedalbahnasawy
Can you remove the directory `externals/ctc_decoders` by running `rm -rf ./externals/ctc_decoders`. Then rerun the script `./scripts/install_ctc_decoders.sh`?

[2021-03-21 11:32] usimarit commented on #163
@nixon-voxell
If you want to use static shape, you can alter this [line](https://github.com/TensorSpeech/TensorFlowASR/blob/283d1f2df3a4da021721c222a51c1e4bbc709238/tensorflow_asr/models/transducer.py#L767) with `tf.TensorSpec([max_len], dtype=tf.float32)` where `max_len` is the maximum length of the signal, reinstall package by `pip install .` and redo tflite conversion.
May be the static shape w

[2021-03-21 11:54] nixon-voxell commented on #163
Hi and thank you for you reply! The input shape actually has no problem for now, I managed to initialize the input with a blank array in tensorflow c api.

The problem is that it is unable to run the inference.

[2021-03-21 12:30] usimarit commented on #163
@nixon-voxell The conformer tflite is built with SELECT_TF_OPS. So may be you can try building tflite for unity with support for SELECT_TF_OPS like [this](https://stackoverflow.com/a/58692079/11037553)

[2021-03-21 12:43] nixon-voxell commented on #163
Oh thank you very much! I'll look into it and report back if it works or not!!

[2021-03-21 12:53] masoudMZB commented on #160
@usimarit  thanks for the help that was the problem and removing unwanted char helped.

But I have another problem now.

Everything is fine But the code can not detect GPU. and I see an error:

 which points to cuda 11 :| But I installed Tensorflow 2.3.2 and cuda 10.1 and cudnn 7.6 by this commands :
`pip install tensorflow-gpu==2.3.2`
`conda install -c anaconda cudnn`  ( [as conda doc says](https

[2021-03-21 13:17] ahmedalbahnasawy commented on #160
@usimarit i'm still getting same error. Do you think cuda-10.1 is the problem ?

[2021-03-21 13:18] usimarit commented on #160
@masoudMZB the best option is to do `conda install tensorflow-gpu`, this will install all dependencies that works with tensorflow gpu to anaconda env, then you can upgrade or downgrade the tensorflow version by running `pip install tensorflow-gpu==x.y.z`

[2021-03-22 03:29] #162 closed

[2021-03-22 04:05] nixon-voxell commented on #163
@usimarit May I know if there are other versions of pretrained conformer model? It seems that I can't export a tflite model using it...

when using `tflite_subword_streaming_transducer.py`, it seems that the `config.yml` conflicts with the `latest.h5` model

[code]

same goes with `tflite_subword_conformer.py`
[code]

and when I used the original `config.yml` from the google drive it gives me thes

[2021-03-22 14:41] Sar-Dar opened #164 "checkpoint file can't created correctly"
Hello @usimarit,
I have trained Conformer with `train_keras_subword_conformer.py`, During the training some pairs of checkpoint files were created in states folder. When Training done, I can`t find any checkpoint file or .h5 file in any folder. checkpoints folder never  created.
when I had training  with `train_subword_conformer.py`, never meet this kind of quession.
what I am do wrong, where is m

[2021-03-22 15:35] usimarit commented on #164
@Sar-Dar `train_subword_conformer.py` will create a `latest.h5` file in `outdir` like [this](https://github.com/TensorSpeech/TensorFlowASR/blob/283d1f2df3a4da021721c222a51c1e4bbc709238/tensorflow_asr/runners/transducer_runners.py#L46), `train_keras_subword_conformer.py` will store checkpoints to the place you define in [checkpoint](https://github.com/TensorSpeech/TensorFlowASR/blob/283d1f2df3a4da0

[2021-03-22 15:45] usimarit commented on #163
@nixon-voxell What I meant is you can try to build tflite lib using bazel with the SELECT_TF_OPS supported. And for the tflite conversion, what tensorflow version are you using? The tflite in tensorflow 2.4.x seems broken, you can use tf-nightly or tf 2.3.x

[2021-03-22 16:02] Sar-Dar commented on #164
I know, there is no such checkpoint file or folder where I defined in config.yml, so weird

[2021-03-22 16:27] usimarit commented on #164
@Sar-Dar Did you create the folder `checkpoints`, if not, try to create it before training epoch ends?

[2021-03-22 16:46] Sar-Dar commented on #164
no, I’m not. I’ll try

[2021-03-22 16:56] nixon-voxell commented on #163
Ok thank you. I get what you meant but I was just trying to convert the model myself and changing some settings. Thanks for the tensorflow version suggestion.

[2021-03-22 18:52] Sar-Dar commented on #164
It works. thank you for your help. I also recommend fix into it

[2021-03-22 19:25] #164 closed

[2021-03-23 05:27] jinggaizi commented on #124
@gandroz hi, have any response from the author , running some experience with small batchsize. do you try to use other methods to improve the result

[2021-03-23 09:42] Sar-Dar opened #165 "ValueError: You are trying to load a weight file containing 4 layers into a model with 3 layers."
I had trained conformer model via `train_keras_subword_conformer.py`, when I run 'test_subword_conformer.py' got the error like this:
[code]
can someone give some help? Thanks in advance!

[2021-03-23 10:32] #165 closed

[2021-03-23 12:04] gandroz commented on #124
@jinggaizi No, not any news from the author, I'll let you know as soon as I have. I cannot work on the project for the moment, so nothing news from me either

[2021-03-24 07:53] iamweiweishi opened #166 "Infer based on tflite"
Hi,
I trained a ds2 model using LibriSpeech, and tried to convert the model to tflite referring to the 'tflite_conformer.py'.
Then, I found that the converted tflite model's input is 'signal' with 'type=float32[1]', which means that the tflite model can only handle single input. In my view, something might be wrong with the converted model.

Then, I trained and got a conformer tflite-model. And I

[2021-03-24 08:13] namdn commented on #32
I already install rnnt loss by `export CUDA_HOME=/usr/local/cuda` and `scripts/install_rnnt_loss.sh` but the `transducer_loss` is still negative. Any one can help me. Thanks
![tensorboard](https://user-images.githubusercontent.com/5409672/112276448-56e7d280-8cb3-11eb-9455-2155dd72a7d5.png)

[2021-03-24 17:24] usimarit commented on #32
@namdn Please use rnnt_loss in TF, the warp-transducer is deprecated

[2021-03-25 03:58] namdn commented on #32
@usimarit how can I run without `warp-transducer`.

[2021-03-25 04:16] namdn commented on #32
I mean i do the same as you say in Readme. `For training Transducer Models with RNNT Loss in TF, make sure that warp-transducer is not installed (by simply run pip3 uninstall warprnnt-tensorflow)`. But the `transducer_loss` is still negative.

[2021-03-25 04:30] usimarit commented on #32
@namdn then please check your dataset and vocabulary file, make sure the vocabulary file covers all of characters or subwords in your dataset.

[2021-03-25 04:32] usimarit commented on #32
@namdn if you are using subwords and tfrecords, make sure you pass the same subword file that used to generate tfrecords.

[2021-03-25 04:37] namdn commented on #32
Now i am using `CharFeaturizer` as `text_featureizers` and using `script train_conformer.py` for trainning. In `config.yml` the value for `decoder_config.vocabulary` is `language.characters` file? I configurate it to my language characters file and the value is still negative. Any other suggestion?

[2021-03-25 12:20] zhangguanqun opened #167 "Call tflitemodel.invoke() makes program crash"
I am working on tf lite version of Conformer, but not succeed yet.
When I run tests/conformer/test_conformer.py, program crashed in line "tflitemodel.invoke()".
`tflitemodel.set_tensor(
        input_details[2]["index"],
        tf.zeros(
            [config.model_config["prediction_num_rnns"], 2, 1, config.model_config["prediction_rnn_units"]],
            dtype=tf.float32
        )
    )`
`tflit

[2021-03-25 12:33] usimarit commented on #32
@namdn can you try script `train_keras_conformer.py`?

[2021-03-25 12:36] usimarit commented on #167
@zhangguanqun Could you show me the full commandline when you run the script and the full error messages?

[2021-03-25 13:52] zhangguanqun commented on #167
Just run: python tests/conformer/test_conformer.py
And got this:
INFO: Created TensorFlow Lite delegate for select TF ops.
INFO: TfLiteFlexDelegate delegate: 212 nodes delegated out of 2731 nodes with 130 partitions.

INFO: TfLiteFlexDelegate delegate: 0 nodes delegated out of 1 nodes with 0 partitions.

INFO: TfLiteFlexDelegate delegate: 0 nodes delegated out of 26 nodes with 0 partitions.

INFO:

[2021-03-25 13:55] zhangguanqun commented on #167
By the way, tflite model was converted successful.

[2021-03-25 14:31] zhangguanqun commented on #167
FULL STACK:
/home/zhangguanqun/venv_tf_2.3.1/bin/python /home/zhangguanqun/projects/TensorFlowASR/tests/conformer/test_conformer.py
Model: "conformer_encoder"
______________________________________________________________________________________________________________________________________________________
Layer (type)                                                       Output Shape

[2021-03-25 15:49] usimarit commented on #167
@zhangguanqun the default works on my machine with tf 2.3.2, did you change anything? config, code?

[2021-03-25 15:56] usimarit commented on #166
@iamweiweishi Could you run the `examples/demonstration/tflite_conformer.py` with the pretrained model I shared, to see if it runs in your case?

[2021-03-26 01:41] zhangguanqun commented on #167
Thanks reply @usimarit
I just replace vocabulary with my own vocab file path in tests/saved_modes/config.yml, did not change anything beside that.
My environment is TF 2.3.2 as you suggested.
`tensorboard              2.4.1
tensorboard-plugin-wit   1.8.0
tensorflow               2.3.2
tensorflow-datasets      4.2.0
tensorflow-estimator     2.3.0
tensorflow-hub           0.11.0
tensorflow-io

[2021-03-26 01:54] usimarit commented on #167
@zhangguanqun Can you undo your changes and rerun the script? To see if it works on your machine.

[2021-03-26 02:00] iamweiweishi commented on #166
Yes, it works now. Thank you. @usimarit

[2021-03-26 02:00] #166 closed

[2021-03-26 02:00] zhangguanqun commented on #167
@usimarit Thanks reply so quickly.
I undo all my changes, but it still not work.
Log is here
[code]

[2021-03-26 02:11] zhangguanqun commented on #167
My system environment:
OS: ubuntu 18.04
CUDA: 10.2
CUDNN: 7.6.5
NVIDIA-SMI: 440.64
GPU: GTX 1070
GCC: 7.5.0

[2021-03-26 02:19] iamweiweishi opened #168 "Infer on a stream_transducer model Error"
Hi,
I tried to infer on a stream_transducer-tflite model (refer to 'examples/demonstration/streaming_tflite_conformer.py'), then some error ocurred (looks like [issue](https://github.com/TensorSpeech/TensorFlowASR/issues/119)):

    2021-03-26 09:27:31.893265: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
    INFO: Created Ten

[2021-03-26 03:03] usimarit commented on #168
@iamweiweishi Can you try using python 3.7 or 3.8?

[2021-03-26 03:08] usimarit commented on #167
@zhangguanqun Can you try running with tf cpu (no tensorflow-gpu)?

[2021-03-26 03:16] zhangguanqun commented on #167
@usimarit Run with CPU not working, got same crash errors as GPU.
[code]
[code]
Both crash as before ;(

[2021-03-26 03:27] usimarit commented on #167
@zhangguanqun this is more like the problem from your machine, not tensorflow itself (since it works on my machine installed with anaconda, python 3.8).

[2021-03-26 03:32] zhangguanqun commented on #167
@usimarit I agree with you ;) It is more likely an individual case.
My current python is 3.6.9, I will update to python 3.8 to see what will happen.
Thx.

[2021-03-26 05:49] zhangguanqun commented on #167
@usimarit Unfortunately, I upgrade python version to 3.8.6 and run the above script on 3 different machines(ubuntu server and desktop), all of them crash with the same error :(
In python crash log from ubutun system, there is:
[code]

What should I do?

[2021-03-26 06:46] iamweiweishi commented on #168
@usimarit Hi, 3.7 and 3.8 do not work.

[2021-03-26 13:35] zhangguanqun commented on #167
@usimarit
In the following simple program, if test function return tf.signal.rfft(x, [512]), program crash, if test function return tf.reshape(x, [10, -1]), it works fine.
[code]
The saved tflite model which return tf.signal.rfft(x, [512]) is sharing with url:
https://drive.google.com/file/d/1LY3h4MHIwGGi63TyWsNta6vNKluIdi38/view?usp=sharing

Could you download this file and check if it works fine

[2021-03-27 01:44] zhangguanqun commented on #168
@iamweiweishi Have you tried tflite version of non-streaming conformer? i.e. demonstration/tflite_conformer.py or tests/conformer/test_conformer.py

[2021-03-27 06:44] iamweiweishi commented on #168
The non-streaming models could work well. The Error only occurs when using streaming models.

[2021-03-27 13:12] usimarit commented on #167
@zhangguanqun I just tested on my machine and it works without any problem

[2021-03-27 13:36] zhangguanqun commented on #167
@usimarit Thanks, simple script above run failed on all my 4 machines(3 ubuntu desktop, 1 ubuntu server), but it works fine on colab, I really have no idea about how to deal with it 😂😂😂

[2021-03-27 13:39] zhangguanqun commented on #168
@iamweiweishi What is your environment looks like? The non-streaming tflite model runs failed with core dumped error on my machine(ubuntu 18.04, tf 2.3.1 or 2.3.2, python 3.6 or 3.7 or 3.8).

[2021-03-27 14:52] usimarit commented on #168
@iamweiweishi Can you try with this code

[code]

[2021-03-29 08:35] zhangguanqun commented on #167
@usimarit
**Update**
After a weekend researching, I got some findings:

1. With TF 2.3.X, tests/conformer/test_conformer.py run failed on all my machines, it may relativate to PAD opertor, @abattery give me this answer: https://github.com/tensorflow/tensorflow/issues/48106#issuecomment-808969122
2. With TF 2.4.1, tests/conformer/test_conformer.py also run failed with error "InvalidArgumentError: A

[2021-03-29 08:36] #167 closed

[2021-03-29 08:40] iamweiweishi commented on #168
@usimarit The problem is still not solved.
Could you please give a script to convert a conformer model to stream-tflite, because the infer script 'streaming_tflite_conformer.py' is based on conformer.

[2021-03-29 10:13] usimarit commented on #168
@iamweiweishi there is nothing wrong with tflite, the error comes from your multiprocessing lib. I dont know but it works well on my machine 😂

[2021-03-29 14:14] usimarit commented on #102
@bornTalented What did the loss look like after finetuning?

[2021-03-30 00:17] zhangguanqun commented on #168
Link to pre-trained tflite conformer model:
https://drive.google.com/drive/folders/1BD0AK30n8hc-yR28C5FW3LqzZxtLOQfl

[2021-03-30 02:27] iamweiweishi commented on #168
Hi, @usimarit , I am trying to remove the multiprocessing lib and feed a block of frames (default=4096) like using sliding window, but got the Error below,

    2021-03-30 10:18:06.294600: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
    INFO: Created TensorFlow Lite delegate for select TF ops.
    2021-03-30 10:18:08.059023:

[2021-03-30 03:39] iamweiweishi commented on #168
Hi, @usimarit , I am trying to remove the multiprocessing lib and feed a block of frames (default=4096) like using sliding window, but got the something confusing.

If I set window-size==4096, the got the Error:

  2021-03-30 11:36:17.925799: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN)to use the following

[2021-03-30 08:30] namdn opened #169 "SubwordFeaturizer.iextract not word for vietnamese"
When I test `test_subword_conformer.py` I see `SubwordFeaturizer.iextract` is not correct for Vietnamese character. So I write a small script to test extract and iextract, and found that the result is not the same. this is my snippet:

[code]
And the result here:
[code]

[2021-03-30 08:32] namdn commented on #32
thank you very much. It worked for me.

[2021-03-30 15:57] usimarit commented on #168
@iamweiweishi Looks like you're using `streaming_transducer` _with timestamp_ model in the `conformer` model, which causes wrong inputs `ValueError: Cannot set tensor: Dimension mismatch. Got 1 but expected 0 for input 1.` In your case, output `Identity_4` is the `encoder_states`, `Identity_5` is the `prediction_states` and the `Identity_3` is the `predicted`

[2021-03-31 01:19] iamweiweishi commented on #168
@usimarit Yeah, the stream-tflite could infer flac-audio now. Thank you so much.

[2021-03-31 01:55] iamweiweishi commented on #168
Hi, @usimarit
I set the parameter timestamp==False and get a stream-transducer-tflite model without timestamp, then the Dimension could match well.

The inferring process is like this, say the input-flac == [16000, ],
feed [:blocksize] frames into tflite,
feed [blocksize:blocksize*2] frames into tflite,
feed [blocksize*2:blocksize*3] frames into tflite,
...
Finally, the predicted text will be prin

[2021-03-31 03:19] namdn commented on #169
Here you are. I built it from vivos dataset.
[vivos.zip](https://github.com/TensorSpeech/TensorFlowASR/files/6233583/vivos.zip)

[2021-03-31 08:02] ashishBT opened #171 "AttributeError: 'NoneType' object has no attribute '_variant_tensor'"
While training the model I am getting following error
`Traceback (most recent call last):
  File "train_subword_conformer.py", line 124, in <module>
    conformer_trainer.fit(train_dataset, eval_dataset, train_bs=args.tbs, eval_bs=args.ebs)
  File "/usr/local/lib/python3.7/dist-packages/tensorflow_asr/runners/base_runners.py", line 308, in fit
    self.set_train_data_loader(train_dataset, train_bs

[2021-03-31 12:12] usimarit commented on #171
@ashishBT Could I see your `config.yml`?

[2021-03-31 12:33] usimarit commented on #169
@namdn The issue is reproduced, meanwhile, can you try the [TFSubwordFeaturizer](https://github.com/TensorSpeech/TensorFlowASR/blob/283d1f2df3a4da021721c222a51c1e4bbc709238/tensorflow_asr/featurizers/text_featurizers.py#L326)?

[2021-04-01 04:35] TinBarbie opened #172 "negative ctc_loss when training"
Hi, this repo is really awesome.
I'm training deepspeech2 model with vietnamese dataset (vivos + viet_tts) and encounting an issue when the ctc_loss is negative after some batches. Is it possible to be negative? if not, any idea to fix this issue?
Thanks.
![Capture](https://user-images.githubusercontent.com/65520145/113243798-e279e880-92dd-11eb-94a7-c86cf0b816d2.JPG)

[2021-04-01 05:40] ashishBT commented on #171
I have just noticed that syntax of `config.yml` have been changed. I was using the OLD syntax. After using the NEW `config.yml` model is running successfully. Although model is producing error, when I set the eval and test file path instead of null
[code]
it is producing following errors:
[code]

[2021-04-01 16:18] usimarit commented on #171
@ashishBT `data_paths` is an array, please define the values in `eval_dataset_config` and `test_dataset_config` like in the `train_dataset_config`.

[2021-04-01 18:03] usimarit commented on #168
@iamweiweishi Current conformer implementation is non-streaming, so when testing with streaming mode, it will produce bad results. Consider using the `streaming_transducer` example if you want a streaming model.

[2021-04-02 01:07] iamweiweishi commented on #168
@usimarit Actually, the model is trained using 'train_ga_subword_streaming_transducer.py', and then convert the trained model to tflite using 'tflite_subword_streaming_transducer.py'.
But I only find 'streaming_tflite_conformer.py' in 'demonstration' directory, so I just used this python script to infer my streaming-transducer-tflite model. Then the above Error is reported.

[2021-04-02 01:57] usimarit commented on #168
@iamweiweishi oh sorry I missed that. Did you manage to pass the encoder states output to the input of next chunk?

[2021-04-02 03:07] iamweiweishi commented on #168
@usimarit It looks like the states have been passed to next inference step:

        import sys
        import argparse
        import soundfile as sf
        import sounddevice as sd
        from multiprocessing import Process, Event, Manager
        import queue

        import numpy as np
        import tensorflow as tf

        def int_or_str(text):
            """Helper function for argument

[2021-04-02 03:14] usimarit commented on #168
@iamweiweishi streaming transducer model has 2 states tensors: encoder states and prediction states. Therefore it has 4 inputs, but your code only uses 3, that's why there're errors. Please pass the inputs and use the outputs of the concrete function used to create tflite correctly.