[2021-04-02 03:54] iamweiweishi commented on #168
@usimarit thank you for your quick reply. I have tried to use 2 states a few days ago, but it did not solve the problem:

    import sys
    import argparse
    import soundfile as sf
    import sounddevice as sd
    from multiprocessing import Process, Event, Manager
    import queue

    import numpy as np
    import tensorflow as tf

    def int_or_str(text):
        """Helper function for argu

[2021-04-02 05:03] ashishBT commented on #171
Thanks :)

[2021-04-02 05:03] #171 closed

[2021-04-02 08:04] eashan2798 opened #173 "Testing model performance is taking too long..."
When testing the performance of the model it is taking almost 2 hour for only 6 instances(rows).
Ideally It should generate the results within the span of minutes.

[code]

[2021-04-02 11:57] usimarit commented on #173
@eashan2798 Can you show me the config.yml?

[2021-04-02 11:59] usimarit commented on #172
@TinBarbie The loss shouldn't be negative, can you train only on vivos to see if the issue happens?

[2021-04-02 13:12] eashan2798 commented on #173
speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  num_feature_bins: 80
  feature_type: log_mel_spectrogram
  preemphasis: 0.97
  normalize_signal: True
  normalize_feature: True
  normalize_per_feature: False

decoder_config:
  vocabulary: null
  target_vocab_size: 4096
  max_subword_length: 4
  blank_at_zero: True
  beam_width: 5
  norm_score: True
  corpus_files:
    - '/conte

[2021-04-02 13:31] usimarit commented on #173
@eashan2798 Can you run with beam_width = 0?

[2021-04-03 18:13] usimarit commented on #169
@namdn Oh sorry the `TFSubwordFeaturizer` is not completed, you can use the fixed version of `SubwordFeaturizer` on branch `dev/transducer`

[2021-04-05 07:36] eashan2798 commented on #173
yes I executed with beam_width=0, and it computed results within a minute. Now I understand it was beam search which was taking too much time.
Thanks.

[2021-04-08 06:06] kijukim1 opened #174 "pretrained model"
Hello, I am kinda slow learner of machine learning. I am trying to run testing code (test_subword_conformer.py) with pretrained model (librispeech). I have a problem that this commands don't work for recognizing subwords on my computer. I wonder if I have to modify the environment of my computer. I am working on this with anaconda prompt (anaconda3).  I would be greatly appreciated if you could gi

[2021-04-08 06:32] curiousjit opened #175 "TensorflowASR on Jetson Nano"
I am trying to install Tensorflow ASR on NVIDIA Jetson Nano. However I am getting errors regarding Tensorflow-tools. Since Jetpack for Jetson Nano is ARM based, I installed Tensorflow as mentioned [here](https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html#install). Although I always get an error that tensorflow-ASR requires Tensorflow-tools >= 0.10. It suggests ei

[2021-04-08 10:52] AgaDob commented on #97
Hi,
I'm encountering the same issue, though for me this seems to be related with batch-size? When I train a streaming transducer with a batch-size of 4 and I'm seeing:

[code]

[2021-04-08 16:31] usimarit commented on #174
@kijukim1 make sure the path to subwords is correct

[2021-04-08 16:33] #173 closed

[2021-04-09 01:29] kijukim1 commented on #174
I am so grateful for your help! I modified the path and I was able to see "Loading subwords ...".
But I am facing with other problems now... This problem seems to be happened due to difference for number of weights. I wonder how I can make the number of weights same.
Thank you very much again!

(tfasr) C:\Users\username\TensorFlowASR\examples\conformer>python test_subword_conformer.py --config con

[2021-04-09 08:42] AgaDob opened #176 "Issues with example configs for Streaming Transducer"
Hi! I have cloned the latest version of the repo and I am running into 2 issues when using the example configs for the streaming transducer model:
1) the `test_streaming_transducer.py` script only runs with a batch-size of 1 - when using any other batch size, e.g. 3, I get:
` ValueError: Dimension 0 in both shapes must be equal, but are 3 and 1. Shapes are [3,1024] and [1,1024].`
2) When  train wi

[2021-04-09 17:53] usimarit commented on #174
@kijukim1 what version of tensorflow_asr do you use? if you're using v0.8.2, can you try using v0.8.1?

[2021-04-09 18:07] usimarit commented on #176
@AgaDob I've updated the fix, try pulling new commits on main and check if it works 😄

[2021-04-09 19:35] AgaDob commented on #176
Brilliant, thank you - varied batch-size now works for inference! However, my model still only outputs blank strings at inference?

[2021-04-09 21:19] kijukim1 commented on #174
Thank you very much for your response again. I reintalled anaconda3 and tried with v0.8.1. I still see the same problem so I am going to try it with previous version and see if works
I would be appreciated if you could give me any suggestions and tips 🙂

(tfasr) C:\Users\username\TensorFlowASR-0.8.1\examples\conformer>python test_subword_conformer.py --config config.yml --saved latest.h5 --subword

[2021-04-10 05:40] usimarit commented on #174
@kijukim1 Did you use the right config from google drive? I just tested on my machine and it loads the weight fine.

[2021-04-10 07:35] usimarit commented on #176
@AgaDob Did you test for greedy decoding only? Can you show me the image of training losses? Underfit model will result in the wrong outputs.

[2021-04-10 23:22] kijukim1 commented on #174
@usimarit I really appreciate your tip again! I don't see any weight-related errors now after I replace with the config file as you mentioned. Now I can see information about number of parameters here.

I am facing with just a couple of errors in this moment.

In config.yml file, I put a tsv file which is created from create_librispeech_trans.py (TensorFlowASR/scripts/create_librispeech_trans.py)a

[2021-04-10 23:25] kijukim1 commented on #174
Here is the config.yml that I used.
I would be appreciated again if you could give me tips.

speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  feature_type: log_mel_spectrogram
  num_feature_bins: 80
  preemphasis: 0.97
  normalize_signal: True
  normalize_feature: True
  normalize_per_feature: False

decoder_config:
  vocabulary: null
  target_vocab_size: 1024
  max_subword_len

[2021-04-11 16:36] usimarit commented on #174
@kijukim1 I uploaded the new config format on google drive, please update it.

[2021-04-12 02:59] kijukim1 commented on #174
@usimarit Thank you very much again! Since I see the statement "Reading C:\Users\username\TensorFlowASR\examples\conformer\test-other\LibriSpeech\test-other\367\130732\367-130732-0001.wav ..." at the bottom of information about parameters, I don't think config.yml file has problems anymore.

I still see some errors in the bottom so I also checked tsv file that I used. I created tsv file (output_li

[2021-04-12 07:47] AgaDob commented on #176
@usimarit I've trained a model on the train-clean-100 with word-pieces and I think you are right, it is underfit quite a bit - have you experienced this issue when training with word-pieces? I've also trained as a PoC on the test set, and with a beam search of 2 it outputs the character 't' for every single utterance - I'm just wondering whether it could be by any chance an issue with the code, as

[2021-04-12 08:42] AgaDob commented on #176
In fact, my test output looks very much like #105 where their model is outputting the letter 'i' for every utterance. However, I am saving my results to a new test file each time so that's not the issue...

[2021-04-12 12:33] usimarit commented on #176
@AgaDob I haven't had a chance to properly train and test the streaming transducer model, but anyway you can customize it your own ways to overcome the underfit, like for example, changing the optimizer, applying the learning rate schedule, etc.

[2021-04-12 13:24] usimarit commented on #174
@kijukim1 Assume your test-other is `LibriSpeech\test-other` then pass the option `--dir LibriSpeech\test-other` when running the
`create_librispeech_trans.py` script

[2021-04-13 09:14] AgaDob commented on #176
You are right, I think its an issue with the model not converging. I've tried with a tiny architecture and testing scripts work perfectly. Thank you for the fantastic resource! :raised_hands:

On a different note: why is the validation loss lower than the training loss for these models?

[2021-04-13 12:28] usimarit commented on #176
@AgaDob maybe you apply specaugment as in the example config that causes the val loss lower than train loss.

[2021-04-13 15:22] kijukim1 commented on #174
Great! I will check this out.
I did copy & paste contents below path, duration and transcript. It works pretty well.

I really appreciate your help for whole procedure.

[2021-04-13 15:22] #174 closed

[2021-04-13 17:03] #176 closed

[2021-04-15 15:48] andreselizondo-adestech commented on #14
@usimarit Hello! I'm interested in seeing support for the Streaming Conformer Transducer.
Is there an ETA for this? How can I help?
I'm no expert, but I might be able to make a rough implementation to make things easier for you.
(P.S. Excellent work on this repo. Love it.)

[2021-04-15 18:32] usimarit commented on #14
@andreselizondo-adestech I don't know about the ETA but I'll start working on the Streaming Conformer Transducer after refactoring the repo. If you want to help, you can start making some pull requests from your fork (it can be an empty pull request with descriptions so that I can know what you're gonna do :smile: and make some discussions).

[2021-04-16 09:05] iamweiweishi opened #179 "Inconsistent infer results for stream-ransducer and stream-ransducer-tflite models"
After getting help from [this](https://github.com/TensorSpeech/TensorFlowASR/issues/168), I successfully trained a stream-ransducer model and converted the model to tflite.

I tested the trained model with "test_subword_streaming_transducer.py" first, the predicted result seems to be correct:

PATH	GROUNDTRUTH	GREEDY	BEAMSEARCH	BEAMSEARCHLM
/data/audio_data/asr_cn/data_aishell/wav/test/S0767/BAC00

[2021-04-16 09:05] #168 closed

[2021-04-16 11:48] AgaDob commented on #124
Hey, thanks for the updated config! Any rough estimates of how long it took to train (I'm guessing a few days at least)? Also, any luck with pre-computing fbanks?

[2021-04-17 04:21] usimarit commented on #179
@iamweiweishi The reason is that the mel spectrogram of the chunks is not the same mel spectrogram of the whole signal. I'm working on this to reduce the differences 😄

[2021-04-17 17:43] usimarit commented on #145
Added in PR #177

[2021-04-17 17:43] #145 closed

[2021-04-17 17:46] #137 closed

[2021-04-17 17:47] #85 closed

[2021-04-17 17:48] usimarit commented on #102
I did some fine-tuning and the model converges around 2-3 epochs, so I'll close this issue here 😄

[2021-04-17 17:48] #102 closed

[2021-04-17 17:48] #121 closed

[2021-04-17 17:49] #60 closed

[2021-04-17 17:51] usimarit commented on #116
I'll close the issue here, if it still shows errors, feel free to reopen.

[2021-04-17 17:51] #116 closed

[2021-04-17 17:51] #153 closed

[2021-04-17 17:53] usimarit commented on #126
The testing scripts are updated and we have an option to overwrite or create a new test results. So I'll close this issue here 😄

[2021-04-17 17:53] #126 closed

[2021-04-17 17:59] usimarit commented on #123
@YoPatapon I noticed that when I use greedy decoding v2 on English, the character `'` is missing in the words that contain it.

[2021-04-17 17:59] #158 closed

[2021-04-17 18:00] #157 closed

[2021-04-17 18:02] usimarit commented on #50
Do you guys still have this issue?

[2021-04-18 10:49] usimarit commented on #179
@iamweiweishi You can see the incorrect features of chunked signal compare to the whole signal [here](https://github.com/TensorSpeech/TensorFlowASR/blob/main/tests/featurizer/test_speech_featurizer.ipynb)

[2021-04-18 12:10] usimarit commented on #179
@iamweiweishi I found a problem is that the feature normalization, if I don't apply feature norm or apply it "per frame", the different between chunked signal and whole signal is insignificant: from [this](https://github.com/TensorSpeech/TensorFlowASR/blob/b3ae4dc7dc27f91ea99307b080265c0ce88fe989/tests/featurizer/test_speech_featurizer.ipynb) to [this](https://github.com/TensorSpeech/TensorFlowASR

[2021-04-18 12:20] usimarit commented on #179
The key point is the chunk size (aka block_size) must be `frame_length + k * frame_step` and the chunks are splitted with `stride = (k + 1) * frame_length` and the `top_db = None`. Which means the prediction will be delay around `((chunk_size - (k + 1) * frame_length) / sample_rate) + time_for_model_to_predict_per_chunk`. So for example, with the `frame_length = 512`, `frame_step = 160` and `sampl

[2021-04-19 02:03] iamweiweishi commented on #179
Thank you so much. @usimarit
I am trying to retrain a stream-model with params:

    speech_config:
      sample_rate: 16000
      frame_ms: 25
      stride_ms: 10
      num_feature_bins: 80
      feature_type: log_mel_spectrogram
      preemphasis: 0.97
      normalize_signal: False
      normalize_feature: True
      normalize_per_frame: True
      center: False
      top_db: None

I will get ba

[2021-04-19 03:51] iamweiweishi opened #180 "No checkpoints saved when training keras_conformer"
I am trying to train a Keras-Conformer model, but after several epochs, I found that no checkpoints saved in predefined filepath.
If I used 'train_ga_subword_conformer.py' instead of 'train_keras_subword_conformer.py', the checkpoints could be saved successfully.

params:

    running_config:
        batch_size: 2
        accumulation_steps: 2
        num_epochs: 5
        outdir: trained_models/

[2021-04-19 06:15] vaibhav016 opened #181 "Testing fails for contextnet model"
[ERROR.md](https://github.com/TensorSpeech/TensorFlowASR/files/6333656/ERROR.md)

[2021-04-19 06:15] #181 closed

[2021-04-19 06:20] vaibhav016 opened #182 "Testing fails for contextnet model"
Hello I am facing an error while testing the Context-Net model. Here are the exact steps which I followed.

1) Forked repository and downloaded the datasets from librispeech. `https://www.openslr.org/12`
 Used train-clean-100, dev-clean, dev-other, test-clean.

2) Setup the conda environment with following specs -
    - cudatoolkit=10.1.243=h6bb024c_0
    - cudnn=7.6.5=cuda10.1_0
    - tensorflow=

[2021-04-19 09:50] AgaDob opened #183 "Reproducing Pre-trained Conformer Model"
Hi, thank you for providing the pre-trained conformer model!  I wanted to re-train it locally from scratch but having some issues:

1) The `train_dataset_config` section is missing from the config in the google drive? Would it be possible to include it, or is it identical to the example config in `examples/conformer/config.yml`?

2) Also, could you clarify which training script was used to train -

[2021-04-19 15:46] usimarit commented on #180
@iamweiweishi Did you create the checkpoints folder before training? The keras checkpoint callback doesn't auto create the folder so you have to do it yourself. You can load the states from states_dir then store to .h5 format.

[2021-04-19 15:49] usimarit commented on #183
@AgaDob you use the `examples/conformer/config.yml` as a baseline config file to make customization from. The training script used to train is `examples/conformer/train_subword_conformer.py` in the version 0.x but for version 1.x it will be `examples/conformer/train.py`

[2021-04-19 16:01] andreselizondo-adestech opened #184 "Bugs introduced with refactoring"
List of bugs introduced after the refactoring PR.
As I find new bugs, I'll list them here with their corresponding explanation.

I believe this is more convenient than creating an issue for each.

- [x] Training with SentencePiece
- [x] Creating Subwords vocab

[2021-04-19 16:02] andreselizondo-adestech commented on #184
Training with SentencePiece.
At line [tensorflow_asr/featurizers/text_featurizers.py#L342](https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/featurizers/text_featurizers.py#L342).
Seems like this function is nowhere to be found, but at the same time, the default value for `model` in that function is `None`. So when being called from [examples/conformer/train.py#L68](https://gi

[2021-04-19 16:03] AgaDob commented on #183
Great thank you, but would you be able to release more details regarding specifically the pre-trained model config on the google drive? E.g., what subset of librispeech was it trained on (train-clean-100 only?) and whether any augmentations were used? Thanks you very much!

[2021-04-19 16:41] usimarit commented on #182
There's some problem for beam search in ContextNet so you can set the `beam_width = 0` in `decoder_config` to skip using beam search (use greedy only). I'll fix this asap.

[2021-04-19 16:55] usimarit commented on #183
@AgaDob the config is updated with the newest version 😄

[2021-04-19 17:01] andreselizondo-adestech commented on #184
Things I noticed:
1. No more support for GradientAccumulation. (In my case, I need this to run acceptable batch sizes)
2. Args --tbs and --ebs are no longer used. [examples/conformer/train.py#L144](https://github.com/TensorSpeech/TensorFlowASR/blob/main/examples/conformer/train.py#L144)

@usimarit Can you comment on these, please?

[2021-04-19 17:12] usimarit commented on #184
@andreselizondo-adestech Updated in main branch, GradientAccumulation is easy to implement in custom training loop and is harder in keras loop, and in new version I drop support for custom training loop. I'll find a way to add support GA in keras loop.
Using keras training loop requires model to be compile with `global_batch_size` so I merge --tbs and --ebs in to one as --bs

[2021-04-19 17:14] usimarit commented on #182
@vaibhav016  If you still want to use beam search, I just fix the issue in the main branch (Note: the main branch is now refactored for version 1.x, it's different from other version 0.x a bit)

[2021-04-19 19:19] vaibhav016 commented on #182
@usimarit  Thank you so much. Now the testing script is running smoothly. The results are as follows

G_WER = 86.0183334

G_CER = 57.3228416

But in the ContextNet paper, its written

    ContextNet achieves a word error rate (WER) of
    2.1%/4.6% without external language model (LM), 1.9%/4.1%
    with LM and 2.9%/7.0% with only 10M parameters on the
    clean/noisy LibriSpeech test sets.

The a

[2021-04-20 02:12] iamweiweishi commented on #180
@usimarit The checkpoints folder does exist. I can find ckpts are saved into 'states' successfully. But when the training is finished, the 'states' folder is cleared, and no checkpoints are saved in 'filepath'.

[2021-04-20 08:19] vaibhav016 opened #185 "Testing contextnet is extremely slow in the refactored main branch"
Hello, firstly, thank you for solving the beam issue. Now running the test.py with the trained model, the ETA time is huge. Its around 5 hours.  Previously it got completed within 30 minutes. I am running on V100 GPU

[2021-04-20 09:40] #183 closed

[2021-04-20 12:39] usimarit commented on #185
@vaibhav016 The beamsearch is not fully optimized so it will take a long time to finish. But I believe when the wer reaches below 10% then the difference between greedy and beamsearch is insignificant.

[2021-04-20 12:48] usimarit commented on #180
@iamweiweishi can you try setting `save_best_only: False` and `save_weights_only: True`? Maybe setting `save_best_only` will look for best the `monitor` (if this is not defined then fallback to `monitor='val_loss'`) but for tensorflow_asr version 0.x, monitor has to be defined as `monitor: val_rnnt_loss` for this to work), so it cannot find the best `val_rnnt_loss`, that's why it doesn't save chec

[2021-04-20 12:50] usimarit commented on #182
@vaibhav016 Did you train contextnet on the WHOLE librispeech dataset? Your model is not converged.

[2021-04-20 15:13] vaibhav016 commented on #182
@usimarit  I trained on librispeech train-clean-100 dataset. Then i tested on test-clean. Can you also tell, how to establish baseline numbers which are mentioned in the research paper, which are around 2%. ?

[2021-04-20 15:14] vaibhav016 commented on #182
@usimarit how will my model converged? Sorry, i didn't understand.

[2021-04-20 15:16] vaibhav016 commented on #185
@usimarit Okay, thank you for this info. But how should we obtain the metrics given in contextnet paper. Do we have to do some modification in config file?

[2021-04-20 16:26] usimarit commented on #185
@vaibhav016 We need to train and test more cases, currently even conformer haven't reach the wer of paper

[2021-04-20 16:51] usimarit commented on #182
@vaibhav016 you train on 960h librispeech with around 20 epoch and you will see

[2021-04-20 16:56] usimarit commented on #184
updated

[2021-04-20 19:07] vaibhav016 commented on #185
@usimarit  Okay. Thanks a lot for the support.

[2021-04-20 19:11] vaibhav016 commented on #182
@usimarit Okay. Just to reassure. On librispeech site [https://www.openslr.org/12](url)  there are 3 separate datasets for training. So should i add 3 paths to the transcripts in the config file, or should i run the training script 3 times, without deleting the tensorboard directory?

[2021-04-21 03:36] usimarit commented on #182
@vaibhav016 You should add 3 paths to config file so that the dataset can load and shuffle them while training.

[2021-04-21 04:09] usimarit commented on #184
`validation_batch_size` is ignored when using `tf.data.Dataset` and this script also support for TPUs (which is static shape training) so the batch size of train and eval datasets must be the same.

[2021-04-21 06:37] iamweiweishi commented on #180
@usimarit
Thank you. Maybe that is the problem. I will upgrade TensorFlowASR in a few day. 💯

[2021-04-21 06:37] #180 closed

[2021-04-22 02:13] iamweiweishi commented on #179
@usimarit
I trained one new stream-transducer model with the modified params above. Then, I tried to infer with the scipt below referred to [this](https://github.com/TensorSpeech/TensorFlowASR/blob/6247a5c86bcaacf87b20345533d65af85b1894d6/tests/featurizer/test_speech_featurizer.ipynb), but still could not get the correct results.

BTW, statesize is set as 320.

    import sys
    import argparse

[2021-04-22 14:14] andreselizondo-adestech commented on #184
Closing, as I can't seem to find any more bugs.

[2021-04-22 14:14] #184 closed

[2021-04-22 15:26] vaibhav016 opened #188 "Testing fails for contextnet model"
@usimarit
Hello, I trained the context net model for 1 epoch and saved the model. Then I ran the test.py script and following error is thrown --

        Use RNNT loss in TensorFlow
        Use characters ...
        Traceback (most recent call last):
          File "test.py", line 95, in <module>
            contextnet.load_weights(args.saved)
          File "/home/abrol/miniconda3/envs/tf2/lib/p

[2021-04-22 17:24] usimarit commented on #188
@vaibhav016 you can load the weights by name.

[2021-04-22 19:43] vaibhav016 commented on #188
@usimarit Okay, Thank you so much. I ran on google colab, there it ran fine. Can you point out, any possible reason for  this extra key(loss). I also ran on MacBook pro. There also it ran fine. But on my gpu (tesla v100) this error is coming. I further noticed the logs and found out this

    WARNING:tensorflow:From /home/abrol/miniconda3/envs/tf2/lib/python3.8/site-packages/tensorflow/python/data

[2021-04-23 12:41] changji-ustc commented on #188
I had the same issue on tesla P100 (ubuntu18.04). Thank you @usimarit. It works for me.
`contextnet.load_weights(args.saved, by_name=True)`

[2021-04-24 06:38] vaibhav016 commented on #182
@usimarit Okay thank you

[2021-04-24 08:04] usimarit commented on #179
@iamweiweishi Can you show me the results?

[2021-04-24 08:13] usimarit commented on #179
@iamweiweishi Can you try with `normalize_signal: True`?

[2021-04-25 01:18] iamweiweishi commented on #179
- k = 20
  failed
  failed
  failed
  shui
  shui di
  shui di di yi
  shui di di yi yan yan
  shui di di yi yan yan yi
  shui di di yi yan yan yi wu
  shui di di yi yan yan yi wu bao gao
  shui di di yi yan yan yi wu bao gao ha
  shui di di yi yan yan yi wu bao gao ha er
  shui di di yi yan yan yi wu bao gao ha er qian
  shui di di yi yan yan yi wu bao gao ha er qian er
  failed
  failed
  failed

[2021-04-27 05:53] zhangguanqun opened #189 "Different features extracted from NumpySpeechFeaturizer and TFSpeechFeaturizer"
@usimarit
With latest code you commited 3 days ago, I got extremly different features of the same audio with NumpySpeechFeaturizer and TFSpeechFeaturizer.
[code]
tf_features not same as np_features, bug?

[2021-04-27 05:56] zhangguanqun commented on #189
By the way, speech_featurizers.py contains compile errors:
1. `np.variance` should be `np.var`
2. line 323 and followings, `per_feature` should `be per_frame`

[2021-04-27 12:39] kkeevin123456 opened #190 "Question: GpuTracer has collected 0 callback api events and 0 activity events."
When I run `python examples/deepspeech2/train.py --device 2` , it will stuck at the problem: GpuTracer has collected 0 callback api events and 0 activity events.
Please help me to address this problem.

Below is my terminal snapshot.
![image](https://user-images.githubusercontent.com/55287979/116242358-6b2e5c00-a798-11eb-9414-3db6974076c4.png)
![image](https://user-images.githubusercontent.com/552

[2021-04-28 01:38] flaviofafe1414 opened #191 "Testing fails for conformer model"
I'm trying to run con.test.py, but I'm getting the following error:

TFRecords already existed: test
2021-04-27 22: 25: 58.737252: I tensorflow / stream_executor / platform / default / dso_loader.cc: 48] Dynamic library successfully opened libcublas.so.10
2021-04-27 22: 25: 58.905627: I tensorflow / stream_executor / platform / default / dso_loader.cc: 48] Dynamic library successfully opened libcu

[2021-04-28 01:41] flaviofafe1414 commented on #50
I solved the problem by installing the cuda and cudnn drives through sudo from linux, for some reason, when installing through anaconda this problem happens

[2021-04-28 15:14] usimarit commented on #190
@kkeevin123456 Try changing the parameters of tensorboard callback in the config.yml

[2021-04-28 15:21] usimarit commented on #189
My bad, fixed on main branch

[2021-04-28 15:27] usimarit commented on #191
@flaviofafe1414 the example `test.py` is not written to be used with ASRTFRecordDataset because the results will be written to the tsv file as `PATH\tDURATION\tGROUNDTRUTH\tGREEDY\tBEAMSEARCH\n` and the `PATH`, `DURATION` only available in the `entries` property, which may not be available in ASRTFRecordDataset, if you want to use ASRTFRecordDataset, then you will have to customize the file in you

[2021-04-28 15:29] usimarit commented on #185
@vaibhav016 If you use greedy only, do you still meet this problem?

[2021-04-29 04:59] kkeevin123456 commented on #190
@usimarit Thank you very much. It's work right now, but why it doesn't use any GPU resource.

![image](https://user-images.githubusercontent.com/55287979/116502175-688d4d00-a8e5-11eb-82d8-0a8345c04976.png)

I don't know why it can't detect any GPU and it will take 35hr each epoch.
![image](https://user-images.githubusercontent.com/55287979/116502238-983c5500-a8e5-11eb-8ab2-60c412328baa.png)

Actua

[2021-04-29 05:08] #189 closed

[2021-04-29 15:15] flaviofafe1414 commented on #191
It works for me, perfectly!

[2021-04-29 15:15] #191 closed

[2021-04-30 18:25] flaviofafe1414 opened #193 "conformer MLS-pt"
Hi, I'm trying to train the conformer model with the MLS Pt dataset, but I found some strange metrics in their order of magnitude.

greedy_wer: 0.9748954176902771
greedy_cer: 0.9024566411972046
beamsearch_wer: 1.0
beamsearch_cer: 1.0

Due to its loss curve, I believe that the model is not learning, but when I put just one example for the test, it predicts correctly.
![Captura de tela de 2021-04-30

[2021-05-01 07:14] vaibhav016 commented on #190
@kkeevin123456  Hey, i saw that libcudart libr is not loaded properly.  Can you fix this? Probablr problem is tensorflow and cuda version mismatch.  @usimarit Correct me if I am wrong.

[2021-05-01 07:16] vaibhav016 commented on #185
@usimarit  Unfortunately yes. I trained my model on only train-clean-100, and tested it. Its taking approximately 4 hours to complete it.

[2021-05-01 07:17] usimarit commented on #190
@vaibhav016 Sorry I don't have GPU to test this kind of problem, so you guys have to debug it yourself 😄 Anyway, just make sure you guys install all the drivers and packages for cuda and use tensorflow version that supports it 😄

[2021-05-01 07:19] vaibhav016 commented on #182
@usimarit  Hello.
Due to computation resources constraints, I am following the below procedure to train the model.
1) train on different training data(train-100)
2) from the saved model from above, load it and start training on remaining training datasets(300, 560).

Can you please confirm if this method is correct? Since if I gave the path to all 3 datasets, my ram gives OOM(out of memory error).

[2021-05-01 07:21] usimarit commented on #185
@vaibhav016 That's weird, for cpu only, I tested on my machine with 8 cores, it only took around 20 mins for conformer (on librispeech test-clean) with batch size 1

[2021-05-01 07:25] vaibhav016 opened #194 "Are the metrics in Contextnet given in percentages?"
@usimarit  Hello,
While testing, i recieved the following metrics.

      greedy_wer: 0.7827335596084595
      greedy_cer: 0.4933541715145111
      beamsearch_wer: 0.3287621736526489
      beamsearch_cer: 0.16175541281700134

The paper on contextnet, refers to word error rate in percentages, like their best score is 1.9%. Based on my current metrics, lets say 0.32 beam search word error rate. So i

[2021-05-01 07:30] usimarit commented on #182
@vaibhav016 That method may work, but I don't think it's correct because I think it may forgot what it learnt from 100 while training on (300, 560).
If you're facing OOM, please use option `cache: False`, the cache will place all your data in your RAM, which causes OOM, if your RAM is larger than the dataset size then you can use cache, otherwise you'll have to sacrifice the speed so that the trai

[2021-05-01 07:36] vaibhav016 commented on #185
@usimarit  Give me a days time, I will pull the latest branch and check again. Will update you soon on this.

[2021-05-01 07:36] usimarit commented on #194
@vaibhav016 the metrics on paper is %, but the actual WER, CER are not %, they multiply the result with 100 so that the results have a unit to compare, so I remove the part "multiply 100" so that the results are truly WER, CER.
In conclusion, the results in TensorFlowASR v1.x have no unit, and you can multiply them to turn them to % (which means in this case, your beam search wer is 32.87%)

[2021-05-01 07:37] vaibhav016 commented on #182
@usimarit That is extremely helpful. I will use this flag.

[2021-05-01 07:42] vaibhav016 commented on #194
@usimarit Okay. Thank you so much for clearing this issue.

[2021-05-01 07:43] usimarit commented on #193
@flaviofafe1414 the test result file is a tsv with headers: PATH DURATION GROUNDTRUTH GREEDY BEAMSEARCH
So your result will be in GREEDY and BEAMSEARCH, the GROUNDTRUTH is the label to be compared to calculate metrics, so the GROUNDTRUTH in the result and TRANSCRIPT in the dataset are the same, so you may be mistaken 😄

[2021-05-01 13:22] flaviofafe1414 commented on #193
oh ok, I found my mistake.

thanks

[2021-05-01 13:22] #193 closed

[2021-05-04 13:38] kkeevin123456 commented on #190
@vaibhav016 Hi, I address this problem. The problem is tensorflow and cuda version mismatch! After I upgrade the version, the problem is fixed.

![image](https://user-images.githubusercontent.com/55287979/117011951-fb344e80-ad20-11eb-8438-67bcc618779f.png)

[2021-05-05 18:00] markwny commented on #160
It would be nice if the readme.md was updated to show how to do a basic install with anaconda and tensorflow-gpu that actually works.  Then perhaps give some guidance for the user if they wish to use a different version of tensorflow.

[2021-05-09 08:46] kkeevin123456 commented on #190
Hi all, when I run `python examples/deepspeech2/test.py --saved ./examples/deepspeech2/Model/states/ckpt-18` I got nothing but only print tensorVariable.

![image](https://user-images.githubusercontent.com/55287979/117565852-14a11600-b0e6-11eb-98bb-4a5861a4fd7d.png)

Here is my ckpt
![image](https://user-images.githubusercontent.com/55287979/117565859-21be0500-b0e6-11eb-9890-060ede84dbc8.png)

[2021-05-09 11:45] vaibhav016 commented on #190
@kkeevin123456  your model is saved in deepspeech2/checkpoints/{epoch:02d}.h5. Try this config path.

[2021-05-10 01:17] kkeevin123456 commented on #190
@vaibhav016 here is my config. Since there is nothing exist in /home/weidagogo/chi-shen/TensorFlowASR/examples/deepspeech2/Model/checkpoints/{epoch:02d}.h5, so I use the ckpt in Model/states

![image](https://user-images.githubusercontent.com/55287979/117594287-5eced980-b170-11eb-80fa-3f4e296a43ce.png)

[2021-05-10 02:36] Custljc commented on #182
@usimarit I had the same question for the results dont match.The result are following:

greedy_wer: 0.7531763315200806
greedy_cer: 0.47527796030044556
beamsearch_wer: 0.10898508876562119
beamsearch_cer: 0.04691151902079582

I train on 960h librispeech. `http://openslr.org/12`
I use the 1.0.0 version, and use notebook for training.
The config is following:

speech_config:

`sample_rate: 16000
  fra

[2021-05-11 06:13] vaibhav016 commented on #190
@kkeevin123456 Can you check the checkpoints folder? The model gets saved there.

[2021-05-11 07:38] changji-ustc commented on #124
Hello, is gradient accumulation not supported in the latest version (v1.0.0)?

[2021-05-11 12:00] vaibhav016 commented on #182
@usimarit I also faced a similar situation. Can you please tell any possible options for making the results closer to research paper. Is there any optimal beam_width parameter? I notice, that altering it during testing on test-clean, gives different results.

[2021-05-11 13:01] usimarit commented on #182
@vaibhav016 @Custljc In the paper they used 4096 subwords (I tested for this subwords and achieved greedy_wer around 12%). Maybe you guys can try it instead of characters.

[2021-05-11 13:38] kkeevin123456 commented on #190
@usimarit Thanks!! I try to fix this bug, but I can't 😄😄

[2021-05-11 14:43] kkeevin123456 commented on #190
@usimarit It seems like I don't install decoder? How to install this QQ
![image](https://user-images.githubusercontent.com/55287979/117834947-2c28fc00-b2aa-11eb-8fc1-851ac9ba686f.png)

[2021-05-13 14:56] usimarit commented on #182
@vaibhav016 It's like [this](https://github.com/TensorSpeech/TensorFlowASR/blob/f79b3f644c02e38273d390079db731d59dbf7775/examples/conformer/config.yml#L27) but with the file [here](https://github.com/TensorSpeech/TensorFlowASR/blob/main/vocabularies/librispeech/librispeech_train_4_4076.subwords)

[2021-05-13 15:22] usimarit commented on #124
@changji-ustc I haven't supported it in keras training loop, I'm working on this.

[2021-05-13 15:50] usimarit commented on #190
@kkeevin123456 Mine work fine, but note that currently tf.string doesn't support on GPU, so you'll have to use only CPU, did you use the flag --cpu?

[2021-05-13 23:04] kkeevin123456 commented on #190
@usimarit Yes, I try to use this flag --cpu, but it return the same problem.

[2021-05-14 15:13] usimarit commented on #190
@kkeevin123456 try having a line `tf.config.set_visible_devices([], "GPU")` after `env_util.setup_devices([args.device], cpu=args.cpu)` in the `test.py`

[2021-05-16 00:02] kkeevin123456 commented on #190
@usimarit Thanks!! That can work!!! ORZ

[2021-05-16 10:19] godzilla-123 opened #195 "Any plans to support Deep Context?"
It seems like deep context is an important piece for context biasing in end-to-end models, but I haven't found any open source implementation for it. Is there any plan to implement it in the near future?

[2021-05-16 13:13] usimarit commented on #195
@godzilla-123 I haven't had any plan for this, but feel free to contribute if you like 😄 At this time, we're focusing on streaming models and bug fixes 😄

[2021-05-19 12:11] AgaDob opened #196 "Language model with Conformer"
Hi! Just wondering if the KenLM is compatible with the Conformer model, and if so if there are any example scripts on how to include it? Thank you!

[2021-05-19 12:41] usimarit commented on #196
@AgaDob Currently KenLM is not compatible with the Conformer or any of Transducer models. LM is not supported for transducer models yet, but I'm working on it and also optimize beam search to use LM.

[2021-05-20 06:49] kkiyani opened #197 "Testing Fails on Jasper"
Facing this error while testing jasper.

![error](https://user-images.githubusercontent.com/67789395/118932111-175eff00-b961-11eb-96c6-ec752db13d2c.PNG)

env:
![env](https://user-images.githubusercontent.com/67789395/118935167-aae5ff00-b964-11eb-97c7-ee7a1a2c5ba2.PNG)

[2021-05-20 14:03] usimarit commented on #197
@kkiyani Please try the newest on branch main 😄

[2021-05-23 04:15] atanumandal0491 opened #198 "Preprocess Dataset"
Hi, @usimarit
In 'datasets/asr_dataset.py' line 141 u called line 41 of 'augmentations/augmentation.py', which is calling
self.signal_augmentations = self.parse(config.pop("signal_augment", {}))
self.feature_augmentations = self.parse(config.pop("feature_augment", {}))
In config file no dict of signal_augment is present, whereas feature_augment is showing None, results in outputs as None in sub-cl

[2021-05-23 10:21] usimarit commented on #198
@atanumandal0491 Since version >1.0, I removed the predefined signal augmentations (I prefer augmentations implemented in tensorflow rather than nlpaug - to avoid the use of tf.numpy_function for TPU compatibility). If you want to use signal augmentations, you'll have to code them yourself.
And the feature augmentations methods currently "predefined" are time masking and frequency masking in speca

[2021-05-25 07:05] kkiyani commented on #197
testing_jasper using subwords
facing this error
![new_error](https://user-images.githubusercontent.com/67789395/119453997-70f46e80-bd51-11eb-96d0-a8b4847518a7.PNG)

[2021-05-25 09:07] kkiyani opened #199 "'SubwordFeaturizer' object has no attribute 'vocab_array'"
testing Jasper using subwords

![new_error](https://user-images.githubusercontent.com/67789395/119471123-6f7f7200-bd62-11eb-81c6-aba2652ff2ac.PNG)

[2021-05-26 16:58] usimarit commented on #199
@kkiyani I haven't tried Subword for CTC models but the PR should work

[2021-05-26 17:01] kkiyani commented on #199
PR?

[2021-05-26 17:05] kkiyani commented on #199
Thank you so much.

[2021-05-26 17:08] kkiyani commented on #199
One more question:
The snapshot for training session doesn't get save in the case on contextnet

[2021-05-26 18:04] usimarit commented on #199
@kkiyani Could you be more specific?

[2021-05-26 18:18] kkiyani commented on #199
It says it's not functional and sequential model, it's a subclass model. If you want to save the model use save_weight()

[2021-05-26 18:27] usimarit commented on #199
If you want to save the whole model in h5 format, then you'll have to define the `get_config` method of every layer and model classes, otherwise you'll have to go with the tf format.

[2021-05-27 13:08] #190 closed

[2021-05-27 15:17] vivekyadav21 opened #201 "contextnet model not saved after training the model"
hi
i trained the contextnet model for my custom datasets with mfcc featurizer and changing the required directories in config file and leaving the rest as it is.
But after traning for 20 epochs no model saved
@usimarit please help me

[2021-05-27 16:24] usimarit commented on #201
@vivekyadav21 To make sure you save checkpoint, please create the folder first and use `save_best_only: False`.

[2021-05-28 04:39] vivekyadav21 commented on #201
thanku @usimarit it is saved now

[2021-05-28 08:40] vivekyadav21 commented on #201
@usimarit hi i have couple of questions to ask
1.why this below error occur: **padding must be less than dimension size,256 is not less than 25**
  although this issue solved by removing less duration audios but  i don't know exactly where the problem is
![Uploading Screenshot from 2021-05-28 14-06-40.png…]()

2. can we use ctc word beam search with contextnet and what is maximum beam width we can

[2021-05-31 03:37] vivekyadav21 commented on #201
@usimarit please take a look here.

[2021-05-31 08:51] atanumandal0491 commented on #198
Hi, I was able to solve the problem. But yet on training using RnntLoss, I am getting "inf" as training loss. Unable to find the solution.

[2021-06-01 05:35] vivekyadav21 opened #205 "documnet reference for beam search used in transducer"
@usimarit hi
can you please give me the reference for your beam search used in transducer model

[2021-06-01 06:20] usimarit commented on #201
@vivekyadav21
1. How long are the less duration audios that you removed?
2. No, ctc beam search is for ctc models only, you can use any beam width, as long as your machine can handle it 😄

[2021-06-01 06:22] usimarit commented on #205
@vivekyadav21 [Here](https://arxiv.org/pdf/1211.3711.pdf) you go 😄

[2021-06-01 06:23] vivekyadav21 commented on #205
@usimarit  thanku so much for your reply

[2021-06-01 06:27] usimarit commented on #198
@atanumandal0491 Please tell me more about what rnnt loss you are using (warp rnnt, tf rnnt)? What language you are training? What type of text decoding you are using (characters, subwords, sentence piece)? What version you are using?

[2021-06-01 06:30] vivekyadav21 commented on #201
@usimarit thanku for your reply
1.since my dataset has very less rows with duration 0.5 sec or less ,so i removed all those audios which are less than 0.5 sec.
Have another question do you have any plan for implementing word based beam search in transducer ?
Is there any hack or trick  to speed up this beam search decoding  time ,it taking lot of time with just a beam width of 5?

[2021-06-01 07:14] usimarit commented on #201
@vivekyadav21 I'm busy lately so I don't have any plans for word based beam search. I tried to optimize the current beam search as much as possible but I think to speed up more, we will have to apply the new method (n-step constrained beam search).

[2021-06-01 08:41] atanumandal0491 commented on #198
Hi, I did a mail to you.

[2021-06-01 09:31] vivekyadav21 commented on #201
@thanku for suggestion and reply

[2021-06-09 18:15] cemildemir19 opened #206 "High WER Values for a different set"
We trained a conformer model with Librispeech and our own data set. We used 800 hours of data from Librispeech and 800 hours of our data. In Librispeech test-clean set, we obtained 14.9 % WER. However, for our own test set, we get 63.3 % WER.
Do you have any other reference result on a different set from Librispeech?
Our data set is too imbalanced. In other words, there are many repeated sentences

[2021-06-12 07:13] Jamesswiz opened #207 "Out of memory issue on some GPUs"
Hello Team,
I ran the librespeech contextnet experiment with success on a RTX 3080 and V100 with a batch size of 4 and 8 respectively.

However, the same setup gives me out of memory error on A100 and RTX 3090 GPU with a batch size of 10.
With a batchsize of 2 the ETA becomes 2 days per epoch, so definitely something is wrong.
At least on A100 I should be able to train on a larger batchsize,

Any

[2021-06-13 07:05] Jamesswiz commented on #62
@usimarit
how to use gradient accumulation option in train script for contextnet example?

[2021-06-15 04:31] kju196 opened #208 "Failed to load dataset with sentence_piece model."
I tried to train the model with sentence_piece
[code]

But I got this error.

[code]

[2021-06-22 07:18] BuaaAlban commented on #182
This is my test result for contextnet small, it's still far from the result in paper especially for greedy decode, any ideas?
INFO:tensorflow:greedy_wer: 0.748846709728241
INFO:tensorflow:greedy_cer: 0.47502392530441284
INFO:tensorflow:beamsearch_wer(beam size 5): 0.10953524708747864
INFO:tensorflow:beamsearch_cer: 0.04725393280386925

[2021-06-23 06:24] vivekyadav21 commented on #208
@kju196 add this **tf.config.run_functions_eagerly(True)** to your code to enable eager execution

[2021-06-24 09:18] ndhuy13 opened #209 "Cannot save Conformer model to Tensorflow SavedModel"
Hello everyone!
After training, I save conformer model to SavedModel format by code below:
[code]
I got ValueError:
[code]
Is there anyone who saved to SavedModel?
Can you guide me?
Thank you.

[2021-06-24 14:19] usimarit commented on #206
Unfortunately, I don't have any.

Maybe your own test test is too noisy or has voices that the model didn't see before or the voices are too slow/fast, etc.
Or your training data is too bias, that makes the model 'overfit' on your 800 hours

[2021-06-24 14:41] usimarit commented on #207
@Jamesswiz Did you use mixed precision? On TPU with 8GB/TPU, I was able to fit batch size 6 for 12M params contextnet pretrained. For GPU it should be around batch size 4 (with mixed precision)
2 days/epoch for contextnet is slow, how was your GPU utilization?

[2021-06-30 06:11] magdacisowska opened #210 "Num labels in librispeech_train_10_1008.subwords is not 1008"
Number of labels in https://github.com/TensorSpeech/TensorFlowASR/blob/main/vocabularies/librispeech/librispeech_train_10_1008.subwords is not 1008, but 751.
This way I'm not even able to test the trained rnn_transducer model. Can we get the missing vocabulary?

[2021-07-01 07:28] ashishBT commented on #196
I am curious to know about the integration of language model in your ASR Conformer implementation.
As original article of Conformer also mentioned improvement of performance with using LM.
You can also assist me, so that I can try.

[2021-07-08 15:54] elaith9 opened #211 "Real-time inference example"
Hello! I'm wondering if is possible to use those models in real-time inference scenario like microphone stream. In other words, will models work good on smaller chunks of audio like 250ms instead on whole sentences like those used for training. And if you have some example would you be able to provide it. Thanks, and great work!

[2021-07-10 07:29] vivekyadav21 opened #212 "does anybody used the NumpySpeechFeautrizers ?"
@usimarit
I tried with NumpySpeechFeautrizers but it neither give any error not showing any further progress

[2021-07-21 16:11] giannisp-verneek opened #213 "Demonstration conformer example does not work with latest release"
I'm trying the `conformer` demonstration example and I am getting an initialization error:

[code]

I tried it with the latest pypi release

[2021-07-22 18:19] cookiehunter commented on #213
I am encountering the same problem. Also latest pypi release (gpu) with TF 2.5

[2021-07-22 18:58] giannisp-verneek commented on #213
Also, I realized that the `config` file on the drive for subsample conformer does not have the correct parameter naming for the conformer. I had to rename them based on the parameters of the conformer constructor.

[2021-07-23 15:41] usimarit commented on #211
@elaith9 Ideally the `rnn_transducer` can work on the small chunk of audio, but we need to test more :smile:

[2021-07-23 15:43] usimarit commented on #213
@cookiehunter @giannisp-verneek I'll update the pretrain config ASAP.

[2021-07-23 15:45] usimarit commented on #212
@vivekyadav21 the NumpySpeechFeaturizer is getting deprecated, I'll remove it in near future and focus on pure tf implementation. If you want, you can customize it for it to work 😄

[2021-07-23 15:48] usimarit commented on #209
@ndhuy13 I haven't tried this but according to the error message, returning a dict may cause the issue.

[2021-07-23 15:49] usimarit commented on #210
@magdacisowska Did you try loading the file with `SubwordFeaturizer` and see the property `num_classes`?

[2021-07-23 16:00] usimarit commented on #196
@ashishBT The LM's usually used to rescore the prob in the decoding function of the model (aka beam search). So first we need to optimize the beam search performance and then just connect with LM in the function that calculate the prob (the prob used to get the corresponding class)

[2021-07-23 16:11] usimarit commented on #182
@BuaaAlban @vaibhav016 I trained contextnet [here](https://github.com/TensorSpeech/TensorFlowASR/blob/main/examples/contextnet/README.md#rnn-transducer-subwords---results-on-librispeech). Please check out the config and compare it with your own :smile:

[2021-07-23 16:20] usimarit commented on #62
@Jamesswiz currently the gradient accumulation is not supported for newest release, but it will be in near future.

[2021-07-26 11:10] vivekyadav21 commented on #212
@usimarit thanks for your reply....btw somehow i managed to tackle my numpy task

[2021-07-27 15:39] lamyiowce opened #214 "Issues in XLA compilation while running on TPU"
Hi,
I am using your code to train Conformer using Cloud TPU VM on GCP. Have you managed to run the conformer code on TPU and maybe you could share some details on your setup? Or maybe you came across similar issues and have some pointers on how to attempt to debug this?

I've encountered this issue:
[code]

I'm using a slightly edited training script from your examples:
[code]
Snapshot dataset is

[2021-07-28 03:57] ndhuy13 commented on #209
@usimarit Thank you for your comment.
I think the reason come from https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/models/base_model.py#L24.
cause the error that I get is
[code]
Are there any other ways to save model to SavedModel format?
Thank you very much. :)

[2021-07-30 23:49] jkViswanadham opened #215 "Extracting phonems from audio"
Can this be modified to extract Phonems with their start and end time stamps in audio file?

[2021-08-01 17:00] usimarit commented on #214
I've managed to run models on tpu colab with gcp
You can try running the script on tpu colab to see if it works
Make sure you use the supported dtype (tpu does not support tf.string, so every data points in the tfdataset must be number), fixed shape (with padding for variant sizes)

[2021-08-01 17:03] usimarit commented on #215
I believe we can, since all we need to do is making a custom version of the ASRDataset, Speech Featurizer, Text Featurizer and feed the dataset into models with phonemes classes.

[2021-08-01 17:04] usimarit commented on #212
@vivekyadav21 I'll close the issue here, feel free to reopen if you have anything to ask.

[2021-08-01 17:04] #212 closed

[2021-08-01 17:09] usimarit commented on #209
@ndhuy13 Can you comment out that `__init__` function of `BaseModel` and all the functions that uses the `self._metrics`, then rebuild, load weights to the model (do not compile) and then convert to SavedModel format?

[2021-08-01 17:10] usimarit commented on #209
Sorry pressed wrong close button 😆

[2021-08-02 10:51] zubairahmed-ai commented on #213
Same issue here

[2021-08-02 10:52] zubairahmed-ai commented on #213
@usimarit same issue here

[2021-08-03 22:48] ZDisket opened #216 "Bad transcript result with ContextNet on clean clip"
I tried doing some inference with the released ContextNet model on a clip from my LJSpeech recreation and the resulting transcript looks like a mix of Dutch and gibberish:

Since GitHub doesn't allow uploading .wavs the audio clip is in a .zip. And I've tested with audios pre-resampled to 16k (even though the loading function already resamples), and it's still gibberish.

Here's the notebook where

[2021-08-04 16:09] ZDisket commented on #216
Nevermind. Output type is unicode code points, not featurizer IDs
[code]

[2021-08-04 16:09] #216 closed

[2021-08-06 04:55] vivekyadav21 opened #217 "document references for streaming models"
@usimarit hi ,can you please provide me the references for streaming models

[2021-08-11 11:26] #163 closed

[2021-08-12 02:58] ndhuy13 commented on #209
Unfortunately,  I got this error after I comment all the functions that uses the self._metrics and rebuild.
[code]

[2021-08-14 07:21] bhaswa opened #218 "Tensorflow 2.6 Support"
HI,

For converting the model(conformer or contextnet) in tflite, some of the operations are not supported in tf 2.5, it need tensorflow version 2.6 or tf nigthly.
Do you have any plan to provide support for tensorflow 2.6 version? Or can you give some insights on how to convert the models using latest tensorflow versions?

[2021-08-22 18:23] usimarit commented on #209
@ndhuy13 Sorry for the late reply, I've updated the code in main branch an tested conversion to saved_model in tensorflow 2.6 using [script](https://github.com/TensorSpeech/TensorFlowASR/blob/main/examples/conformer/saved_model.py), can you try again?

[2021-08-23 07:47] ymzlygw opened #219 "What I should do if I want to train a Japanese Model?"
Hi, my question is that for english, the output of model is directly the index of char If I understand correctly，then it can map between char and sequence. And for japanese, what is the output of model? and how to create map between index  and kanji of jp.

[2021-08-23 07:54] #218 closed

[2021-08-24 07:20] pavel-esir commented on #209
@usimarit thanks for your effort! I tried to export Conformer Transducer to SavedModel format with your recently uploaded script from master. I used `config.yml` from
https://drive.google.com/drive/folders/1VAihgSB5vGXwIVTl3hkUk95joxY1YbfW
with replacing key from `null` to `conformer.subwords`
then I run
`python TensorFlowASR/examples/conformer/saved_model.py --subwords --h5 latest.h5 --config con

[2021-08-24 07:22] ymzlygw commented on #219
I see the english_characters , what about japanese?
ENGLISH_CHARACTERS = [
    " ",
    "a",
    "b",
    "c",
    "d",
    "e",
    "f",
    "g",
    "h",
    "i",
    "j",
    "k",
    "l",
    "m",
    "n",
    "o",
    "p",
    "q",
    "r",
    "s",
    "t",
    "u",
    "v",
    "w",
    "x",
    "y",
    "z",
    "'",
]

[2021-08-30 07:46] LeonKennedy opened #220 "conformer test script in example output none"
hi, thank you developed this great toolkit and open source.but i have some problem and cant solve by myself.

i run train.py in examples/conforme.After 20 epoches, loss reduce to 6.92。 but i get none from test.py，so wer and cer is all 1. (none means greedy and beamsearch all empty).

i think i was follow the instruction in readme.

python version:3.9
tf version: 2.5
rnnloss in tf
use characters

[2021-08-30 07:47] LeonKennedy commented on #220
config.yml :

speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  num_feature_bins: 80
  feature_type: log_mel_spectrogram
  preemphasis: 0.97
  normalize_signal: True
  normalize_feature: True
  normalize_per_frame: False

decoder_config:
  vocabulary: /mnt/data/conformer/alphabet.txt
  target_vocab_size: 1000
  max_subword_length: 10
  blank_at_zero: True
  beam_width: 0
  norm_

[2021-08-30 07:49] LeonKennedy commented on #220
only one 2080ti / 10G
train log:

2021-08-27 17:25:35.729887: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0
WARNING:tensorflow:Please provide a TPU Name to connect to.
2021-08-27 17:25:36.701098: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcuda.so.1
2021-08-27 17:25:36

[2021-08-30 10:13] LeonKennedy commented on #220
i used voice data collected by myself . the data have been certificated by deepspeech another toolkit
![截屏2021-08-20 下午3 37 15](https://user-images.githubusercontent.com/4124675/131324053-2644cbee-fdd6-41cb-a6fa-483d2bfb9ff2.png)

[2021-08-30 10:14] LeonKennedy commented on #220
i used voice data collected by myself . the data have been certificated by deepspeech another toolkit.

here is test output file:
greedy and beamsearch is empty
![截屏2021-08-30 下午6 08 05](https://user-images.githubusercontent.com/4124675/131324205-13eabd5f-9cf8-4bbe-a47f-c467aa7a12ba.png)

[2021-08-30 19:23] torthefirst commented on #220
I'm seeing the same result :0

Config.yml:

speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  num_feature_bins: 80
  feature_type: log_mel_spectrogram
  preemphasis: 0.97
  normalize_signal: True
  normalize_feature: True
  normalize_per_frame: False

decoder_config:
  vocabulary: /home/sl-t01/skavenger.agent-2.3/nn/speech/conformer/librispeech_train_4_4076.subwords
  target_voc

[2021-08-31 06:31] akafen opened #221 "Jasper can't find saved model"
hi, thank you developed this great toolkit and open source.but i have some problem and cant solve by myself.

i run train.py in examples/japer.After 6 epoches, loss reduce to 0.69. But I don't find any saved model in my saved directory

i think i was follow the instruction in readme.

python version:3.7.3
tf version: 2.3.2
ctc_loss in tf
use characters

config.yml:

[2021-08-31 17:05] o74589055 opened #222 "TypeError: list indices must be integers or slices, not str"
Hi! I am a novice
I get an error when I run conformer/train.py
[code]
## Error
[code]

[2021-09-10 12:16] Gouranga95 opened #224 "Conformer TFLite Converted Model Inference Script"
Hi,

Could you please provide the infence script for  Conformer tflite converted model (the tflite model obtained by tflite.py in comformer example)?

[2021-09-15 17:40] #224 closed

[2021-09-17 06:34] w81192 commented on #222
the author commit base_model.py a few days ago，he modified the code about function self.add_metric in base_model.py，that would make a error when you are running the train.py. So just use the history version，that would be ok

[2021-09-17 08:18] agonzalezd commented on #224
Hi @Gouranga95,

Did you manage to build a script able to perform inference in a tflite model?

Thanks in advance

[2021-09-23 01:19] jaehwlee commented on #210
It works to me! Change the line number 84 in 'examples/rnn_transducer/test.py' like this.

![image](https://user-images.githubusercontent.com/33409264/134441933-3c890bb9-0df5-4dcc-a044-a53b2cf6aa67.png)

[2021-09-28 13:46] agonzalezd opened #226 "TFlite inference example"
Even though posted in the issue https://github.com/TensorSpeech/TensorFlowASR/issues/224, the issue was originally closed without providing any solution to its request.

I couldn't find any example script for inference using a TensorFlow lite model.

Could you provide any example of inference using these converted models?

Thanks in advance

[2021-09-30 06:43] #226 closed

[2021-09-30 06:44] agonzalezd commented on #226
Duplicate of #166

[2021-10-10 09:09] #194 closed

[2021-10-24 08:17] StuartIanNaylor opened #228 "TensorFlow Federated: Machine Learning on Decentralized Data"
Purely a question but just wondering if you guys had any thoughts on localised federated training for TensorflowASR?

https://www.tensorflow.org/federated

The new Pixel6 phones with its TPU name dropped federated learning and always local federated training data, which seems a panacea to the problems of privacy?
I am completely unsure of limitations and implementation but very interested as very

[2021-10-28 09:50] arthur-compton opened #231 "rnn_transducer"
I've been running the examples in the "conformer/" and in the "rnn_transducer/" directories and comparing the models with those already provided on drive.

The conformer training works as expected, and the results of the model I trained are almost identical to the results obtained with the pretrained model (I am using the three librispeech training sets for training, 960 hours).

The training in t

[2021-11-05 06:40] jun-danieloh opened #232 "RNNT Loss from warp-transducer vs TF"
I see there are two RNNT Loss. One from warp-transducer and the other from TF.
Which one do you recommend to use?

[2021-11-05 07:01] o74589055 commented on #222
I think it’s a TensorFlowASR version issue. I didn’t switch branches. I executed docker-compose and then pip3 install -U "TensorFlowASR[tf2.x-gpu]"

[2021-11-05 07:04] usimarit commented on #222
Can you guys try the newest one on brandh main to see if the issue still exists?

[2021-11-07 09:03] usimarit commented on #232
I personally recommended the one from TF because it doesn't need to install external libs, and it's implemented based on warp-transducer

[2021-11-07 11:55] usimarit commented on #209
@ndhuy13 @pavel-esir @hamlatzis Please try version `v1.0.2` to convert Conformer to saved model and run the saved model for audio inference.
Examples: [gen_saved_model.py](https://github.com/TensorSpeech/TensorFlowASR/blob/v1.0.2/examples/conformer/inference/gen_saved_model.py) and [run_saved_model.py](https://github.com/TensorSpeech/TensorFlowASR/blob/v1.0.2/examples/conformer/inference/run_saved

[2021-11-07 11:58] usimarit commented on #210
I'll close the issue here since I haven't seen the problem. Feel free to reopen if you still see the issue, make sure you show me the last layer's shape (aka logits layer that produces probs).

[2021-11-07 11:58] #210 closed

[2021-11-07 12:08] usimarit commented on #188
@vaibhav016 I don't have the gpu to test. But anyway I don't quite get your idea. Are you able to load the weights by name? And if the loading is ok, are you able to run the test loop?

If I get this right, you mean "and testing starts". Do you still see it in TF2.6?

[2021-11-07 12:10] usimarit commented on #182
I'll close the issue here. Feel free to reopen if the test still fails

[2021-11-07 12:10] #182 closed

[2021-11-07 12:11] usimarit commented on #206
Feel free to reopen if you have further questions

[2021-11-07 12:11] #206 closed

[2021-11-07 12:12] usimarit commented on #205
Feel free to reopen if you have further questions.

[2021-11-07 12:12] #205 closed

[2021-11-07 12:16] usimarit commented on #172
Feel free to reopen if the issue still exists. Make sure your dataset contains only characters specified in vocab file.

[2021-11-07 12:16] #172 closed

[2021-11-07 15:13] jun-danieloh commented on #232
@usimarit Perfect. Thanks :)

[2021-11-08 07:50] jun-danieloh commented on #232
@usimarit

I am trying to install RNNT Loss from either TF or warp-transducer but both are not working.

1) RNNT Loss from TF
I am referring to this repository for RNNT Loss from TF(https://github.com/iamjanvijay/rnnt), which is comparable with TF2.0 not with TF 2.5.1 that I believe is the minimum TF version requirement at the moment. Do I miss anything?

2) RNNT Loss from warp-transducer
I am try

[2021-11-08 07:56] usimarit commented on #232
@jun-danieloh The RNNT loss from TF you dont need to install anything except the tensorflow asr repo because we already integrated it. Only the warp-transducer needs to be installed externally. Since the warp-transducer has many problem about cuda version so I recommend to use the TF version of it. Just make sure you dont install the warp-transducer in order to use the TF version.

[2021-11-08 08:10] jun-danieloh commented on #232
@usimarit

Okay. I miss understood. For using RNTT loss from TF, I don't need to do anything further except baseline code. That sounds perfect. Let me try now! Which one do you prefer between CTC loss vs RNNT Loss? I heard that RNNT is always hard to train.

[2021-11-08 09:35] usimarit commented on #232
@jun-danieloh I prefer rnnt loss since some sota papers use it. But you can try ctc loss but technically the author of rnnt loss gives some points that it's better than ctc loss. And yes it's harder to train since the rnnt is not officially supported in TF (unlike ctc loss - which is official) so the implementation might be incorrect or not optimized.

[2021-11-08 15:59] jun-danieloh commented on #232
@usimarit

Thank you for your kind answers. One more question. You mentioned that I don't need to install anything to use rnnt loss from TF. You also mentioned that rnnt loss is not released officially from TF.

If TF is not released rnnt loss officially, how can I use it without installing it manually?

[2021-11-08 16:11] jun-danieloh commented on #232
@usimarit

Also, you mentioned that ctc loss is released from TF officially. Then, can I skip the step below? I really appreciate for your help in advance.

[code]

[2021-11-08 16:23] jun-danieloh commented on #232
FYI, they are error messages when I tried to run `./scripts/install_ctc_decoders.sh`

[code]

[2021-11-09 05:41] jun-danieloh commented on #232
@usimarit I managed CTC parts :)

[2021-11-09 05:41] #232 closed

[2021-11-11 09:48] hamlatzis commented on #209
@usimarit just tried the v1.0.2 and have errors like

`TypeError: You are passing KerasTensor(type_spec=TensorSpec(shape=(None, None, 80, 1), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), an intermediate Keras symbolic input/output, to a TF API that does not allow registering custom dispatchers, such as `tf.cond`, `tf.function`, gradient tapes, or `t

[2021-11-12 05:46] jun-danieloh opened #234 "Duration in transcripts.tsv"
I am just curious about whether it is normal to have `duration` in transcripts.tsv file. If it is usual, is it helpful that much? In which aspect?

[2021-11-12 10:12] hamlatzis opened #235 "Cannot use conformer for inference in tflite"
Created a tflite model file using conformer model from SavedFile format.

When trying to use it for inference, I get an error on **Node 5059** which is built-in kernel `BroadcastArgs`. According to Netron (_see screenshot_) the op takes two input tensors (_indices2upoints/normalize_indices/Equal_ & _indices2upoints/normalize_indices/Equal1_) both type `int64[1]` and outputs a tensor (_indices2upoi

[2021-11-13 12:05] MhmudAlpurd opened #236 "How to convert transducer.h5 or contextnet.h5 to tflite, directly?"
Hi everyone, I'm going to convert h5 to tflite by this repository, and I get several errors. I run these commands in order,
`
git clone https://github.com/TensorSpeech/TensorFlowASR.git
cd TensorFlowASR
# Tensorflow 2.x (with 2.x.x >= 2.5.1)
pip3 install -e ".[tf2.x]" # or ".[tf2.x-gpu]"
pip3 install -U "TensorFlowASR[tf2.x]"
`
error occurs:
`
parser.parse_args()
 _sys.exit(status)
`
then I execut

[2021-11-15 11:29] hamlatzis commented on #235
Closing this, as it was on my part the bug

[2021-11-15 11:29] #235 closed

[2021-11-16 10:09] #234 closed

[2021-11-16 10:29] jun-danieloh opened #237 "Inference Error when using a stream_transducer model"
Hi @usimarit

I noticed that there are several posts related to my issue like https://github.com/TensorSpeech/TensorFlowASR/issues/168 but I didn't find any clear solutions yet. Do you have any workarounds for this issue?

My Env:
Python: 3.6.9
TF version: 2.5.2

My command:
`root@elf-ml-v100:/home/azureuser/cloudfiles/code/TensorFlowASR# python examples/demonstration/streaming_tflite_conformer.py

[2021-11-16 11:26] jun-danieloh commented on #168
@iamweiweishi Did you manage this issue? If so, can you share your wordaround?

[2021-11-25 11:08] Ashbajawed opened #238 "Error in importing conformer"
Can any body help? I am getting no module errror

ModuleNotFoundError: No module named 'tensorflow_asr.models.conformer
by command
from tensorflow_asr.models.conformer import Conformer

I have installed 2.5.1 version of tensorflow_asr and have following configuration
tensorflow                   2.5.2
tensorflow-addons            0.14.0
tensorflow-datasets          4.4.0
tensorflow-estimator

[2021-12-05 06:49] usimarit commented on #238
@Ashbajawed The `from tensorflow_asr.models.conformer import Conformer` has changed to `from tensorflow_asr.models.transducer.conformer import Conformer`. Please make sure you have the latest code on branch main

[2021-12-05 07:16] usimarit commented on #237
@jun-danieloh We are working on streaming asr (conformer and rnn) and we will have a code for demonstration. Meanwhile, the conformer only used for non-streaming (prediction runs after finishing speech). So the `streaming_tflite_conformer.py` has some issue now, but if you want to test, I think the solutions are like one of the following:

1. Load tflite model to memory -> split signal into chunks

[2021-12-05 07:18] usimarit commented on #234
@jun-danieloh The `duration` is for precalculate the maximum length of signal for static shape training on TPUs (tpus require static shape where gpus are not - we can use dynamic shape on gpus).

[2021-12-05 07:41] usimarit commented on #228
@StuartIanNaylor It's not on our radar yet but might be in the future. For now we are focusing on models and the code base so that they are scalable and less bug 😄

[2021-12-05 08:06] usimarit commented on #209
@hamlatzis Where did you meet that error?

I haven't done the training in saved_model yet, but for training you will have to save model including the optimizer and a strategy to store checkpoints. I assume you want to do this in order for the model to learn while making predictions on production, is that right?

[2022-01-11 18:56] nyadla-sys commented on #166
@iamweiweishi have you converted conformer float32 tflite model to int8 tflite model(both weights and actiavtions)?
if not do you have any python script which does above step?

[2022-01-11 18:56] Aegon007 commented on #166
您好，您的邮件我已收到。我会尽快给您回复。祝好！

[2022-01-12 01:02] nyadla-sys opened #239 "Quant tflite for conformer tflite model"
I have added below code to ~/TensorFlowASR/examples/conformer/inference/gen_tflite_model.py   file.
[code]

**ran below command on colab setup**
!python3 /content/TensorFlowASR/examples/conformer/inference/gen_tflite_model.py --subwords --config /content/test/config.yml --h5 /content/test/latest.h5 --output /content/test/test.tflite

I see test.tflite float model gets generated, however for quant(

[2022-01-12 04:09] nyadla-sys commented on #239
@usimarit Please help me on this .
thanks in advance

[2022-01-12 04:14] nyadla-sys commented on #239
@usimarit also it may be good idea to add pretrained models to Github(like .h5 keras model,.tflite model and other required files to run these models using python script)

[2022-01-27 10:50] scshtyk opened #243 "save h5 file error"

[2022-01-27 10:53] scshtyk commented on #243
When I finish training an epoch, it has a bug when it auto-saves the h5 file:

Traceback (most recent call last):
  File "examples/conformer/train.py", line 148, in <module>
    conformer.fit(
  File "/usr/local/lib/python3.8/dist-packages/tensorflow/python/keras/engine/training.py", line 1229, in fit
    callbacks.on_epoch_end(epoch, epoch_logs)
  File "/usr/local/lib/python3.8/dist-packages/tens

[2022-01-27 10:54] scshtyk commented on #243
I didn't change any code， just run example/conformer/train.py

[2022-01-27 11:25] scshtyk commented on #243
and is it normal to train an epoch and still have a loss of 300+?

[2022-01-27 12:30] scshtyk commented on #243
I found that the demo did not create the "./local/conformer/checkpoints" folder automatically, I created it manually and then it worked

[2022-01-28 03:52] RickChou commented on #243
hi scshtyk:

How do you set the parameters of your train.py?

Best Regards.
Rick.

[2022-01-29 03:18] scshtyk commented on #243
hi Rick：
The command I use to run this file is
python examples/conformer/train.py --subwords
subwords file was created by running generate_vocab_subwords.py

the config.yml is
speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  num_feature_bins: 80
  feature_type: log_mel_spectrogram
  preemphasis: 0.97
  normalize_signal: True
  normalize_feature: True
  normalize_per_frame: Fals

[2022-02-03 10:56] PSYMA opened #244 "TFLite Conversion Warnings"
I need help and suggestion, I tried the examples/conformer/train.py using the dev-clean LibreSpeech and it did train successfully and created an h5 file and test it using the examples/demonstration/conformer.py and it went well. but when I tried to convert it using examples/conformer/inference/gen_tflite_model.py some problems occurs.

1. It did create a tflite lite file but when I tried to test i

[2022-02-07 06:16] RickChou commented on #243
hi @scshtyk
Can you successfully train it?
I got the following error, I wonder if you have solved it?

Traceback (most recent call last):
  File "train.py", line 127, in <module>
    optimizer = tf.keras.optimizers.Adam(TransformerSchedule(d_model=conformer.dmodel,warmup_steps=config.learning_config.optimizer_config.pop("warmup_steps", 10000),max_lr=(0.05 / math.sqrt(conformer.dmodel))),**config.l

[2022-02-07 07:03] usimarit commented on #238
Feel free to reopen if the problem still exists

[2022-02-07 07:03] #238 closed

[2022-02-07 07:18] usimarit commented on #244
@PSYMA Could you provide the `--num_rnns`, `--nstates` and `--statesize` values when you run the `tflite_conformer.py`? The `"Value: Invalid tensor size"` may come from passing wrong values, the values must be the same as in the model config.

[2022-02-07 07:46] PSYMA commented on #244
This is the config file I used for training

# Copyright 2020 Huy Le Nguyen (@usimarit)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distribute

[2022-02-07 07:55] usimarit commented on #244
@PSYMA Could you provide the full error of `"Value: Invalid tensor size"`?

[2022-02-07 08:08] PSYMA commented on #244
Hi @usimarit , actually the tflite_conformer.py works perfectly fine. but when I tried to use it with my microphone streaming script it gives me an error "Value: Invalid tensor size". but when I use the pre-trained tflite model "https://drive.google.com/drive/folders/1BD0AK30n8hc-yR28C5FW3LqzZxtLOQfl?usp=sharing using the subsampling-conformer.latest.tflite" it works fine.

[2022-02-07 08:18] usimarit commented on #244
@PSYMA Can you provide your microphone streaming script and the full error? Only that I can help you by tracing where the error comes from and give solutions/suggestions

[2022-02-07 08:34] PSYMA commented on #244
Hello @usimarit , Thank you for replying it seems I have found the problem it comes from the tensorflow version I'm using. I have two separate enviroment [(1) has tensorflow 2.6.0 and tf-nightly-2.9.0.dev20220201],  [(2) has tensorflow 2.6.1]. my microphone streaming script works fine in enviroment (1).

[2022-02-07 08:49] usimarit commented on #244
@PSYMA Then I'll close the issue here, feel free to reopen if you need any helps 😄

[2022-02-07 08:49] #244 closed

[2022-02-07 09:22] scshtyk commented on #243
hi Rick

I can train with 4 GPU cards and default params，but it still has problems with the accuracy of the test.
Unfortunately I have not encountered this error.
Does this error occur at the beginning of training?

Best Regards.
 tyk.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-02-07 11:46] RickChou commented on #243
@scshtyk
I can successfully train. This problem is because I use the old config so it does not support beta1 parameters. Modifying it to beta_1 can successfully train.
thanks for your reply.

Best Regards.
Rick.

[2022-02-07 11:48] RickChou commented on #243
Sorry, your question may need to wait for my training for a while before I can discuss it with you.

Best Regards.
Rick.

[2022-02-16 13:59] PSYMA commented on #219
Hi, I tried to train a Chinese model and it seems not good, I followed the steps in Conformer the same way with English. can have a suggestion on how could I properly train a Chinese model? Thanks!

[2022-02-17 02:56] hsdrhsr opened #246 "[CONFORMER] CANNOT reproduce conformer subword wer and cer listed in readme file"
The error rates shown in https://github.com/TensorSpeech/TensorFlowASR/tree/main/examples/conformer is
```"Greedy: wer: 6.37933683 cer: 2.4757576 on test-clean; wer: 15.7308521 cer: 7.67273521 on test-other". ```
We can not reproduce this error rate. Our error rates are
```"Greedy: wer: 11.6 cer 4.9 on test-clean with --pretrained=pretrained-subword-conformer/latest.h5 (download from google drive)

[2022-02-19 16:33] SupreethRao99 opened #247 "RNN-Transducer TFlite conversion Broken"
Hello,

Im trying to convert a pertained model trained on librispeech, but I run into the following error
[code]
to run the tflite conversion, I ran the below code
[code]
Platform
OS : MacOS 10.15.7
Python : 3.9
Tensorflow-cpu :  2.6.3

Could you suggest a possible way to convert a model to tflite as installing tf-nightly causes dependency issues and does not allow any code to be run at all.

Than

[2022-02-21 16:34] neso613 commented on #239
Yes, its my request too, to ADD keras/saved model weights.

[2022-03-02 12:16] Mddct opened #248 "Any plan to support wav2vec training?"

[2022-03-09 06:46] UESTCgan opened #249 "Vietnamese dataset link failed"
Hello, everyone
    I found this Vietnamese data set link is broken.
     <html>
<body>

InfoRe Technology 2 (used in VLSP2019) | InfoRe2 (passwd: [BroughtToYouByInfoRe](https://files.huylenguyen.com/audiobooks.zip)) | 415h
-- | -- | --

</body>
</html>

 Does anybody have a new link? We look forward to your help!
    Thanks!

[2022-03-10 03:21] usimarit commented on #249
@UESTCgan I fixed the link, could you try again?

[2022-03-12 07:42] usimarit commented on #249
Feel free to reopen if the link is broken

[2022-03-12 07:42] #249 closed

[2022-03-12 07:44] usimarit commented on #248
currently I don't have any plan, but I think we will have after I find more maintainers for this projects 😆

[2022-03-12 07:54] usimarit commented on #246
@hsdrhsr Did you use the subword on the drive: [https://drive.google.com/file/d/1NNo-IRvBlZJsRB51eNr5yGYRzSyqfCk1/view?usp=sharing](https://drive.google.com/file/d/1NNo-IRvBlZJsRB51eNr5yGYRzSyqfCk1/view?usp=sharing)
The pretrained on google drive is quite a bit wrong since the subwords are generated with librispeech train + dev + test-clean, therefore when you train with the subwords in the `vocab

[2022-03-22 12:27] sgonzalezsilot commented on #71
But the problem is not solved, how can we run the code with GPU?

[2022-03-23 02:28] AlexBlack2202 commented on #249
hi, can you fix the link, https://files.huylenguyen.com/audiobooks.zip, it return 504 error . 504 Gateway Time-out

[2022-03-23 08:19] usimarit commented on #249
@AlexBlack2202 please recheck the link, sometimes my server gets disconnected from internet 😄

[2022-03-28 11:48] Typelias opened #252 "Segmentation fault (core dumped)"
Hi!

I trained the DeepSpeech2 model using the example scripts. With the trained checkpoints I generated a tflite model using the provided conversion script. I can successfully load and allocate the tensors but as soon as I invoke it fails and gives me Segmentation fault (core dumped).

Code for loading the model:
[code]

[2022-04-03 02:09] usimarit commented on #252
@Typelias Could you provide your tensorflow version?

[2022-04-04 08:42] Typelias commented on #252
@usimarit
TensorFlow version: '2.8.0'
Do you need any more information?

[2022-04-12 14:54] guokr233 opened #254 "Error when using multi-GPU training: CUDA_ERROR_ILLEGAL_ADDRESS: an illegal memory access was encountered"
I am trying to train a Chinese model of a conformer. When I train with 4 2080ti, there will be an error in the middle of the epoch: CUDA_ERROR_ILLEGAL_ADDRESS: an illegal memory access was encountered, and the time of occurrence is not fixed. This problem doesn't occur when I train with only one gpu. please help me

This is my environment：

tensorflow-text==2.7
tensorflow-io==0.23

Below is my con

[2022-04-12 23:12] bihujrj opened #255 "how to debug tensor within pycharm"
can you help me ,i do not konw how to debug tensor within pycharm,  i can`t see the value within the tensor, it is difficult to debug tensorflow and your programe,thank you!

[2022-04-16 11:23] usimarit commented on #255
@bihujrj Normally you put some breakpoints, have a script to run (like training or testing script), then run debug with that script, it will stop at the breakpoint and you'll see the tensor.
Sorry I rarely use debugging in pycharm, and also pycharm 😄 In my case, normally I run the script or pytest to test the modules or functions to see if they work as expected.

[2022-04-16 11:31] usimarit commented on #254
@guokr233 this might be the problem of tensorflow ifself or you didn't setup the environment right. Did you use anaconda3 (or miniconda)? And make sure your cuda driver is installed **correctly** on your machine.
The anaconda ensures that your environment has enough library/packages needed to run for gpu correctly.
I don't have experience to solve CUDA errors, so the only solution that I can provi

[2022-04-17 02:28] guokr233 commented on #254
I'm creating the environment via conda, it's a really weird bug

[2022-04-17 02:41] guokr233 opened #256 "A question about Transducer when reading the code"
Hello, I am reading the code of Transducer, I am not clear about TransducerJoint, in Transducer's call method, first use encoder to encode the input, and then use TransducerPrediction to predict, I don't understand why you use TransducerJoint at the end to combine the first two The output of the user encoded and prediction is transformed and added.
Thanks for your work.

[2022-04-17 07:01] guokr233 commented on #254
I created the environment through conda, and I upgraded to 2.8 version of tensorflow-gpu, cuda11.2, cuDNN 8.4.0. But still got this error. It seems that I can only train slowly with one GPU

[2022-04-17 12:33] usimarit commented on #254
@guokr233 Let me recheck the mirror strategy of tensorflow to see if there's any changes.
Currently I don't have multi-gpus so it's hard to reproduce the issue. I've moved to TPUs on colab and it still works fine 😄

[2022-04-17 13:22] usimarit commented on #256
@guokr233 The `TransducerJoint` is this output distribution, the transcription network is the `Encoder` and the prediction network is the `TransducerPrediction`.
![Screenshot 2022-04-17 201900](https://user-images.githubusercontent.com/28498441/163716149-3759f3e5-0465-46d8-97a7-15c0b71223cb.png)
You can find more in this paper: [http://arxiv.org/abs/1211.3711](http://arxiv.org/abs/1211.3711)

[2022-04-18 03:20] #256 closed

[2022-04-25 07:41] CapitanMurloc opened #257 "Error constructing the image (compute_30)"
Error constructing the image:
**_nvcc fatal : Unsupported gpu architecture 'compute_30'._**

The traces it shows me are as follows:

![image](https://user-images.githubusercontent.com/26175588/165042178-9c9fa2dc-e39b-47b1-a65a-74b0d4d19378.png)

#12 [7/8] RUN export CUDA_HOME=/usr/local/cuda && ./scripts/install_rnnt_loss.sh
#12 0.306 Installing warp-transducer...
#12 0.307 Cloning into 'warp-tran

[2022-05-01 05:28] HesNobi commented on #185
HI. I am facing the same problem. the contextnet `test.py` takes forever. I am wondering if I need to make a modification or to use any specific configuration? thanks for this great project.

![image](https://user-images.githubusercontent.com/36954719/166133371-29812b86-9973-4e8e-ab38-2425ab785fe9.png)

Tensorflow 2.8.0 (on GPU and CPU)
Python 3.8
pip from source (master)

Config file:
[code]

[2022-05-05 12:25] usimarit commented on #257
@CapitanMurloc The `warp-transducer` is deprecated and no longer supported to resolve errors, please use the `rnnt loss in tf` by uninstalling (if installed) `warprnnt-tensorflow`

[2022-05-18 14:56] Turan111 opened #258 "How to get audio - word piece alignment for the conformer model"
I have trained conformer model for the Librispeech config example. I would like to get audio - word piece alignment. to get output word pieces belongs to which parts of audio.

[2022-05-24 09:04] usimarit commented on #257
I'm closing this here. Feel free to reopen if you have any question.

[2022-05-24 09:20] usimarit commented on #258
@Turan111 you can check out the function `recognize_tflite_with_timestamp` in `base_transducer` file. This function returns transcript with its timestamp. So I think we can take the idea of this function to align the output classes with its input instead of the whole transcript.

[2022-06-14 23:43] ksettaluri6 opened #259 "Pre-trained RNN-T .h5 to tflite Conversion Issue"
Hello,

I am trying to take this [pre-trained RNN-T model saved as h5](https://drive.google.com/drive/folders/1rYpiYF0F9JIsAKN2DCFFtEdfNzVbBLHe) and convert it to tflite.

I have installed the required packages according to the requirements.txt, and have tried unsuccessfully to convert to tflite using various TensorFlow versions (for example tf 2.5 has tensorflow-text=2.5 and tensorflow-io=0.18).

[2022-07-02 18:31] hyunwin commented on #209
Hi,

Was this issue fixed? I'm also having difficulty converting the Conformer model to a SavedModel format. Can anyone provide step-by-step instructions on how to do this? I was able to run the pretrained Conformer model but need to convert it into a SavedModel format.

[2022-07-02 18:31] Aegon007 commented on #209
您好，您的邮件我已收到。我会尽快给您回复。祝好！

[2022-07-04 02:45] hyunwin opened #260 "How to Create a SavedModel with the Conformer Model"
Hello!

I am pretty new to TensorFlow and have been tasked to deploy TensorFlowASR using Docker. In order to do that, I need the .pb file from the pretrained Conformer Model but don't know exactly how to obtain that. I have tried numerous excerpts of Python code that saves Keras models and creates a .pb file but none were successful. Please help me out!

[2022-07-12 04:34] usimarit commented on #260
@hyunwin Have you tried this code: [gen_saved_model.py](https://github.com/TensorSpeech/TensorFlowASR/blob/main/examples/conformer/inference/gen_saved_model.py)?

[2022-07-12 06:10] hyunwin commented on #260
Hello,

Yes I have. I was able to get a .pb file but I don't know if the model is pretrained or not from the gen_saved_model.py

[2022-07-12 07:05] usimarit commented on #260
@hyunwin The script loads the trained weight [here](https://github.com/TensorSpeech/TensorFlowASR/blob/main/examples/conformer/inference/gen_saved_model.py#L52) 😄

[2022-07-12 22:49] hyunwin commented on #260
Oh I see, so if I get the latest.h5 file from the pretrained-subword-conformer.zip, would that output the pretrained .pb file?

[2022-07-16 02:49] usimarit commented on #260
Yeah basically like that. But I'm working on exporting pb for only the model.

[2022-07-18 04:07] hyunwin commented on #260
Hi again, I was trying to serve the saved_model.pb file that I got from the Conformer model using this tutorial:
https://www.tensorflow.org/tfx/serving/docker

I haven't gotten any luck as I think I need the variables and assets folder as well in order to serve it.

[2022-07-25 17:08] wwyl2000 opened #261 "training with LibriSpeech problem"
Hi,
I tried to train conformer CTC subword models with LibriSpeech and got some problems. The training stopped after one epoch, and i did not see saved models. Following is the information i got after ending the 1st epoch.

-----------
14269/14269 [==============================] - ETA: 0s - loss: 382.10812022-07-24 22:14:38.276447: W tensorflow/core/grappler/optimizers/data/auto_shard.cc:766] AUT

[2022-07-25 20:52] hammondm opened #262 "notebooks"
Hi
I'm trying to run the conformer notebook and getting an error. The only thing I've changed in that notebook is the location of the dataset and reducing epochs to 2 for test purposes.

It says that `tensorflow.python.keras.mixed_precision` has no attribute `experimental`. This error seems to come from `tensorflow_asr/models/base_model.py`.

Googling around, it looks like things were restructured

[2022-07-28 18:42] wwyl2000 opened #263 "continue training"
Hi,

I started the training process and save some model in checkpoints. How can i use the most recent saved models and continue my training? If i start the training, will it load the most recent saved models or start from the very beginning?

[2022-07-28 19:31] wwyl2000 commented on #263
I found the solution. Thanks!

[2022-07-28 19:31] wwyl2000 commented on #261
Solved!

[2022-07-28 20:50] #261 closed

[2022-07-29 01:26] wwyl2000 opened #264 "unexpected truncation of the dataset"
Hi,

After one epoch, i got the following information:
W tensorflow/core/kernels/data/cache_dataset_ops.cc:768] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You shou

[2022-08-24 09:16] usimarit commented on #262
@hammondm The `tensorflow.python.keras.mixed_precision.experimental` is removed from tensorflow>=2.9
So can you use tf2.8? I'll remove the experimental in the next update, and restrict to only support tf>=2.8

[2022-08-24 09:16] Aegon007 commented on #262
您好，您的邮件我已收到。我会尽快给您回复。祝好！

[2022-08-24 15:57] hammondm commented on #262
Hi

Thanks. Just to be clear, should I change my installs like this:

[code]

mike h

[2022-08-24 21:07] hammondm commented on #262
Updating.
I ran the install just as described above, some warnings, but install succeeded.
Haven't got the notebook working yet; it's looking for `transcript.tsv`, so I have to sort that out next.

[2022-08-24 21:22] hammondm commented on #262
Alas, the same error:

[code]

I wonder if `pip3 install -e ".[tf2.8]"` is doing something it shouldn't, overriding my own versions above. If I type `pip list`, I get the list below.

mike h

[code]

[2022-08-24 22:05] hammondm commented on #262
Eureka!

Seems to be working now. Here's the steps:

[code]
Still training....

[2022-08-26 15:04] EZMarouane commented on #263
can you @wwyl2000 help me on that i found the same probleme

[2022-08-26 17:11] wwyl2000 commented on #263
You need to pass in the model you want to start with with the parameter "pretrained" in train.py, then it will continue training from the pretrained model you set.

[2022-08-28 15:09] usimarit commented on #263
@wwyl2000 The [https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/BackupAndRestore?hl=en](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/BackupAndRestore?hl=en) do this for us. You just need to specify the `states_dir` in the `config.yml` and just start the training, it will load the model, epoch info, optimizer from the `states_dir` and RESUME the training.

[2022-08-28 15:13] usimarit commented on #262
@hammondm I'll close the issue here, feel free to reopen if you have any more questions. Thanks 😄

[2022-08-28 15:13] #262 closed

[2022-08-29 03:42] wwyl2000 commented on #263
@usimarit Cool, this method is much better, efficient. Thanks!

[2022-09-02 04:38] usimarit commented on #263
I'll close the issue here. Feel free to reopen if you have further questions 😄

[2022-09-02 04:38] #263 closed

[2022-09-02 04:41] usimarit commented on #255
I'll close the issue here. Feel free to reopen if you have further questions.

[2022-09-02 04:41] #255 closed

[2022-09-02 04:42] usimarit commented on #258
I'll close the issue here. Feel free to reopen if you have further questions.

[2022-09-02 04:42] #258 closed

[2022-09-02 04:44] usimarit commented on #264
Hi @wwyl2000, let me check if I can get rid of that warning.

[2022-09-02 04:58] usimarit commented on #243
Yes, usually we train on 20 epochs to reach the loss around 5 to 9

[2022-09-02 05:00] usimarit commented on #243
I’ll check the code that create the directory automatically. However, to ensure it works, we can create directories first, setup all the files and path correctly before training.
I’ll close the issue here. Feel free to reopen if you have further questions.

[2022-09-02 05:00] #243 closed

[2022-09-02 05:15] usimarit commented on #239
@neso613 @nyadla-sys github only stores the code, the pretrained models I shared on google drive.

@nyadla-sys Some ops are not supported to quant to int8, so we have to accept that (or wait until tf supports). You can try to convert tflite with any options as you want, but I’m not guarantee that it will convert successfully (except the default option of tflite conversion)

I’ll close the issue he

[2022-09-02 05:15] #239 closed

[2022-09-02 05:16] usimarit commented on #237
I’ll close the issue here due to inactivity. Feel free to reopen if you have further questions.

[2022-09-02 05:16] #237 closed

[2022-09-02 05:19] usimarit commented on #199
I’ll close the issue here. Feel free to reopen if you have further questions.

[2022-09-02 05:19] #199 closed

[2022-09-02 05:20] usimarit commented on #207
I’ll close the issue here. Feel free to reopen if you have further questions.

[2022-09-02 05:20] #207 closed

[2022-09-02 05:21] usimarit commented on #221
I’ll close the issue here due to inactivity. Feel free to reopen if you have further questions.

[2022-09-02 05:21] #221 closed

[2022-09-02 05:22] usimarit commented on #197
I’ll close the issue here due to inactivity. Feel free to reopen if you have further questions.

[2022-09-02 05:22] #197 closed

[2022-09-02 05:24] usimarit commented on #188
I’ll close the issue here due to inactivity. Feel free to reopen if you have any more questions.

[2022-09-02 05:24] #188 closed

[2022-09-02 05:29] usimarit commented on #185
@HesNobi Did you meet this issue on the up-to-date main branch?

[2022-09-02 05:32] usimarit commented on #246
@hsdrhsr I’ll update the right results in the next PR

I’ll close the issue here. Feel free to reopen if you have further questions.

[2022-09-02 05:32] #246 closed

[2022-09-02 05:36] usimarit commented on #201
I’ll close the issue here. Feel free to reopen if you have any more questions.

[2022-09-02 05:36] #201 closed

[2022-09-02 05:37] usimarit commented on #214
I’ll close the issue here due to inactivity. Feel free to reopen if you have further questions.

[2022-09-02 05:37] #214 closed

[2022-09-02 05:42] usimarit commented on #175
@curiousjit I don’t have any jetson nano, so I won’t be able to help you here.

I’ll close the issue here.
Feel free to create issues if you have questions on training, testing, serving tensorflow-asr.

[2022-09-02 05:42] #175 closed

[2022-09-02 05:45] usimarit commented on #169
I’ll close the issue here due to new version of subword/wordpiece will be used.
I’ll test with vietnamese dataset and feedback on the readme of the repo.
Feel free to reopen if you have further questions.

[2022-09-02 05:45] #169 closed

[2022-09-02 05:46] usimarit commented on #160
I’ll close the issue here due to inactivity. Feel free to reopen if you have further questions.

[2022-09-02 05:46] #160 closed

[2022-09-08 04:34] liuyibox opened #265 "TypeError: Unable to serialize 144.0 to JSON. Unrecognized type <class 'tensorflow.python.framework.ops.EagerTensor"
TF-GPU 2.9
Ubuntu 22.04
Nvidia A30 x 3
python 3.8

When I was trying to run through the pipeline of training the conformed, I cannot save it at the end of first epoch. It reports the error `TypeError: Unable to serialize 144.0 to JSON. Unrecognized type <class 'tensorflow.python.framework.ops.EagerTensor'>.` Does this mean I want to compile the tensorflow model with the run_eagerly set to be True?

[2022-09-08 04:44] usimarit commented on #265
@liuyibox Can you share the config?

[2022-09-08 04:49] liuyibox commented on #265
Below is my config. By the way, I remove the mirrorStrategy in the code because I cannot make it run with the mirrorStrategy, so probably this is the cause of the error since the original code compile the graph `with strategy.scope():` and I remove this strategy parts in the train.py file

speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  num_feature_bins: 80
  feature_type: log

[2022-09-08 04:55] usimarit commented on #265
@liuyibox There're still some issues when using "save_weights_only: False" (I'm working on this). So you should use "save_weights_only: True" to only store the weights in the checkpoints.

The mirrorStrategy can work for 1GPU, if you have multiple gpus you can pass --devices=[0,1] to use only on gpu 0 and 1, or --devices=[0] or --devices=[1] to use single corresponding gpu.

[2022-09-08 05:04] liuyibox commented on #265
Thanks @usimarit
Here is my train.py. With the mirrorstrategy, the training process waits forever after loading the cudnn library 3 time for the 3 GPU cards and does not proceed to the horizontal progress bar. During the forever waiting, the GPU memory and utilization are fully saturated even if I install the nccl. I think they are busy with something else. So I have to remove the strategy, any hi

[2022-09-08 10:24] usimarit commented on #265
@liuyibox Did the training pass to the stage where the model's summary is printed?
The `run_eagerly=True` make the model training is not wrapped in `tf.function`, therefore slow down the training, eagerly should be used for debugging only.

[2022-09-08 16:19] liuyibox commented on #265
This issue is solved when I use "save_weights_only: True". I will open another issue for the mirrorstrategy training issue. Thank you.

[2022-09-08 16:19] #265 closed

[2022-09-08 20:16] liuyibox opened #266 "ValueError: Shape mismatch in layer #1 (named conformer_prediction) for weight conformer/conformer_prediction/conformer_prediction_embedding/embeddings:0"
I was trying to run the test.py for testing the saved h5 model. However, the error is "ValueError: Shape mismatch in layer # 1 (named conformer_prediction) for weight conformer/conformer_prediction/conformer_prediction_embedding/embeddings:0. Weight expects shape (774, 320). Received saved weight with shape (1030, 320)". I think the model architectures used for training and testing are the same. H

[2022-09-08 21:22] liuyibox commented on #266
The error comes from the fact I did not use "subwords: bool = True" in the test.py. I'm closing this issue.

[2022-09-08 21:22] #266 closed

[2022-09-08 21:57] liuyibox opened #267 "Multi-GPU card training with MirrorStrategy wait forever after loading the cudnn"
TF-GPU 2.9
Ubuntu 22.04
Nvidia A30 x 3
python 3.8

I was trying to train the librispeech with mirrorstrategy, but it waits forever after loading cuDNN 3 times, each time for one GPU card. Soon after that, we should expect the horizontal progress bar, however, it stops there forever. Perhaps this is related to the nccl library, but I did not see any error or warning messages related to this in the

[2022-09-08 23:23] liuyibox opened #268 "Empty TFLite output"
After I converted the trained h5 model to the tflite model, I wanted to test the tflite model with an audio file. However, I got empty output after feeding an audio input. Is this expected as a normal case or I made some mistakes during the tflite conversion? Why did I get an empty output?

Below are the tflite inference log, run_tflite_model.py, and gen_tflite_model.py, respectively.

[code]

[co

[2022-09-13 00:24] christina284 opened #269 "rnn_transducer test error"
Hello, I am trying to run test.py form the rnn_transducer example but the following error keeps coming up...
![Screenshot from 2022-09-13 03-22-21](https://user-images.githubusercontent.com/30560364/189781008-f5848b91-a0af-4bbb-8e1a-c2f43d3ceab1.png)
Is this an error or am I doing something wrong?

My config.yml file looks like this:
`
speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms

[2022-09-13 17:17] usimarit commented on #269
@christina284 Please make sure you passed the flag `--subwords` to the `python test.py --subwords`

[2022-09-14 07:07] #269 closed

[2022-09-14 07:08] christina284 opened #270 "rnn transducer inference"
Can someone explain what is the correct pipeline to inference my own data in rnn t without converting to tflite if possible?

[2022-09-16 01:01] liuyibox commented on #268
Is this because the run_tflite_model.py file did not organize the input as the way the training dataset did? run_tflite_model.py directly feeds the raw audio into the tflite model instead of doing preprocessing, e.g., stft.

[2022-09-17 07:00] liuyibox commented on #268
I used the pretrained tflite models on the drive for inference and it does output the correct speech transcripts as expected. So this does not necessarily need preprocessing.

However, the weird thing is after I convert the h5 model on the driver to tflite and I inference on that tflite model, the inference outputs weird transcripts, how can this happen? Can you provide the h5 models for the 2 tfl

[2022-09-19 18:35] liuyibox commented on #268
The "gen_tflite_model.py" works well. It turns out we definitely need more epochs to train the conformed models. After 20 epochs training, the conformer tflite model can outout "kutches me and i am bed" something meanful. I'm closing this issue.

[2022-09-19 18:35] #268 closed

[2022-09-24 17:44] liuyibox opened #271 "RNNT loss"
I have tried to use warprnnt-tensorflow to compute the loss, however, it turns out warprnnt-tensorflow binding does not support our GPU (A30). So I think I need to focus on the computing the loss using tensorflow rnnt loss.

The code to compute the warprnnt is quite complicated here: https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/losses/rnnt_loss.py#L236. Can we have any re

[2022-09-27 05:50] liuyibox commented on #267
I can train with multiple GPUs after referring to this [issue](https://github.com/hunglc007/tensorflow-yolov4-tflite/issues/171). I'm closing this issue.

[2022-09-27 05:50] #267 closed

[2022-09-30 03:11] maxeduc commented on #231
Just tried this repo, and agreed. It seems either the wrong config file was uploaded or there's a regression in the repo (or Tensorflow). Any tips on what's happening here would be greatly appreciated.

![tensorspeech-loss](https://user-images.githubusercontent.com/114715708/193181984-4828d12c-1435-4538-93c8-e59a4276222e.png)

[2022-10-03 23:18] liuyibox opened #272 "conformer.tflite increases the wer compared to tensorflow conformer"
I've naively trained a TensorFlow conformer model, the WER is decent as 17%, however, when I convert it into the tflite format using the inference/gen_tflite_model.py, the wer increased to 37%. This not happens when I convert other TensorFlow model, e.g., Bert. Do we need to specify any optimization configurations for this conversion to maintain the low WER after conversion? Thanks.

[2022-10-14 00:41] NusratNB commented on #254
I've also encountered the same problem. I've followed the solutions which are given on this issue, but it didn't work:
https://github.com/tensorflow/tensorflow/issues/44281

[2022-10-14 01:22] NusratNB commented on #254
@guokr233 can you try this solution:
https://github.com/tensorflow/tensorflow/issues/50735#issuecomment-912320850

[2022-10-17 11:57] cosminc98 opened #273 "Unused dependency Pillow incompatible with python 3.6"
If I'm not wrong, the "Pillow" library was introduced [here](https://github.com/TensorSpeech/TensorFlowASR/commit/37ea12af04a8f2c13f75a617f4aa4331f95ce945#diff-4d7c51b1efe9043e44439a949dfd92e5827321b34082903477fd04876edb7552R36) first and it's not used at all. In this case, it should be removed as it is [incompatible with python 3.6](https://pillow.readthedocs.io/en/stable/installation.html#python

[2022-10-27 15:18] liuyibox commented on #271
the install_rnnt_loss script in the scripts folder should do the correct installation of warp_rnnt_loss.

[2022-10-27 15:18] #271 closed

[2022-11-11 14:08] usimarit commented on #273
#253 will fix this

[2022-11-11 14:09] Aegon007 commented on #273
您好，您的邮件我已收到。我会尽快给您回复。祝好！

[2022-11-20 20:04] liuyibox commented on #259
Any updated solution here? I encountered the same issue here with tf2.9.

[2022-11-20 20:06] liuyibox commented on #247
Any updated solution here? I encountered the same issue here with tf2.9.

[2022-11-20 20:06] liuyibox commented on #236
Any updated solution here? I encountered the same issue here with tf2.9.

[2022-11-21 04:22] liuyibox commented on #259
This bug has been resolved [here](https://github.com/tensorflow/tensorflow/issues/42410#issuecomment-1201150119). Basically, we just need to load model while are are loading the concrete function, i.e., change [this line](https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/helpers/exec_helpers.py#L41) to `converter = tf.lite.TFLiteConverter.from_concrete_functions([concrete_func

[2022-11-21 04:23] liuyibox commented on #247
This bug has been resolved https://github.com/tensorflow/tensorflow/issues/42410#issuecomment-1201150119. Basically, we just need to load model while are are loading the concrete function, i.e., change [this line](https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/helpers/exec_helpers.py#L41) to converter = tf.lite.TFLiteConverter.from_concrete_functions([concrete_func], model)

[2022-11-21 04:23] liuyibox commented on #236
This bug has been resolved https://github.com/tensorflow/tensorflow/issues/42410#issuecomment-1201150119. Basically, we just need to load model while are are loading the concrete function, i.e., change [this line](https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/helpers/exec_helpers.py#L41) to converter = tf.lite.TFLiteConverter.from_concrete_functions([concrete_func], model)

[2022-11-22 20:26] gcervantes8 commented on #124
@usimarit Have you been able to get a better WER with conformer?  I see a lot of changes in the word piece branch.

With mixed precision and batch size 16 (effective batch size 96), the best Librispeech WER I've gotten is 6.4%.

With a medium conformer model with mixed precision and batch size 12 (effective batch size 72), the best WER I've gotten is 4.6%.  (Warmup steps 40k, with only Librispeech

[2022-11-24 03:51] tuntun990606 opened #275 "Is the Vietnamese dataset INFoRe a single speaker dataset"
Is the Vietnamese dataset INFoRe a single speaker dataset？There are many folders in the compressed package. I'm not sure if they are the words of one person

[2022-11-24 09:06] usimarit commented on #275
@tuntun990606 the 25h dataset seems to be one person (I think), the others are multiple.

[2022-11-26 08:58] yiqiaoc11 commented on #259
I find another issue while deploy the tflite of 21h5 as below:
2022-11-26 00:51:46.362790: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX AVX2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler fl

[2022-11-26 19:41] StuartIanNaylor opened #276 "full int8 quantisation"
Just a question but is there or has anyone managed to convert one of the models to full int3 quantisation?

I am wondering if its possible to use ArmNN and run ASR on the Mali?

Any info would be greatly approeciated and purely a question

[2022-11-29 09:44] #273 closed